---
layout: changelog
title: LTS Changelog
show_ratings: true
has_rss: true
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/doc/upgrade-guide">
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
    Upgrade Guide
  </a>
---

.ratings
  - # Load the most recent 25 changelogs (latest first)
  - recent_changelogs = site.changelogs[:lts].reverse.take(25)
  - recent_changelogs.each do |release|
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      %div
        = partial('../_partials/release-header.html.haml', :release => release, :url => 'changelog-stable')
        - if release.changes && release.lts_changes && release.lts_baseline
          .app-releases__notable-changes{:style => "margin-top: 15px"}
            = "Changes since #{release.lts_baseline}"
        - if release.changes
          %div.app-releases__list__items
            = partial('../_partials/changelog-changes.html.haml', :changes => release.changes)

      - if release.changes && release.lts_changes
        .app-releases__notable-changes
          - if release.lts_predecessor
            = "Notable changes since #{release.lts_predecessor}"
        %div.app-releases__list__items
          = partial('../_partials/changelog-changes.html.haml', :changes => release.lts_changes)

%a.archive-link{:href => '/changelog-stable-old/'}
  View Older Changelog


.app-banner
  Changelog of LTS releases of more than two years old can be found
  %a{:href => '/changelog-stable-old/'}
    in the LTS changelog archive.
