---
layout: changelog
title: LTS Changelog
show_ratings: true
has_rss: true
---

%div{:class => 'app-banner'}
  See the
  %a{:href => '/doc/upgrade-guide/'}
    LTS upgrade guide
  for advice on upgrading Jenkins.

%div{:class => 'app-banner'}
  See the
  %a{:href => '/download/lts'}
    LTS Release Line
  for more information on Jenkins LTS.

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/lts.yml
  - site.changelogs[:lts].reverse_each do | release |
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      = partial('release-header.html.haml', :release => release)
      %p
        %small
          %a{:href => "/changelog-stable/#{release.version}/" }
            permalink to this entry
      -if release.changes and release.lts_changes and release.lts_baseline
        %div
          %strong
            -# TODO figure out how to get rid of this
            = "Changes since #{release.lts_baseline}:"
      %ul.image
        = partial('changelog-changes.html.haml', :changes => release.changes)
      -if release.changes and release.lts_changes
        %div
          %strong
            = "Notable changes since #{release.lts_predecessor}:"
        %ul.image
          = partial('changelog-changes.html.haml', :changes => release.lts_changes)
  = partial('changelog-stable.html')
