---
layout: changelog
title: LTS Changelog
show_ratings: true
---

%div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
  See the
  %a{:href => '/doc/upgrade-guide/'}
    LTS upgrade guide
  for advice on upgrading Jenkins.

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/lts.yml
  - site.changelogs[:lts].reverse_each do | release |
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      %h3{:id => "v#{release.version}" }
        = "What's new in #{release.version}"
        - if release.date
          = "(#{release.date})"
      - if release.banner
        %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
          = release.banner
      -if release.changes and release.lts_changes and release.lts_baseline
        %div
          %strong
            -# TODO figure out how to get rid of this
            = "Changes since #{release.lts_baseline}:"
      %ul.image
        = partial('changelog-changes.html.haml', :changes => release.changes)
      -if release.changes and release.lts_changes
        %div
          %strong
            = "Notable changes since #{release.lts_predecessor}:"
        %ul.image
          = partial('changelog-changes.html.haml', :changes => release.lts_changes)
  = partial('changelog-stable.html')
