---
layout: changelog
title: LTS Changelog
show_ratings: true
has_rss: true
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/doc/upgrade-guide">
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
    Upgrade Guide
  </a>
---

.ratings
  - # Load the most recent 25 changelogs (latest first)
  - recent_changelogs = site.changelogs[:lts].reverse.take(25)
  - recent_changelogs.each do |release|
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      %div
        = partial('../_partials/release-header.html.haml', :release => release, :url => 'changelog-stable')
        - tc = site.changelogs[:tested_configurations]
        - if tc && tc['lts']
          - release_version = Gem::Version.new(release.version)
          - platforms = tc['lts']['platforms'].select { |p| release_version >= Gem::Version.new(p['from']) && (p['to'].nil? || release_version <= Gem::Version.new(p['to'])) }.map { |p| p['value'] }
          - jdks = tc['lts']['jdks'].select { |j| release_version >= Gem::Version.new(j['from']) && (j['to'].nil? || release_version <= Gem::Version.new(j['to'])) }.map { |j| j['value'] }
          - if !platforms.empty? || !jdks.empty?
            %div.app-releases__tested-configs
              %div.app-releases__tested-configs__left
                %span.app-releases__tested-configs__label Tested Configurations:
                - if !platforms.empty?
                  %span Platforms: #{platforms.join(', ')}
              - if !jdks.empty?
                %div.app-releases__tested-configs__right
                  %span JDKs: #{jdks.join(', ')}
        - if release.changes && release.lts_changes && release.lts_baseline
          .app-releases__notable-changes{:style => "margin-top: 15px"}
            = "Changes since #{release.lts_baseline}"
        - if release.changes
          %div.app-releases__list__items
            = partial('../_partials/changelog-changes.html.haml', :changes => release.changes)

      - if release.changes && release.lts_changes
        .app-releases__notable-changes
          - if release.lts_predecessor
            = "Notable changes since #{release.lts_predecessor}"
        %div.app-releases__list__items
          = partial('../_partials/changelog-changes.html.haml', :changes => release.lts_changes)

.app-banner
  The changelog of historical releases can be found
  %a{:href => '/changelog-stable-old/'}
    in the LTS changelog archive.
