---
layout: changelog
title: LTS Changelog
show_ratings: true
has_rss: true
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/doc/upgrade-guide">
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
    Upgrade Guide
  </a>
---

.ratings
  - # Load the most recent 25 changelogs (latest first)
  - recent_changelogs = site.changelogs[:lts].reverse.take(25)
  - recent_changelogs.each do |release|
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      %div
        = partial('../_partials/release-header.html.haml', :release => release, :url => 'changelog-stable')
        - if release.tested_configurations
          %div.app-releases__tested-configs.app-releases__tested-configs--compact
            %div.app-releases__tested-configs__grid
              - if release.tested_configurations['platforms']
                %div.app-releases__tested-configs__item
                  %span.app-releases__tested-configs__label Platforms
                  %div.app-releases__tested-configs__tags
                    - release.tested_configurations['platforms'].each do |platform|
                      %span.app-releases__tested-configs__tag= platform.to_s.capitalize
              - if release.tested_configurations['jdks']
                %div.app-releases__tested-configs__item
                  %span.app-releases__tested-configs__label JDKs
                  %div.app-releases__tested-configs__tags
                    - release.tested_configurations['jdks'].each do |jdk|
                      %span.app-releases__tested-configs__tag= "JDK #{jdk}"
              - if release.tested_configurations['packages']
                %div.app-releases__tested-configs__item
                  %span.app-releases__tested-configs__label Packages
                  %div.app-releases__tested-configs__tags
                    - release.tested_configurations['packages'].each do |pkg|
                      %span.app-releases__tested-configs__tag= pkg.to_s.upcase
        - if release.changes && release.lts_changes && release.lts_baseline
          .app-releases__notable-changes{:style => "margin-top: 15px"}
            = "Changes since #{release.lts_baseline}"
        - if release.changes
          %div.app-releases__list__items
            = partial('../_partials/changelog-changes.html.haml', :changes => release.changes)

      - if release.changes && release.lts_changes
        .app-releases__notable-changes
          - if release.lts_predecessor
            = "Notable changes since #{release.lts_predecessor}"
        %div.app-releases__list__items
          = partial('../_partials/changelog-changes.html.haml', :changes => release.lts_changes)

.app-banner
  The changelog of historical releases can be found
  %a{:href => '/changelog-stable-old/'}
    in the LTS changelog archive.
