---
layout: changelog
title: LTS Changelog
show_ratings: true
has_rss: true
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/doc/upgrade-guide">
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
    Upgrade Guide
  </a>
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/lts.yml
  - recent_changelogs = site.changelogs[:lts].select { |release| release.date > 2.years.ago }.reverse
  - recent_changelogs.each do |release|
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.stable)
      %div
        = partial('release-header.html.haml', :release => release, :url => 'changelog-stable')
        - if release.changes and release.lts_changes and release.lts_baseline
          .app-releases__notable-changes{:style => "margin-top: 15px"}
            -# TODO figure out how to get rid of this
            = "Changes since #{release.lts_baseline}"
        %div.app-releases__list__items
          = partial('changelog-changes.html.haml', :changes => release.changes)

      - if release.changes and release.lts_changes
        .app-releases__notable-changes
          = "Notable changes since #{release.lts_predecessor}"
        %div.app-releases__list__items
          = partial('changelog-changes.html.haml', :changes => release.lts_changes)

  = partial('changelog-stable.html')

%a.archive-link{:href => '/changelog-stable/archive'}
  View Older Changelogs

