---
layout: simplepage
title: LTS Changelog
---

= partial('changelog-header.html')

%div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
  See our new
  %a{:href => '/doc/upgrade-guide/'}
    LTS upgrade guide
  for advice on upgrading Jenkins.

.ratings
  - site.changelogs[:lts].reverse_each do | release |
    %h3
      %a{:name => "v#{release.version}" }
        What's new in
        = release.version
      = "(#{release.date})"
    -if release.changes and release.lts_changes and release.lts_baseline
      %div
        %strong
          = "Changes since #{release.lts_baseline}:"
    %ul.image
      = partial('changes.html.haml', :changes => release.changes)
    -if release.changes and release.lts_changes
      %div
        %strong
          = "Notable changes since #{release.lts_predecessor}:"
      %ul.image
        = partial('changes.html.haml', :changes => release.lts_changes)
  = partial('changelog-stable.html')
