---
layout: simplepage
title: "Jenkins Roadmap"
year: 2020
tags:
- governance
- roadmap
---

%link{:href => "/css/roadmap.css", :rel => "stylesheet", :type => "text/css"}/

%p.roadmap-warning-banner
  %b WARNING!
  This is a draft roadmap for the Jenkins project, it should not be considered as a final version.
  See the Jenkins Enhancement Proposal for more information:
  %a{:href => "https://github.com/jenkinsci/jep/tree/master/jep/14"}
    JEP-14

%p
  Jenkins project offers a public community-driven roadmap.
  It aggregates key initiatives in all areas: features, infrastructure, documentation, community, etc.
  We do NOT commit on delivery dates, all initiatives depend on contributions.
  Anyone is welcome to participate!
  %a{:href => "/participate/"}
    Contributing to Jenkins

%table.roadmap-table
  %thead
    %tr
      - site.roadmap[:roadmap].statuses.each do | status |
        %th
          = status.displayName
  %tbody
    - site.roadmap[:roadmap].categories.each do | category |
      %tr.status-category
        %td.cat-name{:colspan => 4}
          %span
            = category.name
      %tr
        - site.roadmap[:roadmap].statuses.each do | status |
          %td{:class => "status #{status.id}"}
            - category.initiatives.each do | initiative |
              - if initiative.status == status.id

                %div{:class => "status #{status.id}"}
                  - if initiative.link
                    %a{:href => "#{initiative.link}", :target => "_blank"}
                      = initiative.name
                  - else
                    %a{:href => "/project/roadmap", :target => "_blank"}
                      = initiative.name
%h2 
  References
%ul
  %li
    %a{:href => "https://github.com/jenkinsci/jep/tree/master/jep/14"}
      JEP-14 - Roadmap process documentation
  %li
    %a{:href => "https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/roadmap/roadmap.yml"}
      Open data
