---
layout: default
title: Jenkins Artwork
---

/ Please add new logo meta-data to content/images/logos and content/_data/logo

.container
  .row
    &nbsp;
  .row
    .col-12
      %h1.text-center
        Artwork

      %p
        The original Jenkins logo was created by our friends at
        %a{:href => 'https://frontside.com'}
          Frontside.
        Special thanks to
        %a{:href => 'https://github.com/cowboyd'}
          Charles Lowell
        for his efforts championing the logo's original design. Usage
        guidelines for the original logo can be found on our
        %a{:href => '/press'}
          Press
        page. This page simply catalogues the many clever variations of Jenkins
        created by members of the Jenkins community.

      %p
        These images are also available in various sizes and SVG formats
        online, or as a zip file.  These are licensed under the
        %a{:href => 'https://creativecommons.org/licenses/by-sa/3.0/'}
          Creative Commons Attribution-ShareAlike 3.0 Unported License.
        Under the terms of this license, you must include an attribution to the
        Jenkins project, with a link (https://jenkins.io/), if you display
        these logos or derivates thereof.

%hr/

.container.artwork-container
  .row
    - site.logo.sort.to_h.each_pair do |key, logo|
      .col-12.col-md-6.col-lg-4
        .text-center
          %h3{:id => text_to_id(logo['name'])}
            = logo['name']
          %a{:href => expand_link("images/#{logo['url']}"), :target => '_blank', :rel => 'noreferrer noopener'}
            %img.logo-thumb{:src => expand_link("images/#{logo['url_256'] || logo['vector']}"), :alt => logo['name']}
          %p
            -if logo['credit']
              Created by
              - if logo['credit_url']
                %a{:href => logo['credit_url']}
                  = logo['credit']
              - else
                = logo['credit']
            - if logo['source']
              %br/
              %a{:href => logo['source_url'], :target => '_blank', :rel => 'noreferrer noopener'}
                = logo['source']
            - if logo['vector']
              %br/
              %small
                %a{:href => expand_link("images/#{logo['vector']}")}
                  SVG format

%hr/

.container
  .row
    .col-md-12
      %h2
        3D model

      %p
        3D version of Mr.Jenkins is 
        %a{:href => 'https://www.shapeways.com/model/2183445/mr-jenkins.html?materialId=26'}
          available here
        for order. If you want to print your own, 
        %a{:href => 'https://drive.google.com/file/d/1tdPch-TKVF6T7w3Et9aVYRnE-fRtm3cR/view?usp=sharing'}
          the data is here.

      %p
        As per the license of the original artwork, the 3D data model is under the same 
        %a{:href => 'http://creativecommons.org/licenses/by-sa/3.0/'}
          Creative Commons Attribution-ShareAlike 3.0 Unported License. 
        The 3D logo design is by 
        %a{:href => 'https://www.fast-d.com/search/engineers/2798'}
          akiki.

%hr/

.container
  .row
    .col-md-12
      %h2
        HeroForge 3D model

      %p
        The HeroForge 3D version of Mr.Jenkins is 
        %a{:href => 'https://www.heroforge.com/load_config%3D13211607/'}
          available here
        for order. If you want to print your own, HeroForge provides STL for purchase.

      %p
        As per the license of the original artwork, the 3D data model is under the same 
        %a{:href => 'http://creativecommons.org/licenses/by-sa/3.0/'}
          Creative Commons Attribution-ShareAlike 3.0 Unported License. 
        The 3D logo design is by 
        %a{:href => 'https://www.linkedin.com/in/w-douglas-west-0856094/'}
          D. West.

%hr/

.container
  .row
    .col-md-12
      %h3
        Adding a Logo
      %p
        In order to add a new logo, please refer to the 
        %a{:href => 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-a-logo'}
          CONTRIBUTING guidelines.

= partial('anchors.html.haml', :selector => '.artwork-container');
