---
layout: simplepage
title: Mailing Lists
---
- group = "mailing-lists/group.html.haml"

= partial("mailing-lists/summary.adoc")

%h2 English-language discussion lists

= partial(group, :name => "jenkinsci-users")

= partial(group, :name => "jenkinsci-dev")

= partial(group, :name => "jenkins-advocacy-and-outreach-sig",
  :description => "Mailing list for events, meet-ups, outreach programs, and fostering local communities.")

= partial(group, :name => "infra", :mailman => "true",
  :description => "Mailing list for jenkins-ci.org operations and infrastructure.")

= partial(group, :name => "jenkinsci-docs",
  :description => "Mailing list for collaborating on Jenkins user and developer documentation.")

= partial(group, :name => "jenkinsci-ux",
  :description => "Mailing list for collaborating on Jenkins user experience, design, and web interfaces.")

%h2 Discussion lists in other languages

= partial(group, :name => "jenkinsci-br",
  :description => "Jenkins grupo de usuários em Português do Brasil")

= partial(group, :name => "jenkinsci-ja",
  :description => "日本語ユーザーおよび開発者の為のメーリングリスト ")

= partial(group, :name => "jenkinsci-kr",
  :description => "Jenkins users list in Korean")

= partial(group, :name => "jenkinsci-zh",
  :description => "Jenkins 中文用户及开发者邮件组 ");

%h2 Read-only lists

= partial(group, :name => "jenkinsci-advisories")

= partial(group, :name => "jenkinsci-commits",
  :description => "Automated core and plugin commit notifications.")

= partial(group, :name => "jenkinsci-issues",
  :description => "Automated notifications from JIRA (JENKINS project only).")

%h2 Special Interest Groups Mailing Lists

- sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
- sigs.each do |item|
  - if item.links.googlegroup
    - group_description = "Mailing list for <a href=#{item.url}>#{item.title}</a> group."
    = partial(group, :name => item.links.googlegroup, :description => group_description)
