---
layout: simplepage
title: Mailing Lists
---
- group = "mailing-lists/group.html.haml"

= partial("mailing-lists/summary.adoc")

%h2 English-language discussion lists

= partial(group, :name => "jenkinsci-users")

= partial(group, :name => "jenkinsci-dev")

= partial(group, :name => "jenkins-advocacy-and-outreach-sig",
  :description => "Mailing list for events, meet-ups, outreach programs, and fostering local communities.")

= partial(group, :name => "jenkins-infra")

%h2 Governance board mailing list

= partial(group, :name => "jenkinsci-board")

%h2 Read-only lists

= partial(group, :name => "jenkinsci-advisories")

= partial(group, :name => "jenkinsci-commits",
  :description => "Automated core and plugin commit notifications.")

%h2 Special Interest Groups Mailing Lists

- sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
- sigs.each do |item|
  -# Skip the item if it does not contain links - a retired SIG
  - next if not item.links
  - if item.links.googlegroup
    - group_description = "Mailing list for <a href=#{item.url}>#{item.title}</a> group."
    = partial(group, :name => item.links.googlegroup, :description => group_description)
