---
layout: simplepage
title: Jenkins download and deployment
---

:ruby
  third_party = 'This is a package supported by a third party which may be not as frequently updated as packages supported by the Jenkins project directly'

%p
  The Jenkins project produces two release lines: Stable (LTS) and regular (Weekly).
  Depending on your organization's needs, one may be preferred over the other.
  See the links below for more information and recommendations about the release lines.

%script{:charset => "utf-8", :src => expand_link('js/download.js')}
.container
  .row
    .col-md-6
      %h4
        Stable (LTS)
      %p
        Long-Term Support (LTS) release baselines are chosen every 12 weeks from the stream of regular releases.
        Every 4 weeks we release stable releases which include bug and security fix backports.

        %a{'href' => 'lts'}
          Learn more…

        %p.details
          %a.item{:href=>'/changelog-stable'}
            Changelog
          |
          %a.item{:href=>'/doc/upgrade-guide'}
            Upgrade Guide
          |
          %a.item{:href=>'https://get.jenkins.io/war-stable/'}
            Past Releases
    .col-md-6
      %h4
        Regular releases (Weekly)
      %p
        This release line delivers bug fixes and new features rapidly to users and plugin developers who need them.
        It is generally delivered on a weekly cadence.
        %a{'href' => 'weekly'}
          Learn more…

      %p.details
        %a.item{:href=>'/changelog'}
          Changelog
        |
        %a.item{:href=>'https://get.jenkins.io/war/'}
          Past Releases

%h2
  Downloading Jenkins

%p
  Jenkins is distributed as WAR files, native packages, installers, and Docker images.
  Follow these installation steps:

%ol
  %li
    Before downloading, please take a moment to review the
    %strong
      %a{:href => '/doc/book/installing/#prerequisites'}
        Hardware and Software requirements
    section of the User Handbook.
  %li
    Select one of the packages below and follow the download instructions.
  %li
    Once a Jenkins package has been downloaded, proceed to the
    %strong
      %a{:href => '/doc/book/getting-started/installing/'}
        Installing Jenkins
    section of the User Handbook.
  %li
    You may also want to verify the package you downloaded.
    %a{:href => '/download/verify'}
      Learn more about verifying Jenkins downloads.

.container
  .row
    .col-md-6
      .list-group
        %strong
          %ion-icon{:name=>"download-outline"}
          Download Jenkins
          = site.jenkins.stable
          LTS for:

        .list-group
          %a.list-group-item.list-group-item-action{:href=>'https://get.jenkins.io/war-stable/' + site.jenkins.stable + '/jenkins.war'}
            %span.title
              Generic Java package (.war)
              %div{:style => 'font-size: x-small;overflow-wrap: break-word; word-wrap: break-word;'}
                - sha256_url = "https://repo.jenkins-ci.org/releases/org/jenkins-ci/main/jenkins-war/#{site.jenkins.stable}/jenkins-war-#{site.jenkins.stable}.war.sha256"
                - sha256_value = URI.open(sha256_url).read
                SHA-256:        
                = sha256_value
                %span{class: 'sha-256', data: {clipboard_text: sha256_value}} 
                  %button.btn.btn-outline-secondary{class: 'copy-button', onclick: 'event.preventDefault();copyToClipboard(event); changeIcon("copy-icon")', data: {clipboard_target: '.sha-256'}, style: 'border:transparent;padding:6px;','data-toggle': 'tooltip', 'data-placement': 'bottom',title: 'Click to copy'}
                    %ion-icon{name:"copy-outline", id: "copy-icon"}
          %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkins/jenkins'}
            %span.icon
            %span.title
              Docker
          %a.list-group-item.list-group-item-action{:href=>'https://artifacthub.io/packages/helm/jenkinsci/jenkins'}
            %span.icon
            %span.title
              Kubernetes
          %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian-stable/'}
            %span.icon
            %span.title
              Ubuntu/Debian
          %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat-stable/'}
            %span.icon
            %span.title
              Red Hat/Fedora/Alma/Rocky/CentOS
          %a.list-group-item.list-group-item-action{:href=>'/download/thank-you-downloading-windows-installer-stable'}
            %span.icon
            %span.title
              Windows
          %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse-stable/'}
            %span.icon
            %span.title
              openSUSE
          %a.list-group-item.list-group-item-action{tooltip_href('https://www.freshports.org/devel/jenkins-lts', third_party)}
            %span.icon
            %span.title
              FreeBSD
            %ion-icon{:name=>"library-outline"}
          %a.list-group-item.list-group-item-action{tooltip_href('https://packages.gentoo.org/packages/dev-util/jenkins-bin', third_party)}
            %span.title
              Gentoo
            %span
              &nbsp;
            %ion-icon{:name=>"library-outline"}
          %a.list-group-item.list-group-item-action{tooltip_href('/download/lts/macos', third_party)}
            %span.icon
            %span.title
              macOS
            %span
              &nbsp;
            %ion-icon{:name=>"library-outline"}
          %a.list-group-item.list-group-item-action{tooltip_href('https://openports.pl/path/devel/jenkins/stable', third_party)}
            %span.title
              OpenBSD
            %span
              &nbsp;
            %ion-icon{:name=>"library-outline"}
          %a.list-group-item.list-group-item-action{tooltip_href('https://pkg.openindiana.org/hipster/en/search.shtml?token=jenkins-core-lts', third_party)}
            %span.title
              OpenIndiana Hipster
            %span
              &nbsp;
            %ion-icon{:name=>"library-outline"}

    .col-md-6
      %strong
        %ion-icon{:name=>"download-outline"}
        Download Jenkins
        = site.jenkins.latest
        for:

      .list-group
        %a.list-group-item.list-group-item-action{:href=>'https://get.jenkins.io/war/' + site.jenkins.latest + '/jenkins.war'}
          %span.title
            Generic Java package (.war)
            %div{:style => 'font-size: x-small;overflow-wrap: break-word; word-wrap: break-word;'}
              - sha256_url = "https://repo.jenkins-ci.org/releases/org/jenkins-ci/main/jenkins-war/#{site.jenkins.latest}/jenkins-war-#{site.jenkins.latest}.war.sha256"
              - sha256_value = URI.open(sha256_url).read
              SHA-256:
              = sha256_value
              %span{class: 'sha-256', data: {clipboard_text: sha256_value}} 
                %button.btn.btn-outline-secondary{class: 'copy-button', onclick: 'event.preventDefault();copyToClipboard(event); changeIcon("copy-icon-1")', data: {clipboard_target: '.sha-256'}, style: 'border:transparent;padding:6px;','data-toggle': 'tooltip', 'data-placement': 'bottom',title: 'Click to copy'}
                  %ion-icon{name:"copy-outline",id:"copy-icon-1"}
        %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkins/jenkins/'}
          %span.icon
          %span.title
            Docker
        %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian/'}
          %span.icon
          %span.title
            Ubuntu/Debian
        %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat/'}
          %span.icon
          %span.title
            Red Hat/Fedora/Alma/Rocky/CentOS
        %a.list-group-item.list-group-item-action{:href=>'/download/thank-you-downloading-windows-installer'}
          %span.icon
          %span.title
            Windows
        %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse/'}
          %span.icon
          %span.title
            openSUSE
        %a.list-group-item.list-group-item-action{tooltip_href('https://archlinux.org/packages/extra/any/jenkins/', third_party)}
          %span.title
            Arch Linux
          %span
            &nbsp;
          %ion-icon{:name=>"library-outline"}
        %a.list-group-item.list-group-item-action{tooltip_href('https://www.freshports.org/devel/jenkins', third_party)}
          %span.title
            FreeBSD
          %span
            &nbsp;
          %ion-icon{:name=>"library-outline"}
        %a.list-group-item.list-group-item-action{tooltip_href('https://packages.gentoo.org/packages/dev-util/jenkins-bin', third_party)}
          %span.title
            Gentoo
          %span
            &nbsp;
          %ion-icon{:name=>"library-outline"}
        %a.list-group-item.list-group-item-action{tooltip_href('/download/weekly/macos', third_party)}
          %span.icon
          %span.title
            macOS
          %span
            &nbsp;
          %ion-icon{:name=>"library-outline"}
        %a.list-group-item.list-group-item-action{tooltip_href('https://openports.pl/path/devel/jenkins/devel', third_party)}
          %span.title
            OpenBSD
          %span
            &nbsp;
          %ion-icon{:name=>"library-outline"}
        %a.list-group-item.list-group-item-action{tooltip_href('https://pkg.openindiana.org/hipster/en/search.shtml?token=jenkins-core-weekly', third_party)}
          %span.title
            OpenIndiana Hipster
          %span
            &nbsp;
          %ion-icon{:name=>"library-outline"}

%hr
  NOTE: Packages with the
  %ion-icon{:name=>"library-outline"}
  library icon are maintained by third parties.
  Such packages may be not as frequently updated as packages supported by the Jenkins project directly.

%h2
  Deploying Jenkins in public cloud

%p{:style=>'margin-bottom:1cm;'}
  Many public cloud vendors provide their own Jenkins installation guides and packages.
  The guides provide instructions to deploy, maintain, and upgrade on the specific public cloud.
  Such guides may be used to quickly deploy Jenkins and, in many cases,
  to get an instance preconfigured to be used within the public cloud
  (e.g. bundled plugins, integrations with public cloud services, etc.).

%div.vendors-list
  %div.vendors
    %a{:href=>'https://aws.amazon.com/blogs/devops/setting-up-a-ci-cd-pipeline-by-integrating-jenkins-with-aws-codebuild-and-aws-codedeploy/'}
      %img.vendors-image{:src=>'/images/amazon_web_services.png', :width=>'320'}
    %p{:style=>'margin-bottom:1cm;margin-top:.2cm;width: 300px;'}
      Jenkins with AWS CodeBuild and AWS CodeDeploy

  %div.vendors
    %a{:href=>'https://docs.microsoft.com/en-us/azure/developer/jenkins/'}
      %img{:src=>'/images/microsoft_azure.png', :width=>'320'}
    %p{:style=>'margin-bottom:1cm;margin-top:.2cm;width: 300px;'}
      Jenkins quickstarts, tutorials, samples, and resources for Azure

  %div.vendors
    %a{:href=>'https://cloud.google.com/architecture/using-jenkins-for-distributed-builds-on-compute-engine'}
      %img{:src=>'/images/google_cloud.png', :width=>'320'}
    %p{:style=>'margin-bottom:1cm;margin-top:.2cm;width: 300px;'}
      Using Jenkins for distributed builds on Compute Engine

  %div.vendors
    %a{:href=>'https://docs.oracle.com/en/solutions/cicd-pipeline/'}
      %img{:src=>'/images/oracle_cloud_infrastructure.png', :width=>'320'}
    %p{:style=>'margin-bottom:1cm;margin-top:.2cm;width: 300px;'}
      Set up a CI/CD pipeline for cloud deployments with Jenkins

  %div.vendors
    %a{:href=>'https://github.com/civo/kubernetes-marketplace/tree/master/jenkins'}
      %img{:src=>'/images/civo.png', :width=>'320'}
    %p{:style=>'margin-bottom:1cm;margin-top:.2cm;width: 300px;'}
      Jenkins one-click deployment on
      %a.item{:href=>'https://www.civo.com/'}
        Civo Kubernetes

  %div.vendors
    %a{:href=>'https://bitnami.com/stack/jenkins/cloud'}
      %img{:src=>'/images/bitnami.png', :width=>'320'}
    %p{:style=>'margin-bottom:1cm;margin-top:.2cm;width: 300px;'}
      Images for
      %a.item{:href=>'https://bitnami.com/stack/jenkins/cloud/aws'}
        Amazon Web Services,
      %a.item{:href=>'https://bitnami.com/stack/jenkins/cloud/azure'}
        Azure,
      and
      %a.item{:href=>'https://bitnami.com/stack/jenkins/cloud/google'}
        Google Cloud
        
