---
layout: simplepage
title: Download and deploy
---
:ruby
  contributors = site.indexpage[:thank_you]

%p.app-description
  The Jenkins project produces two release lines: Stable (LTS) and weekly.
  Depending on your organization's needs, one may be preferred over the other.
  See the links below for more information and recommendations about the release lines.

%script{:charset => "utf-8", :src => expand_link('js/download.js')}

.app-download-page__release-lines
  %h4
    Stable (LTS)
  %p.app-description
    Long-Term Support (LTS) release baselines are chosen every 12 weeks from the stream of regular releases.
    Every 4 weeks we release stable releases which include bug and security fix backports.
    %a{'href' => 'lts'}
      Learn more…
  %div.details
    %a.app-button.app-button--primary{:href=>'/changelog-stable'}
      Changelog
    %a.app-button{:href=>'/doc/upgrade-guide'}
      Upgrade Guide
    %a.app-button{:href=>'https://get.jenkins.io/war-stable/'}
      Past Releases

  %h4
    Weekly releases
  %p.app-description
    This release line delivers bug fixes and new features rapidly to users and plugin developers who need them.
    It is generally delivered on a weekly cadence.
    %a{'href' => 'weekly'}
      Learn more…
  %div.details
    %a.app-button.app-button--primary{:href=>'/changelog'}
      Changelog
    %a.app-button{:href=>'https://get.jenkins.io/war/'}
      Past Releases

%h2
  Downloading Jenkins

%p.app-description
  Jenkins is distributed as WAR files, native packages, installers, and Docker images.
  Follow these installation steps:

%ol.app-description
  %li
    Before downloading, please take a moment to review the
    %a{:href => '/doc/book/installing/#prerequisites'}
      Hardware and Software requirements
    section of the User Handbook.
  %li
    Select one of the packages below and follow the download instructions.
  %li
    Once a Jenkins package has been downloaded, proceed to the
    %a{:href => '/doc/book/getting-started/installing/'}
      Installing Jenkins
    section of the User Handbook.
  %li
    You may also want to verify the package you downloaded.
    %a{:href => '/download/verify'}
      Learn more about verifying Jenkins downloads.

:ruby
  lts_releases = [
    {
        "image": "docker",
        "href": "https://hub.docker.com/r/jenkins/jenkins",
        "title": "Docker"
    },
    {
        "image": "kubernetes",
        "href": "https://artifacthub.io/packages/helm/jenkinsci/jenkins",
        "title": "Kubernetes"
    },
    {
        "image": "ubuntu",
        "href": "/doc/book/installing/linux/#debianubuntu",
        "title": "Ubuntu/Debian"
    },
    {
        "image": "redhat",
        "href": "/doc/book/installing/linux/#red-hat-centos",
        "title": "Red Hat Enterprise Linux and derivatives"
    },
    {
        "image": "fedora",
        "href": "/doc/book/installing/linux/#fedora",
        "title": "Fedora"
    },
    {
        "image": "windows",
        "href": "/download/thank-you-downloading-windows-installer-stable",
        "title": "Windows"
    },
    {
        "image": "opensuse",
        "href": "https://pkg.jenkins.io/opensuse-stable/",
        "title": "openSUSE"
    },
    {
        "image": "freebsd",
        "href": "https://www.freshports.org/devel/jenkins-lts",
        "title": "FreeBSD",
        "third_party": true
    },
    {
        "image": "gentoo",
        "href": "https://packages.gentoo.org/packages/dev-util/jenkins-bin",
        "title": "Gentoo",
        "third_party": true
    },
    {
        "image": "apple",
        "href": "/download/lts/macos",
        "title": "macOS",
        "third_party": true
    },
    {
        "image": "openbsd",
        "href": "/download/lts/openbsd",
        "title": "OpenBSD",
        "third_party": true
    },
    {
        "image": "openindiana",
        "href": "https://pkg.openindiana.org/hipster/en/search.shtml?token=jenkins-core-lts",
        "title": "OpenIndiana Hipster",
        "third_party": true
    }
  ]
  weekly_releases = [
    {
        "image": "docker",
        "href": "https://hub.docker.com/r/jenkins/jenkins/",
        "title": "Docker"
    },
    {
        "image": "ubuntu",
        "href": "/doc/book/installing/linux/#debian-weekly",
        "title": "Ubuntu/Debian"
    },
    {
        "image": "redhat",
        "href": "/doc/book/installing/linux/#red-hat-weekly",
        "title": "Red Hat Enterprise Linux and derivatives"
    },
    {
        "image": "fedora",
        "href": "/doc/book/installing/linux/#fedora-weekly",
        "title": "Fedora"
    },
    {
        "image": "windows",
        "href": "/download/thank-you-downloading-windows-installer",
        "title": "Windows"
    },
    {
        "image": "opensuse",
        "href": "https://pkg.jenkins.io/opensuse/",
        "title": "openSUSE"
    },
    {
        "image": "archlinux",
        "href": "https://archlinux.org/packages/extra/any/jenkins/",
        "title": "Arch Linux",
        "third_party": true
    },
    {
        "image": "freebsd",
        "href": "https://www.freshports.org/devel/jenkins",
        "title": "FreeBSD",
        "third_party": true
    },
    {
        "image": "gentoo",
        "href": "https://packages.gentoo.org/packages/dev-util/jenkins-bin",
        "title": "Gentoo",
        "third_party": true
    },
    {
        "image": "apple",
        "href": "/download/weekly/macos",
        "title": "macOS",
        "third_party": true
    },
    {
        "image": "openbsd",
        "href": "/download/weekly/openbsd",
        "title": "OpenBSD",
        "third_party": true
    },
    {
        "image": "openindiana",
        "href": "https://pkg.openindiana.org/hipster/en/search.shtml?token=jenkins-core-weekly",
        "title": "OpenIndiana Hipster",
        "third_party": true
    }
  ]

.app-download-page__downloads
  .app-download-page__downloads__item
    %p.app-download-page__download-header
      Download Jenkins
      = site.jenkins.stable
      LTS for:

    .app-download-page__download-list
      %a.app-button{:href=>'https://get.jenkins.io/war-stable/' + site.jenkins.stable + '/jenkins.war'}
        = File.read("content/images/symbols/coffee.svg")
        %div
          Generic Java package (.war)
          %span.app-download-page__sha256
            - sha256_url = "https://repo.jenkins-ci.org/releases/org/jenkins-ci/main/jenkins-war/#{site.jenkins.stable}/jenkins-war-#{site.jenkins.stable}.war.sha256"
            - sha256_value = URI.open(sha256_url).read
            SHA-256:
            = sha256_value
            %span{class: 'sha-256', data: {clipboard_text: sha256_value}}
              %button{class: 'app-button app-button--tertiary copy-button', onclick: 'event.preventDefault();copyToClipboard(event); changeIcon("copy-icon")', data: {clipboard_target: '.sha-256'}, :'data-tooltip' => 'Click to copy'}
                %ion-icon{name:"copy-outline", id: "copy-icon"}

        - lts_releases.each do |item|
          %a.app-button{:href => item[:href]}
            = File.read("content/images/symbols/#{item[:image]}.svg")
            = item[:title]
            - if item[:third_party]
              %span
                Third party

  .app-download-page__downloads__item
    %p.app-download-page__download-header
      Download Jenkins
      = site.jenkins.latest
      for:

    .app-download-page__download-list
      %a.app-button{:href=>'https://get.jenkins.io/war/' + site.jenkins.latest + '/jenkins.war'}
        = File.read("content/images/symbols/coffee.svg")
        %div
          Generic Java package (.war)
          %span.app-download-page__sha256
            - sha256_url = "https://repo.jenkins-ci.org/releases/org/jenkins-ci/main/jenkins-war/#{site.jenkins.latest}/jenkins-war-#{site.jenkins.latest}.war.sha256"
            - sha256_value = URI.open(sha256_url).read
            SHA-256:
            = sha256_value
            %span{class: 'sha-256', data: {clipboard_text: sha256_value}}
              %button{class: 'app-button app-button--tertiary copy-button', onclick: 'event.preventDefault();copyToClipboard(event); changeIcon("copy-icon-1")', data: {clipboard_target: '.sha-256'}, :'data-tooltip' => 'Click to copy'}
                %ion-icon{name:"copy-outline",id:"copy-icon-1"}

      - weekly_releases.each do |item|
        %a.app-button{:href => item[:href]}
          = File.read("content/images/symbols/#{item[:image]}.svg")
          = item[:title]
          - if item[:third_party]
            %span
              Third party

%p.app-description
  Packages marked third party may not be updated as frequently as packages supported by the Jenkins project directly.

%h2{:style => 'margin-top: 60px'}
  Deploying Jenkins in public cloud

%p.app-description
  Many public cloud vendors provide their own Jenkins installation guides and packages.
  The guides provide instructions to deploy, maintain, and upgrade on the specific public cloud.
  Such guides may be used to quickly deploy Jenkins and, in many cases,
  to get a controller preconfigured to be used within the public cloud
  (e.g. bundled plugins, integrations with public cloud services, etc.).

:ruby
  clouds = [
    {
      image: 'aws',
      title: 'Jenkins with AWS CodeBuild and AWS CodeDeploy',
      href: 'https://aws.amazon.com/blogs/devops/setting-up-a-ci-cd-pipeline-by-integrating-jenkins-with-aws-codebuild-and-aws-codedeploy/',
      background: '#FF9900',
      color: 'color-mix(in srgb, #FF9900 75%, var(--color))'
    },
    {
      image: 'azure',
      title: 'Jenkins quickstarts, tutorials, samples, and resources for Azure',
      href: 'https://docs.microsoft.com/en-us/azure/developer/jenkins/',
      background: '#0b61ca',
      color: 'color-mix(in srgb, #0b61ca 75%, var(--color))'
    },
    {
      "image": "google-cloud",
      "title": "Using Jenkins for distributed builds on Compute Engine",
      "href": "/doc/tutorials/tutorials-for-installing-jenkins-on-Google-Cloud/",
      "background": "#34a853",
      "color": "color-mix(in srgb, #34a853 75%, var(--color))"
    },
    {
      "image": "civo",
      "title": "Jenkins one-click deployment on Civo Kubernetes",
      "href": "https://github.com/civo/kubernetes-marketplace/tree/master/jenkins",
      "background": "#239DFF",
      "color": "color-mix(in srgb, #239DFF 75%, var(--color))"
    },
    {
      "image": "oracle",
      "title": "Set up Jenkins for cloud deployments in Oracle Cloud",
      "href": "https://docs.oracle.com/en/solutions/cicd-pipeline/",
      "background": "#C74634",
      "color": "color-mix(in srgb, #C74634 75%, var(--color))"
    },
    {
      "image": "bitnami",
      "title": "Images for Amazon Web Services, Azure, and Google Cloud",
      "href": "https://bitnami.com/stack/jenkins/cloud",
      "background": "#00577B",
      "color": "color-mix(in srgb, #00577B 75%, var(--color))"
    }
  ]

%div.app-info-cards
  - clouds.each do | item |
    %a.app-info-cards__item{:href => item[:href], :style => "--card-background: #{item[:background]}"}
      %div
        = File.read("content/images/symbols/#{item[:image]}.svg")
      %p
        = item[:title]
      %span.app-info-cards__learn-more
        Learn more
        %ion-icon{:name => "arrow-forward-outline"}

.thank-you-block
  .thank-you-box
    .contributor-data
      - contributors.each do |contributor|
        .image-div
          %img{ src: contributor['GH_HANDLE_AVATAR'], alt: "Avatar", width: "50", height: "50" }

        .desc-div
          %p
            Thank you 
            %a{ href: contributor['GH_HANDLE_URL'], target: "_blank" }= contributor['GH_HANDLE']
          %p
            for making 
            = contributor['NBR_PR']
            pull request#{'s' if contributor['NBR_PR'].to_i > 1}
          %p
            to the 
            - contributor['REPOSITORIES'].split.each_with_index do |repo, index|
              - repo_name = repo.split('/').last
              - if index == contributor['REPOSITORIES'].split.size - 1
                %a{ href: "https://github.com/#{repo}", target: "_blank" }=repo_name
              - unless index == contributor['REPOSITORIES'].split.size - 1
                = succeed ',' do
                  %a{ href: "https://github.com/#{repo}", target: "_blank" }=repo_name
          %p
            repo#{'s' if contributor['REPOSITORIES'].split.size > 1} in #{Date.parse(contributor['MONTH'] + "-01").strftime("%B %Y")}!
