---
layout: simplepage
title: Pipeline Examples
section: doc
---

:ruby
  require 'rouge'

  formatter = Rouge::Formatters::HTML.new
  lexer = Rouge::Lexers::Groovy.new

  examples_dir = File.expand_path(File.dirname(__FILE__) + '/../../_tmp/examples/pipeline-examples-master')
  pipeline_examples = File.join(examples_dir, 'pipeline-examples')

  # we must have a pipeline-examples directory, otherwise fail
  unless File.directory?(pipeline_examples)
    raise "Could not find directory file #{pipeline_examples}."
  end

  examples = []
  Dir.entries(pipeline_examples).sort.each do |dir|
    next if dir.start_with?('.')

    full_path = File.join(pipeline_examples, dir)
    readme = File.join(full_path, 'README.md')

    # We must have a readme for each directory otherwise we won't use it
    next unless File.directory?(full_path)
    next unless File.exist?(readme)

    readme = File.open(readme).read
    # Titlecase based off the directory name
    title = dir.gsub('-', ' ').split(' ').map { |w| w.capitalize }.join(' ')

    # Collect whatever groovy files, which represent the examples, into the array
    codes = Dir.glob("#{full_path}/*.groovy")

    examples << [dir, title, readme, codes]
  end



%div
  %p
    The following examples are sourced from the the
    %a{:href => 'https://github.com/jenkinsci/pipeline-examples'}
      pipeline-examples
    repository on GitHub and contributed to by various members of the Jenkins
    project. If you are interested in contributing your own example, please consult the
    %a{:href => 'https://github.com/jenkinsci/pipeline-examples#introduction'}
      README
    in the repository.

%div.toc#toc
  %div.toctitle
    Table of Contents
  %ul.sectlevel1
    - examples.each do |dir, title, y, z|
      %li
        %a{:href => ['#', dir].join('')}
          = title


%div.examples
  - examples.each do |dir, title, readme, codes|
    %div.example
      :ruby
        # Replacing markdown headers with ones one level further indented
        readme.gsub!(/^#/, '#####')

      %div.title
        %a{:name => dir}
        %h3
          = title

      %div.readme
        :plain
          <!--
          #{readme}
          -->
        :markdown
          #{readme}

      %div.code
        - codes.each do |code|
          :plain
            <!-- syntax highlighting #{File.basename(code)} -->
          %div.listingblock
            %pre.highlight
              = formatter.format(lexer.lex(File.read(code)))
