---
layout: default
title: Jenkins Special Interest Groups
---

.container
  .row.body
    .col-lg-9
      %h1
        Jenkins Special Interest Groups
      %p
        This page lists active Jenkins Special Interest Groups (SIGs).
        See
        %a{:href => "https://github.com/jenkinsci/jep/tree/master/jep/4", :target => "_blank"}
          JEP-4
        for more information about SiGs and the process for creating new ones.

      - sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
      - sigs.each do |item|
        %h1
          = item.title
        - if item.logo
          %img{:title => "Logo", :src => expand_link(item.logo), :style => "float:right"}
            = item.overview
        %ul
          - if item.links.googlegroup
            %li
              %a{:href => "https://groups.google.com/forum/#!forum/#{item.links.googlegroup}", :target => "_blank"}
                Mailing List
          - if item.links.gitter
            %li
              %a{:href => "https://gitter.im/#{item.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
                %img{:title => "Gitter", :src => "https://badges.gitter.im/#{item.links.gitter}.svg"}
        %p
          %a{:href => item.url}
            %strong
              Learn More
    .col-lg-3
      .sidebar-nav
