---
layout: default
title: Jenkins Special Interest Groups
---

.app-container.app-container--compact.app-sigs
  %h1
    Jenkins Special Interest Groups
  %p
    This page lists active Jenkins Special Interest Groups (SIGs).
    See
    %a{:href => "https://github.com/jenkinsci/jep/tree/master/jep/4"}
      JEP-4
    for more information about SIGs and the process for creating new ones.

  - sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
  - sigs.each do |item|
    -# Skip the item if it does not contain links - a retired SIG
    - next if not item.links
    .app-sigs__item
      .app-sigs__item__icon{:style => '--background: url("' + expand_link(item.logo) + '")'}
        - if item.logo.end_with?('.png')
          %img{:title => "Logo", :src => expand_link(item.logo), :width => "96"}
        - else
          = File.read("content/" + expand_link(item.logo))
      %div
        %a{:href => item.url}
          %h2
            = item.title
        %p
          = item.overview
        %ul
          - if item.links.googlegroup
            %li
              %a{:href => "https://groups.google.com/g/#{item.links.googlegroup}"}
                Mailing List
          - if item.links.gitter
            %li
              %a{:href => "https://app.gitter.im/#/room/##{item.links.gitter}"}
                %img{:title => "Gitter", :src => "https://badges.gitter.im/#{item.links.gitter}.svg"}
