---
layout: default
title: Jenkins Special Interest Groups
---

.container
  .row.body
    .col-lg-9
      %h1
        Special Interest Groups mailing lists

      %p
        This page contains all existing mailing lists for SIG.

      - sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
      - sigs.each do |item|
        - if item.links.googlegroup
          - email = item.links.googlegroup + "@googlegroup.com"
          %h3
            %a{:href => "mailto:#{item.links.googlegroup}@googlegroup.com", :target => "_blank"}
              = email
          %p
            Mailing list for
            %a{:href => "#{item.url}", :target => "_blank"}
              = item.title
            %br
            %a{:href => "http://groups.google.com/group/#{item.links.googlegroup}/topics", :target => "_blank"}
              archive
            |
            %a{:href => "mailto:#{item.links.googlegroup}+subscribe@googlegroups.com", :target => "_blank"}
              subscribe
            |
            %a{:href => "mailto:#{item.links.googlegroup}+unsubscribe@googlegroups.com", :target => "_blank"}
              unsubscribe
    .col-lg-3
      .sidebar-nav
