---
layout: simplepage
title: "GSoC 2019 Project Ideas"
year: 2019
tags:
- gsoc
- gsoc2019
links:
- gitter: jenkinsci/gsoc-sig
---
%img{:title => "Jenkins GSoC", :src => expand_link("/images/gsoc/jenkins-gsoc-logo_small.png"), :style => "float:right"}
%p
  = succeed '.' do
    This page aggregates project ideas for Google Summer of Code
    = page.year
  = succeed '.' do
    See more information about this project and applications
    %a{:href => expand_link("/projects/gsoc/")}
      on the Jenkins Google Summer of Code page
%p
  Below you can find project ideas which have been already proposed by potential mentors for this year.
  Other ideas may be proposed by interested mentors and students (e.g. new features in the core, "write a plugin for MY_TOOL_OR_SERVICE", etc.).
  Such project applications will be considered though applicants may need to work
  with the community and GSoC org admins to find potential mentors.
  More info:
  = succeed '.' do
    %a{:href => expand_link("/projects/gsoc/proposing-project-ideas/")}
      proposing project ideas

%table{:border => 1}
  %tbody
    %tr
      %th Project
      %th Skills
    - ideas = site.pages.select { |p| p.source_path =~ /\/content\/projects\/gsoc\/2019\/project-ideas\/[^\/]+.adoc/ }
    - ideas.each do |item|
      %tr
        %td
          %a{:href => item.url}
            %strong
              = item.title
          %br
            = succeed '.' do
              = item.goal
            %a{:href => item.url}
              Details
        %td
          = item.skills.join(", ")
