<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')
  %body
    = partial('toptoolbar.html.haml',:section=>'blogs', :specific=>'blogs')
    = partial('carousel.html.haml',:topic => 'blogs')

    %div.container
      .row.body
        %div#sidebar.col-md-8
          = partial('blogs.html.haml')

        %div#content.col-md-4
          = partial('bloggers.html.haml')
          = partial('blogtopics.html.haml')

    = partial('footer.html.haml')

    %div#github
      %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
          :title => "Edit #{page.relative_source_path} on GitHub"}
        :escaped
          [Improve this page]

      :plain
        &nbsp;

      %a{:href => "https://github.com/jenkins-infra/jenkins.io/commits/master/content/#{page.relative_source_path}",
          :title => "View #{page.relative_source_path} history on GitHub"}
        :escaped
          [Page history]

    = google_analytics_universal
