---
layout: simplepage
title: Jenkins Related Books
---

:css
  .col-md-12 {
    margin-bottom: 2rem;
  }
  .admonitionblock {
    margin: 2rem 0;
  }
  .book-image {
    max-height: 300px;
    max-width: 300px;
    margin: 8px;
  }
  @media(min-width: 576px) {
    .book-image {
       float: right;
    }
  }

=partial("books.adoc")

- site.books.values.sort_by{ |book| [-book['publication_year'], book['title']] }.each_with_index do |book, index|
  %h4
    %span
      - if book['url']
        %a{:href => book['url'], :target => '_blank'}
          = book['title']
      - else
        = book['title']
  - if book['image']
    %img.book-image{:src => expand_link('images/' + book['image'])}
  %div{:style => 'margin-bottom: 2rem'}
    - if book['author']
      %h5
        Authored by
        = book['author']
    - if book['authors']
      %h5
        Authored by
        = book['authors']
    - if book['publisher']
      %h5
        Published by
        = "#{book['publisher']}, #{book['publication_year']}"
    - if book['description']
      %p
        = book['description']
    - if book['quote']
      %blockquote
        = book['quote']
    %div{:style => 'clear: both;'}
