---
layout: simplepage
title: Jenkins Related Books
---

:css
  .col-md-12 {
    margin-bottom: 2rem;
  }
  #jenkins-related-books {
    margin-bottom: 2rem;
  }

- site.books.values.sort_by{ |book| [book['type'], book['title'], book['publication_year']] }.reverse.each_with_index do |book, index|
  - if book['image']
    %img{:src => expand_link('images/' + book['image']), :style => 'max-height: 300px; max-width: 300px; float: right; margin: 5px;'}
  %div{:style => 'margin-bottom: 2rem'}
    %h4
      %span
        - if book['url']
          %a{:href => book['url'], :target => '_blank'}
            = book['title']
        - else
          = book['title']
    - if book['author']
      %h5
        Authored by
        = book['author']
    - if book['authors']
      %h5
        Authored by
        = book['authors']
    - if book['publisher']
      %h5
        Published by
        = book['publisher']
    - if book['publication_year']
      %h5
        Published in
        = book['publication_year']
    - if book['publication_year']
      %h5
        Type:
        = book['type']
    - if book['description']
      %p
        = book['description']
    - if book['quote']
      %blockquote
        = book['quote']
    %div{:style => 'clear: both;'}