---
layout: simplepage
title: Jenkins Related Books
tight: true
---

:css
  .col-md-12 {
    margin-bottom: 2rem;
  }
  .admonitionblock {
    margin: 2rem 0;
  }
  .book-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
  }
  .book-image {
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .book-content {
    .author-info, .publisher-info {
      margin: 0.25rem 0;
      font-weight: 600;
    }
  }
  @media (max-width: 768px) {
    .book-container {
      grid-template-columns: 1fr;
    }
    .book-image {
      max-width: 100%;
      order: -1;
    }
  }

=partial("books.adoc")

- site.books.values.sort_by{ |book| [-book['publication_year'], book['title']] }.each_with_index do |book, index|
  .book-container
    .book-content
      %h4
        %span
          - if book['url']
            %a{href: book['url'], target: '_blank'}
              = book['title']
          - else
            = book['title']
      - if book['author']
        %p.author-info
          Authored by
          = book['author']
      - if book['authors']
        %p.author-info
          Authored by
          = book['authors']
      - if book['publisher']
        %p.publisher-info
          Published by
          = "#{book['publisher']}, #{book['publication_year']}"
      - if book['description']
        %p
          = book['description']
      - if book['quote']
        %blockquote
          = book['quote']
    - if book['image']
      %img.book-image{src: expand_link('images/' + book['image']), alt: book['title']}
