---
layout: simplepage
title: Changelog
---

= partial('changelog-header.html')

.ratings
  - site.changelogs[:weekly].reverse_each do | release |
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest)
      %h3{:id => "v#{release.version}" }
        = "What's new in #{release.version} (#{release.date})"
      - if release.summary
        %p
          %b
            = "Summary: "
          = "#{release.summary}"
      %ul.image
        = partial('changes.html.haml', :changes => release.changes)
  = partial('changelog-weekly.html')


%p
  %b
    Older changelogs can be found in a
    %a{:href => '/changelog-old/'}
      separate file
