!!! XML
%rss(version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:atom="http://www.w3.org/2005/Atom")

  %channel
    %title
      Jenkins Changelog
    %link
      https://jenkins.io/changelog
    %description
      Jenkins weekly release changelog
    %lastBuildDate
      #{Date.today.rfc822}

    - site.changelogs[:weekly].each do |release|
      %item
        %title Jenkins #{release.version}
        %link
          https://jenkins.io/changelog/#v#{release.version}
        %description
          = "<ul>".encode( { :xml => :text } )
          - release.changes.each do |change|
            = "<li>".encode( { :xml => :text } )
            #{change.type}:
            = change.message.encode( { :xml => :text } )
            = "</li>".encode( { :xml => :text } )
          = "</ul>".encode( { :xml => :text } )
        %guid
          jenkins-#{release.version}