<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')    
  %body
    = partial('toptoolbar.html.haml', :section=>'doc', :specific=>'doc')
    = partial('intro.html.haml',:className => 'tint')
    = partial('steps.html.haml',:title => 'Getting started with Jenkins', :steps => [{title:'Learn some things',id:1,short:'Learn more about this cool thing called Docker...',long:'This is the long description guy that really tells you what to do with Docker and why it is fun and good. Not sure why HTML is not working...'},{title:'Make containers',id:2,short:'Install this software to start doing awesomeness...',long:'This is the long description guy that really tells you what to do'},{title:'Make containers',id:3,short:'Containers can be used for everything you can possibly imagine, so check it out...',long:'This is the long description guy that really tells you what to do'},{title:'Deploy code',id:4,short:'Jenkins makes building with tools something easy and fun...',long:'This is the long description guy that really tells you what to do'}])
    
    .container
      .row.body
        .col-md-1
        .col-md-8
          %h2 Jenkins Documentation
          
          .doc-block
            %h4 Introdution
            %p Lorem ipsum dolor sit amet, per stet error laudem ei, cum autem vocent complectitur an. Agam possit dicunt duo ex, rationibus consectetuer vis no. In vix scaevola tacimates, mea constituam suscipiantur delicatissimi cu. Pri ut nibh antiopam, fierent repudiare mel ex, quo ne dico omnesque. Mel et perfecto concludaturque, eligendi efficiantur et qui. Brute dicat facilisi cu nam.
            %p Possit commune scriptorem ex vix, augue semper torquatos an est. Qui eu consul meliore recteque, sit diam dictas mandamus id. Id nec oporteat accusamus, ad eleifend constituto nam. Sed no clita nusquam, eu facilis dolores eos. In omittam explicari contentiones his, has prima erant te, usu clita inimicus dissentiet ea. Iuvaret singulis qui ei, liber libris vel ea. Te sea solet eleifend, vix primis ornatus deseruisse ne.
            %p Wisi lobortis pri ei. Maluisset aliquando instructior vel ea. Ut duo amet dicam. Dolorum mandamus accusamus cum no, vix ex hinc appellantur, vim bonorum copiosae euripidis ut.
          
          .doc-block            
            %h3 Setup and Installation
            
            .sub-block
              %h4 System requirement
              %p Jenkins requires Java7 or above to function. Java8 is recommended. Jenkins requires a fair amount of memory to operate well. Smaller installations should start around 256MB-1GB.

            .sub-block
              %h4 Unix/Linux Installation
              %p Jenkins has native integrations with the following OSes. See respective sections for how to make Jenkins run in the background automatically:
              %ul 
                %li Installing Jenkins as Solaris 10 service
                %li Installing Jenkins on Ubuntu
                %li Installing Jenkins on Red Hat Distributions
                %li Installing Jenkins with Docker
                
              %p Alternatively, if you have a servlet container that supports Servlet 2.4/JSP 2.0, such as Glassfish v2, Tomcat 5 (or any later versions), then you can run them as services, and deploy jenkins.war as you would any other war file. Container specific documentation is available if you choose this route.
            .sub-block
              %h4 Windows Installation
              %p If you're running on Windows it is good to run Jenkins as a service so it starts up automatically without requiring a user to log in. The easiest way is to run the Windows installer, linked from Jenkins' homepage. This also has the advantage of being easier to automate.

              %p The manual way is to follow Installing Jenkins as a Windows service. Alternatively, you can install a servlet container like GlassFish and Tomcat, which can run as a service by itself, and then deploy Jenkins to it.

              %p Since Jenkins was written to work on unix-like platforms, some parts assume the presence of unix-utilities. It is advised to install these as well on Windows. Install UnxUtils (this includes a shell that seems to work with forward and backwards slashes and does globbing correctly)(UnxUtils does not download), put it in the Windows PATH , and copy sh.exe to C:\bin\sh.exe (or whichever drive you use) to make shebang lines work. This should get you going. If UnxUtils gives you trouble (Fork Failed Errors), try Win-Bash.

              %ul
                %li Installing Jenkins as a Windows service
  
            .sub-block
              %h4 Installation Wizard
              %p TODO. This feature is under development.

            .sub-block
              %h4 Jenkins Offline Installation
              %p See details.

            .sub-block
              %h4 Case Studies
              %p Also, see how other people are deploying Jenkins/Hudson to get some idea of how to make it fit your environment.
            
              %ul
                %li How I setup Git, Gerrit, Jenkins, Nginx for 1 master with linux, windows, mac slaves for Continuous Delivery of Cpp builds and tests.
                %li Case study of Sven Reimers
                %li Case study of Kohsuke Kawaguchi
                %li Case study of Rhett Sutphin
                %li Case study of Ned Collyer
                %li Case Study of Arnaud Lacour
                %li Case Study of JBoss

              %p we'd love to list yours here. Please talk to us.
              
        .col-md-3
          %h5 Table of contents
          
          %ul.list-unstyled.toc
            %li 
              %a Setup and Installation
            %ul.active-section
              %li
                %a System requirement
              %li 
                %a Unix/Linux Installation
              %li 
                %a Windows Installation
              %li 
                %a Installation Wizard
              %li 
                %a Jenkins Offline Installation
              %li 
                %a Case Studies
            %li 
              %a Starting and Accessing Jenkins
            %li 
              %a Administering Jenkins
            %li 
              %a Logging and Access Logging
            %li 
              %a Building a software project
            %li 
              %a Building a maven2 project
            %li 
              %a Building a matrix project
            %li 
              %a Building an Android app and test project
            %li 
              %a Creating a Continuous Delivery (CD) Pipeline
            %li 
              %a Monitoring external jobs
            %li 
              %a Distributed builds
            %li 
              %a Features controlled by system properties
            %li 
              %a File fingerprint tracking
            %li 
              %a Using Jenkins plugins
            %li 
              %a Quicker navigation around Jenkins pages
