<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')    
  %body
    = partial('toptoolbar.html.haml', :section=>'more', :specific=>'docker')
    = partial('jumbotron.html.haml')
    = partial('steps.html.haml',:title => 'Getting started with Docker', :steps => [{title:'Learn some things',id:1,short:'Learn more about this cool thing called Docker...',long:'This is the long description guy that really tells you what to do with Docker and why it is fun and good. Not sure why HTML is not working...'},{title:'Make containers',id:2,short:'Install this software to start doing awesomeness...',long:'This is the long description guy that really tells you what to do'},{title:'Make containers',id:3,short:'Containers can be used for everything you can possibly imagine, so check it out...',long:'This is the long description guy that really tells you what to do'},{title:'Deploy code',id:4,short:'Jenkins makes building with Docker something easy and fun...',long:'This is the long description guy that really tells you what to do'}])
    = partial('quote.html.haml')
    = partial('media.html.haml', :media => [{title:'video',short:'Some text about the video goes here...',href:'https://youtu.be/38SAyBLSHUM',thumb:'http://img.youtube.com/vi/38SAyBLSHUM/0.jpg'},{title:'video',short:'Some text about the video goes here...',href:'https://youtu.be/38SAyBLSHUM',thumb:'http://img.youtube.com/vi/38SAyBLSHUM/0.jpg'},{title:'video',short:'Some text about the video goes here...',href:'https://youtu.be/38SAyBLSHUM',thumb:'http://img.youtube.com/vi/38SAyBLSHUM/0.jpg'},{title:'video',short:'Some text about the video goes here...',href:'https://youtu.be/38SAyBLSHUM',thumb:'http://img.youtube.com/vi/38SAyBLSHUM/0.jpg'},{title:'video',short:'Some text about the video goes here...',href:'https://youtu.be/38SAyBLSHUM',thumb:'http://img.youtube.com/vi/38SAyBLSHUM/0.jpg'}])
    
    .container
      .row.body
        .col-md-8
          = partial('blogs.html.haml')
        .col-md-4
          =partial('news.html.haml')
          =partial('plugins.html.haml')
          
        
    = partial('sponsor.html.haml')