<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')
  %body
    = partial('toptoolbar.html.haml')
    = partial('downloadbanner.html.haml')
    = partial('platforms.html.haml',:title => 'Installing Jenkins', :steps => [{title:'Linux',iconclass:'icon-download',id:1,short:'Install Jenkins on Linux',href:'#linux'},{title:'Windows',iconclass:'icon-loop',id:2,short:'Install Jenkins on Windows',href:'#windows'},{title:'Mac OSX',iconclass:'icon-plug',id:3,short:'Install Jenkins on Mac OSX',href:'#osx'},{title:'Docker',iconclass:'icon-users',id:4,short:'Run Jenkins in a Docker Container',href:'#container'}])

  .container
    .row.body
      .col-md-1
      .col-md-8
        %h2 Jenkins Installation

        .doc-block
          %h4 Introdution
          %p Lorem ipsum dolor sit amet, per stet error laudem ei, cum autem vocent complectitur an. Agam possit dicunt duo ex, rationibus consectetuer vis no. In vix scaevola tacimates, mea constituam suscipiantur delicatissimi cu. Pri ut nibh antiopam, fierent repudiare mel ex, quo ne dico omnesque. Mel et perfecto concludaturque, eligendi efficiantur et qui. Brute dicat facilisi cu nam.
          %p Possit commune scriptorem ex vix, augue semper torquatos an est. Qui eu consul meliore recteque, sit diam dictas mandamus id. Id nec oporteat accusamus, ad eleifend constituto nam. Sed no clita nusquam, eu facilis dolores eos. In omittam explicari contentiones his, has prima erant te, usu clita inimicus dissentiet ea. Iuvaret singulis qui ei, liber libris vel ea. Te sea solet eleifend, vix primis ornatus deseruisse ne.
          %p Wisi lobortis pri ei. Maluisset aliquando instructior vel ea. Ut duo amet dicam. Dolorum mandamus accusamus cum no, vix ex hinc appellantur, vim bonorum copiosae euripidis ut.


        .doc-block
          %h3 Setup and Installation

          .sub-block
            %h4 System requirements
            %p Jenkins requires Java7 or above to function. Java8 is recommended. Jenkins requires a fair amount of memory to operate well. Smaller installations should start around 256MB-1GB.

            .sub-block
              %h4 Unix/Linux Installation
              %p Jenkins has native integrations with the following OSes. See respective sections for how to make Jenkins run in the background automatically:
              %ul
                %li Installing Jenkins as Solaris 10 service
                %li Installing Jenkins on Ubuntu
                %li Installing Jenkins on Red Hat Distributions
                %li Installing Jenkins with Docker

                %p Alternatively, if you have a servlet container that supports Servlet 2.4/JSP 2.0, such as Glassfish v2, Tomcat 5 (or any later versions), then you can run them as services, and deploy jenkins.war as you would any other war file. Container specific documentation is available if you choose this route.
            .sub-block
              %h4 Windows Installation
              %p If you're running on Windows it is good to run Jenkins as a service so it starts up automatically without requiring a user to log in. The easiest way is to run the Windows installer, linked from Jenkins' homepage. This also has the advantage of being easier to automate.

              %p The manual way is to follow Installing Jenkins as a Windows service. Alternatively, you can install a servlet container like GlassFish and Tomcat, which can run as a service by itself, and then deploy Jenkins to it.

              %p Since Jenkins was written to work on unix-like platforms, some parts assume the presence of unix-utilities. It is advised to install these as well on Windows. Install UnxUtils (this includes a shell that seems to work with forward and backwards slashes and does globbing correctly)(UnxUtils does not download), put it in the Windows PATH , and copy sh.exe to C:\bin\sh.exe (or whichever drive you use) to make shebang lines work. This should get you going. If UnxUtils gives you trouble (Fork Failed Errors), try Win-Bash.

              %ul
                %li Installing Jenkins as a Windows service
