---
layout: default
title: "Events"
# no such section (yet)
section: events
notitle: true
---

/ Some more spacing from the navbar
.pt-4
  &nbsp;

.container
  .row
    %h1
      Recurring Events
  .row
    .col-md-6.text-center
      %ul.ji-item-list
        %li.post.event.floating
          %a.body{:href => 'http://lists.jenkins-ci.org/pipermail/jenkins-infra/2017-February/001029.html', :target => '_blank'}
            .header.time
              .date-time
                .date
                  .day
                    Mondays
                  .dow
                    Mon
                .time
                  19:30h UTC

              %h5.title
                Infra Team Sync
    .col-md-6.text-center
      %ul.ji-item-list
        %li.post.event.floating
          %a.body{:href => 'https://jenkins.io/project/governance/#meeting', :target => '_blank'}
            .header.time
              .date-time
                .date
                  .day.small
                    Every other Wed
                  .dow
                    Wed
                .time
                  18h UTC

              %h5.title
                Project Meeting
    .col-md-6.text-center
      %ul.ji-item-list
        %li.post.event.floating
          %a.body{:href => 'https://jenkins.io/sigs/platform#meetings', :target => '_blank'}
            .header.time
              .date-time
                .date
                  .day.small
                    Every other Thu
                  .dow
                    Thu
                .time
                  14h UTC
              %h5.title
                Platform SIG Meeting

  .row
    .col
      %h2
        Event Calendar
      %p
        These and other periodic events can be found on the Jenkins project
        %a{:href => '/content/event-calendar'}
          event calendar.

  .row
    %h1
      Upcoming Events
  .row
    - # Sort by the date defined for each of the events
    - now = Time.now.utc
    - site.events.keys.each do |name|
      - data = site.events[name]
      - raise ArgumentError.new("No `date` specified: #{name}")  unless data.date
      - raise ArgumentError.new("No `title` specified: #{name}") unless data.title
      - raise ArgumentError.new("No `link` specified: #{name}") unless data.link
      - data.event_time = Time.parse(data.date)
    - site.events.keys.sort { |x,y| site.events[x].event_time <=> site.events[y].event_time }.each do |name|
      - data = site.events[name]
      - event_time = data.event_time
      - next unless event_time > now
      .col-md-3.text-center
        %ul.ji-item-list
          %li.post.event.floating
            %a.body{:href => data.link, :target => '_blank'}
              .header.time
                .date-time
                  .date
                    .month
                      = event_time.strftime('%b')
                    .day
                      = event_time.strftime('%-d')
                    .dow
                      = event_time.strftime('%a')
                  .time
                    = event_time.strftime('%l:%M %P')

                %h5.title
                  = data.title

              %p.teaser
                = data.raw_content
                .more

            .attrs
