---
layout: default
title: "Event Calendar"
# no such section (yet)
section: events
notitle: true
---

/ Some more spacing from the navbar
.pt-4
  &nbsp;

.container
  .row
    %h1
      Event Calendar

  .row
    .col
      #calendar-container
        -# This div's innerHTML will be overwritten with the
        -# calendar iframe set to the appropriate time zone.

      %p
        View calendar using TimeZone:
        %select#selected_timezone{:onChange => "set_calendar(this.value)"}
          %option{:value => ''}= '(auto)'
          %option{:value => 'GMT'}= 'GMT'
          %option{:value => 'CET'}= 'CET'
          %option{:value => 'America/New_York'}= 'US Eastern'
          %option{:value => 'America/Los_Angeles'}= 'US Pacific'
          %option{:value => 'Asia/Tokyo'}= 'Tokyo'
          %option{:value => 'Asia/Shanghai'}= 'Shanghai'

      -# Text at one time kept on the wiki
      -# https://wiki.jenkins.io/display/JENKINS/Jenkins+Event+Calendar

      %h3
        About this calendar
      %p
        This page tracks the upcoming events related to Jenkins.

      %h3
        Making changes

      %p
        To make changes, please
        %a{:href => expand_link('mailing-lists/')}
          drop us a note
        about the event so that we can add it.
        If you expect to have many events, we'd be happy to give you the direct edit access.

-# JSTZ time zone detection library (https://bitbucket.org/pellepim/jstimezonedetect)
%script{:type => "text/javascript",
        :src => "https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js" }


%script{type: "text/javascript"}
  :plain
    var deviceTimeZone = jstz.determine().name();
    var calendarSrc = 'https://calendar.google.com/calendar/b/1/embed'
      + '?showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF'
      + '&amp;src=4ss12f0mqr3tbp1t2fe369slf4%40group.calendar.google.com&amp;color=%2329527A'
      + '&amp;ctz='

    var calendarSrcPrefix = '<iframe src="' + calendarSrc;
    var calendarSrcSuffix = '" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>';

    function set_calendar(timezone) {
      timezone = timezone || deviceTimeZone;
      var iframe_html = calendarSrcPrefix + encodeURIComponent(timezone) + calendarSrcSuffix;
      document.getElementById('calendar-container').innerHTML = iframe_html;
    };

    $(document).ready( function() {
      set_calendar();
    } );
