---
layout: simplepage
title: "Events"
# no such section (yet)
section: events
notitle: true
---


.container
  .row
    %h1
      Recurring Events
  .row
    .col-md-6.text-center
      %ul.ji-item-list
        %li.post.event.floating
          %a.body{:href => 'http://lists.jenkins-ci.org/pipermail/jenkins-infra/2017-February/001029.html', :target => '_blank'}
            .header.time
              .date-time
                .date
                  .day
                    Mondays
                  .dow
                    Mon
                .time
                  20h UTC

              %h5.title
                Infra Team Sync
    .col-md-6.text-center
      %ul.ji-item-list
        %li.post.event.floating
          %a.body{:href => 'https://jenkins.io/project/governance/#meeting', :target => '_blank'}
            .header.time
              .date-time
                .date
                  .day.small
                    Every other Wed
                  .dow
                    Wed
                .time
                  18h UTC

              %h5.title
                Project Meeting
  .row
    %p
      Other recurring events can be found in the
      %a{:href => '/content/event-calendar'}
        Jenkins event calendar.

  .row
    %h1
      Upcoming Events
  .row
    - # Sort by the date defined for each of the events
    - site.events.keys.sort { |x,y| Time.parse(site.events[x].date) <=> Time.parse(site.events[y].date) }.each do |name|
      - data = site.events[name]
      - raise "No `date` specified!" unless data.date
      - event_time = Time.parse(data.date)
      - next unless event_time > Time.now.utc
      .col-md-3.text-center
        %ul.ji-item-list
          %li.post.event.floating
            %a.body{:href => data.link, :target => '_blank'}
              .header.time
                .date-time
                  .date
                    .month
                      = event_time.strftime('%b')
                    .day
                      = event_time.strftime('%-d')
                    .dow
                      = event_time.strftime('%a')
                  .time
                    = event_time.strftime('%l:%M %P')

                %h5.title
                  = data.title

              %p.teaser
                = data.raw_content
                .more

            .attrs
