---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

:ruby
  # Images should all be between 300 and 350 pixels wide, and no more than 180px tall

  sponsors = [
    ['microsoft.png',
     'Microsoft Azure',
     'https://www.azure.com'],
    ['cloudbees.png',
    'CloudBees, Inc.',
    'https://cloudbees.com'],
    ['osuosl.png',
    'Oregon State University Open Source Lab',
    'https://osuosl.org'],
    ['rackspace.png',
    'Rackspace, Inc.',
    'https://rackspace.com'],
    ['redhat.png',
    'RedHat, Inc.',
    'https://redhat.com'],
  ]
  supporters = [['Atlassian', 'https://atlassian.com'],
                ['Datadog', 'https://www.datadoghq.com'],
                ['JFrog', 'https://jfrog.com'],
                ['Mac Cloud', 'http://maccloud.me/'],
                ['PagerDuty', 'https://pagerduty.com'],
                ['Sentry', 'https://sentry.io/'],
                ['XMission', 'https://xmission.com'],
  ]

= partial('downloadbanner.html.haml')

-# Carousel Slides
- slides = []

-# Jenkins SuperPowers
- slides << {:href => 'https://www.youtube.com/watch?v=qE3tfS7k1VI',
  :title => 'Jenkins Superpowers',
  :intro => "At DevOps&nbsp;World&nbsp;-&nbsp;Jenkins&nbsp;World Kohsuke Kawaguchi described five superpowers for Jenkins.",
  :image => {:src => expand_link('images/superpowers/planet.png'), :height => "250px"},
  :call_to_action => {:text => 'Watch the keynote', :href => 'https://www.youtube.com/watch?v=qE3tfS7k1VI'}}

-# Pipeline
- slides << { :href => expand_link('doc/pipeline/tour/hello-world'),
  :title => 'Deliver Continuously with Jenkins Pipeline',
  :intro => "Jenkins Pipeline lets you run you create and maintain your CI/CD pipeline as code, stored and versioned along-side with your project code.",
  :image => {:src => expand_link('images/superpowers/pipeline-ship.png')},
  :call_to_action => {:text => 'Get started', :href => '/projects/blueocean'}}

-# Evergreen
- slides << { :href => expand_link('projects/evergreen'),
  :title => 'Stay Up-to-date with Jenkins Evergreen',
  :intro => "Evergreen is an automatically updating rolling distribution of Jenkins. Evergreen provides the end-user with a pre-assembled collection of legos that can be immediately used to implement CI/CD workloads.",
  :image => {:src => expand_link('images/superpowers/evergreen-ship.png')},
  :call_to_action => {:text => 'Get Started', :href => '/projects/evergreen'}}

-# CasC
- slides << { :href => expand_link('projects/jcasc'),
  :title => 'Automate Jenkins with Configuration-as-Code',
  :intro => "Configuration-as-Code automates your Jenkins setup from YAML files, letting you reproduce and/or restore a full environment within minutes.",
  :image => {:src => expand_link('images/superpowers/casc-ship.png')},
  :call_to_action => {:text => 'Get Started', :href => '/projects/jcasc'}}

-# Cloud Native Jenkins
- slides << { :href => expand_link('sigs/cloud-native'),
  :title => 'Take Jenkins to the Cloud',
  :image => {:src => expand_link('images/superpowers/cloud-native-ship.png')},
  :intro => 'The Cloud Native SIG is a group of contributors and collaborators working on improving Jenkins to run on Cloud environments as a "Cloud Native" application.',
  :call_to_action => {:text => 'Join us', :href => 'sigs/cloud-native'}}

-# Jenkins X
- slides << {:href => expand_link('projects/jenkins-x'),
  :title => 'Sail into Jenkins X',
  :intro => "Jenkins X is a CI/CD solution for modern cloud applications on Kubernetes.",
  :image => {:src => expand_link('images/superpowers/jenkins-x-ship.png')},
  :call_to_action => {:text => 'Get started', :href => expand_link('projects/jenkins-x')}}

-# Carousel
= partial('projectcarousel.html.haml',
  :background => '#000000',
  :background_image => {:src => expand_link('images/superpowers/space.jpg')},
  :slides => slides)

#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %i.icon-arrow-shuffle
          %h5
            Continuous Integration and Continuous Delivery
          %p
            As an extensible automation server, Jenkins can be used as a simple
            CI server or turned into the continuous delivery hub for any project.


      .col-md-6.col-lg-4
        .box.install
          %i.icon-download
          %h5
            Easy installation
          %p
            Jenkins is a self-contained Java-based program, ready to run
            out-of-the-box, with packages for Windows, Mac OS X and other
            Unix-like operating systems.

      .col-md-6.col-lg-4
        .box.settings
          %i.icon-settings
          %h5
            Easy configuration
          %p
            Jenkins can be easily set up and configured via its web interface,
            which includes on-the-fly error checks and built-in help.

      .col-md-6.col-lg-4
        .box.ecosystem
          %i.icon-plug
          %h5
            Plugins
          %p
            With hundreds of plugins in the Update Center, Jenkins integrates
            with practically every tool in the continuous integration and
            continuous delivery toolchain.

      .col-md-6.col-lg-4
        .box.extend
          %i.icon-puzzle-piece
          %h5
            Extensible
          %p
            Jenkins can be extended via its plugin architecture, providing
            nearly infinite possibilities for what Jenkins can do.

      .col-md-6.col-lg-4
        .box.distributed
          %i.icon-uniE602
          %h5
            Distributed
          %p
            Jenkins can easily distribute work across multiple machines,
            helping drive builds, tests and deployments across multiple
            platforms faster.

.container
  .section.events
    .container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          = partial('blogs.html.haml')

        .col-md-1
        .col-md-2

#sponsorsblock.jumbotron
  .sponsors
    %p
      %strong
        We thank the following organizations for their major commitments to
        support the Jenkins project.

    %ul

      - sponsors.each do |logo, name, url|
        %li
          %a{:href => url, :target => '_blank'}
            %img{:alt => name, :title => name, :src => expand_link("images/sponsors/#{logo}")}/

  .supporters
    %p
      %strong
        We thank the following organizations for their support of the Jenkins
        project through free and/or open source licensing programs.

    %ul
      - supporters.each do |name, url|
        %li
          %a{:href => url, :target => '_blank'}= name
