---
layout: default
title: Jenkins
blogrollup: true
---

- if legacy?
  :css
    /*kill off unwanted crafts */
    #content H1, DIV.taxonomy {
        display:none;
    }
    #content DIV.node {
        border-bottom:none;
    }

    #welcome #directory {
        padding-top: 2em;
    }
    #welcome #directory A {
        text-decoration: none !important;
    }
    #welcome #directory A:link {
        text-decoration: none !important;
    }
    #welcome #directory A:hover {
        text-decoration: underline;
        color: black;
    }
    #welcome #directory .title {
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }
    #welcome #directory TD {
        vertical-align: middle;
        padding-bottom: 3em;
    }
    #welcome #directory .description {
        color: gray;
    }
    #welcome #directory .logo {
        border: 0px;
        margin-right: 1em;
    }

  %div#welcome
    %div.content{:align => 'center'}
      %table#directory{:valign => 'middle', :style => 'border: none;'}
        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'}
              %img.logo{:src => '/images/logo_head.png'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'}
              %div.title
                Meet Jenkins
              %div.description
                Find out what Jenkins is and get started.

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins'}
              %img.logo{:src => '/images/user.gif'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins'}
              %div.title
                Use Jenkins
              %div.description
                See how to get more out of your Jenkins

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
              %img.logo{:src => '/images/plugin.png'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
              %div.title
                Customize Jenkins
              %div.description
                Choose from hundreds of plugins to customize Jenkins to suit your needs

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              %img.logo{:src => '/images/developer.gif'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              %div.title
                Extend Jenkins
              %div.description
                Learn how to build or extend Jenkins by writing plugins

    %div{:style => 'padding-top: 3em; text-align: right;'}
      %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Awards'}
        Awards
      %img{:src => '/images/award.png', :style => 'vertical-align: middle;'}/

- else
  = partial('downloadbanner.html.haml')
  = partial('featurelist.html.haml')
  = partial('steps.html.haml',:title => 'Getting started with Jenkins', :steps => [{title:'Download Jenkins',iconclass:'icon-download',id:1,short:'Learn more about this cool thing called Docker...',long:'This is the long description guy that really tells you what to do with Docker and why it is fun and good. Not sure why HTML is not working...'},{title:'Read Guide',iconclass:'icon-book2',id:2,short:'Install this software to start doing awesomeness...',long:'This is the long description guy that really tells you what to do'},{title:'Join community',iconclass:'icon-signup',id:3,short:'Containers can be used for everything you can possibly imagine, so check it out...',long:'This is the long description guy that really tells you what to do'},{title:'Add plugins',iconclass:'icon-plug',id:4,short:'Jenkins makes building with tools something easy and fun...',long:'This is the long description guy that really tells you what to do'}])
  = partial('jumbotron.html.haml')

  .brick-tops
    .section.events.fff
      %div.container-fluid.events.no-margin
        %div.row
          %div#sidebar.col-md-12.events
            = partial('sidebar.html.haml')

    .section.blogs.f9f9f9
      %div.container
        %div.row.body
          .col-md-1
          %div#content.col-md-7

            %div#content-top
            = partial('blogs.html.haml')

          .col-md-1
          .col-md-2
            #toc-blog.toc.bs-docs-sidebar
              %h4.blog-title
                Blog archive
              %ul.root.nav.nav-stacked
                %li.categories
                  %a Categories
                  %ul
                    %li
                      %a Key term
                    %li
                      %a Docker
                    %li
                      %a Pipeline
                    %li
                      %a Pipeline as code
                    %li
                      %a UI/UX
                    %li
                      %a Fast food
                    %li
                      %a Automation
                    %li
                      %a Plugins
                    %li
                      %a Fun-n-games
                %li.authors
                  %a Authors
                  %ul
                    %li
                      %a Some Author
                    %li
                      %a Dr. Writer PHd
                    %li
                      %a Plugin Master
                    %li
                      %a Captian Docmachine
                    %li
                      %a Some Author
                    %li
                      %a Dr. Writer PHd
                    %li
                      %a Plugin Master
                    %li
                      %a Captian Docmachine
                %li.months
                  %a Archives
                  %ul
                    %li
                      %a 2016 Jan
                    %li
                      %a 2015 Dec
                    %li
                      %a 2015 Nov
                    %li
                      %a 2015 Oct
                    %li
                      %a 2015 Sep
                    %li
                      %a 2015 Aug
                    %li
                      %a 2015 Jul
                    %li
                      %a 2015 Jun
                    %li
                      %a 2015 May
                    %li
                      %a 2015 Apr
                    %li
                      %a 2015 Mar
                    %li
                      %a 2015 Feb
