---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

:ruby
  # Images should all be between 300 and 350 pixels wide, and no more than 180px tall

  sponsors = [
    ['microsoft.png',
     'Microsoft Azure',
     'https://www.azure.com'],
    ['cloudbees.png',
    'CloudBees, Inc.',
    'https://cloudbees.com'],
    ['osuosl.png',
    'Oregon State University Open Source Lab',
    'https://osuosl.org'],
    ['rackspace.png',
    'Rackspace, Inc.',
    'https://rackspace.com'],
    ['redhat.png',
    'RedHat, Inc.',
    'https://redhat.com'],
    ['github.png',
    'GitHub, Inc.',
    'https://github.com'],
  ]
  supporters = [['Atlassian', 'https://atlassian.com'],
                ['Datadog', 'https://www.datadoghq.com'],
                ['JFrog', 'https://jfrog.com'],
                ['Mac Cloud', 'https://maccloud.me/'],
                ['PagerDuty', 'https://pagerduty.com'],
                ['Sentry', 'https://sentry.io/'],
                ['XMission', 'https://xmission.com'],
  ]

= partial('downloadbanner.html.haml')

-# Carousel Slides
- slides = []

-# 2019 Board elections
- slides << {:href => expand_link('blog/2019/12/16/board-election-results),
  :title => '2019 Jenkins Board and Officer elections',
  :intro => "In November 2019 we held the first Jenkins board elections elections ever. On behalf of the Jenkins community, we congratulate all elected board members and officers!",
  :image => {:src => expand_link('/images/post-images/elections-2019/election-2019-opengraph.png'), :height => "300px"},
  :call_to_action => {:text => 'See results', :href => expand_link('blog/2019/12/16/board-election-results')}}

-# CDF Blog
- slides << {:href => expand_link('blog/2019/03/12/cdf-launch/'),
  :title => 'A New Home for Jenkins',
  :intro => "Jenkins is joining the newly created Continuous Delivery Foundation (CDF).",
  :image => {:src => expand_link('images/cdf/logo/cdf-logo-white.png'), :height => "250px"},
  :call_to_action => {:text => 'Read the Announcement', :href => expand_link('blog/2019/03/12/cdf-launch/')}}

-# CDF Blog
- slides << {:href => 'https://cd.foundation',
  :title => 'Meet the Continuous Delivery Foundation',
  :intro => "The CDF serves as the vendor-neutral home of many of the fastest-growing projects for continuous delivery, including Jenkins, Jenkins&nbsp;X, Spinnaker, and Tekton.",
  :image => {:src => expand_link('images/cdf/logo/cdf-logo-white.png'), :height => "250px"},
  :call_to_action => {:text => 'Learn about CDF', :href => 'https://cd.foundation'}}

-# Carousel
= partial('projectcarousel.html.haml',
  :background => '#000000',
  :background_image => {:src => expand_link('images/cdf/cdf-background-wide.jpg')},
  :slides => slides)

#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %i.icon-arrow-shuffle
          %h5
            Continuous Integration and Continuous Delivery
          %p
            As an extensible automation server, Jenkins can be used as a simple
            CI server or turned into the continuous delivery hub for any project.


      .col-md-6.col-lg-4
        .box.install
          %i.icon-download
          %h5
            Easy installation
          %p
            Jenkins is a self-contained Java-based program, ready to run
            out-of-the-box, with packages for Windows, Mac OS X and other
            Unix-like operating systems.

      .col-md-6.col-lg-4
        .box.settings
          %i.icon-settings
          %h5
            Easy configuration
          %p
            Jenkins can be easily set up and configured via its web interface,
            which includes on-the-fly error checks and built-in help.

      .col-md-6.col-lg-4
        .box.ecosystem
          %i.icon-plug
          %h5
            Plugins
          %p
            With hundreds of plugins in the Update Center, Jenkins integrates
            with practically every tool in the continuous integration and
            continuous delivery toolchain.

      .col-md-6.col-lg-4
        .box.extend
          %i.icon-puzzle-piece
          %h5
            Extensible
          %p
            Jenkins can be extended via its plugin architecture, providing
            nearly infinite possibilities for what Jenkins can do.

      .col-md-6.col-lg-4
        .box.distributed
          %i.icon-uniE602
          %h5
            Distributed
          %p
            Jenkins can easily distribute work across multiple machines,
            helping drive builds, tests and deployments across multiple
            platforms faster.

.container
  .section.events
    .container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          = partial('blogs.html.haml')

        .col-md-1
        .col-md-2

#sponsorsblock.jumbotron
  .sponsors
    %p
      %strong
        We thank the following organizations for their major commitments to
        support the Jenkins project.

    %ul

      - sponsors.each do |logo, name, url|
        %li
          %a{:href => url, :target => '_blank'}
            %img{:alt => name, :title => name, :src => expand_link("images/sponsors/#{logo}")}/

  .supporters
    %p
      %strong
        We thank the following organizations for their support of the Jenkins
        project through free and/or open source licensing programs.

    %ul
      - supporters.each do |name, url|
        %li
          %a{:href => url, :target => '_blank'}= name
