---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

:ruby
  # Images should all be between 300 and 350 pixels wide, and no more than 180px tall

  supporters = site.indexpage[:supporters]
  slides = site.indexpage[:carousel]
  contributors = site.indexpage[ :thank]

= partial('downloadbanner.html.haml')

-# Carousel
= partial('projectcarousel.html.haml',
  :background => '#000000',
  :background_image => {:src => expand_link('images/cdf/cdf-background-wide.jpg')},
  :slides => slides)

#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %ion-icon{:name=>"git-pull-request-outline"}
          %h5
            Continuous Integration and Continuous Delivery
          %p
            As an extensible automation server, Jenkins can be used as a simple
            CI server or turned into the continuous delivery hub for any project.


      .col-md-6.col-lg-4
        .box.install
          %ion-icon{:name=>"download-outline"}
          %h5
            Easy installation
          %p
            Jenkins is a self-contained Java-based program, ready to run
            out-of-the-box, with packages for Windows, Linux, macOS and other
            Unix-like operating systems.

      .col-md-6.col-lg-4
        .box.settings
          %ion-icon{:name=>"options-outline"}
          %h5
            Easy configuration
          %p
            Jenkins can be easily set up and configured via its web interface,
            which includes on-the-fly error checks and built-in help.

      .col-md-6.col-lg-4
        .box.ecosystem
          %ion-icon{:name=>"apps-outline"}
          %h5
            Plugins
          %p
            With hundreds of plugins in the Update Center, Jenkins integrates
            with practically every tool in the continuous integration and
            continuous delivery toolchain.

      .col-md-6.col-lg-4
        .box.extend
          %ion-icon{:name=>"extension-puzzle-outline"}
          %h5
            Extensible
          %p
            Jenkins can be extended via its plugin architecture, providing
            nearly infinite possibilities for what Jenkins can do.

      .col-md-6.col-lg-4
        .box.distributed
          %ion-icon{:name=>"git-network-outline"}
          %h5
            Distributed
          %p
            Jenkins can easily distribute work across multiple machines,
            helping drive builds, tests and deployments across multiple
            platforms faster.
.container
  .section
    = partial('video.html.haml')

.container
  .section
    = partial('blogs.html.haml')
.sponsorblock-wrapper
  .container
    #sponsorsblock.section
      .sponsors
        %p
          We thank the following organizations for their major commitments to
          support the Jenkins project.

        %ul

          - supporters.select{|sponsor| sponsor[:logo]}.each do |sponsor|
            %li
              %a{:href => sponsor['url'], :target => '_blank', :rel => 'noreferrer noopener'}
                = File.read("content/images/sponsors/#{sponsor['logo']}")

      .supporters
        %p
          We thank the following organizations for their support of the Jenkins
          project through free and/or open source licensing programs.

        %ul
          - supporters.reject{|sponsor| sponsor[:logo]}.each do |supporter|
            %li
              %a{:href => supporter['url'], :target => '_blank', :rel => 'noreferrer noopener'}= supporter['name']

.thank-you-block
  .thank-you-box
    .contributor-data
      - contributors.each do |contributor|
        .image-div
          %img{ src: contributor['GH_HANDLE_AVATAR'], alt: "Avatar", width: "50", height: "50" }

        .desc-div
          %p
            Thank you 
            %a{ href: contributor['GH_HANDLE_URL'], target: "_blank" }= contributor['FULL_NAME']
          %p
            for making 
            = contributor['NBR_PR']
            pull request#{'s' if contributor['NBR_PR'].to_i > 1}
          %p
            to the 
            - contributor['REPOSITORIES'].split.each_with_index do |repo, index|
              %a{ href: "https://github.com/#{repo}", target: "_blank" }= repo
              - unless index == contributor['REPOSITORIES'].split.size - 1
                , 
            in #{Date.parse(contributor['MONTH'] + "-01").strftime("%B %Y")}!
