---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

= partial('downloadbanner.html.haml')
= partial('jumbotron.html.haml',
  :href => 'http://jenkinsworld.com',
  :title => 'Register for Jenkins World',
  :intro => "Join the Jenkins community at \"Jenkins World\" in Santa Clara, California from September 13th - 15th for workshops, presentations and all things Jenkins.",
  :image => '/images/conferences/jenkinsworld_jumbotron_faded.png',
  :call_to_action => {:text => 'Learn more', :href => 'http://jenkinsworld.com'})
= partial('featurelist.html.haml')
= partial('steps.html.haml', site.steps[:firststart])
= partial('jumbotron.html.haml',
  :href => '/solutions/pipeline',
  :title => 'Pipeline as Code',
  :intro => 'Use the Pipeline plugin to describe your continuous delivery pipeline with its flexible domain-specific language',
  :image => site.solutions[:pipeline].jumbotron.image,
  :call_to_action => {:text => 'Learn more', :href => '/solutions/pipeline'})

%div
  .section.events.fff
    %div.container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          = partial('blogs.html.haml')

        .col-md-1
        .col-md-2

= partial('sponsors.html.haml')
