---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

:ruby
  articles = site.posts.map do |post|
    # if we have tags provided to the partial (page.tags) then we
    # should only show the post if its tags contain one of those passed
    # into the partial. page.tags is a TagStat
    next if page.tags && (!post.tags || !(page.tags & post.tags.map(&:to_s)).any?)
    post
  end
  # Remove all our nils and then trim to ten posts
  articles = articles.compact.slice(0, 10)



= partial('downloadbanner.html.haml')
= partial('projectjumbotron.html.haml',
  :href => '/projects/blueocean',
  :title => 'Say &ldquo;hello&rdquo; to Blue Ocean 1.0',
  :intro => "Blue Ocean is a brand new user experience that puts Continuous Delivery in reach of any team &mdash; without sacrificing the power and sophistication of Jenkins 🙌",
  :image => '/images/blueocean/blueocean-successful-pipeline.png',
  :call_to_action => {:text => 'Get started', :href => '/projects/blueocean'})

= partial('jumbotron.html.haml',
  :href => '/doc/book/pipeline',
  :title => 'Pipeline as Code',
  :intro => 'Pipeline provides an extensible set of tools for modeling simple-to-complex continuous delivery (CD) pipelines "as code". Create your first Pipeline and "Jenkinsfile" using the new Declarative Pipeline syntax.',
  :image => site.solutions[:pipeline].jumbotron.image,
  :call_to_action => {:text => 'Learn more', :href => '/doc/pipeline/tour/hello-world/'})

#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %i.icon-arrow-shuffle
          %h5
            Continuous Integration and Continuous Delivery
          %p
            As an extensible automation server, Jenkins can be used as a simple
            CI server or turned into the continuous delivery hub for any project.


      .col-md-6.col-lg-4
        .box.install
          %i.icon-download
          %h5
            Easy installation
          %p
            Jenkins is a self-contained Java-based program, ready to run
            out-of-the-box, with packages for Windows, Mac OS X and other
            Unix-like operating systems.

      .col-md-6.col-lg-4
        .box.settings
          %i.icon-settings
          %h5
            Easy configuration
          %p
            Jenkins can be easily set up and configured via its web interface,
            which includes on-the-fly error checks and built-in help.

      .col-md-6.col-lg-4
        .box.ecosystem
          %i.icon-plug
          %h5
            Plugins
          %p
            With hundreds of plugins in the Update Center, Jenkins integrates
            with practically every tool in the continuous integration and
            continuous delivery toolchain.

      .col-md-6.col-lg-4
        .box.extend
          %i.icon-puzzle-piece
          %h5
            Extensible
          %p
            Jenkins can be extended via its plugin architecture, providing
            nearly infinite possibilities for what Jenkins can do.

      .col-md-6.col-lg-4
        .box.distributed
          %i.icon-uniE602
          %h5
            Distributed
          %p
            Jenkins can easily distribute work across multiple machines,
            helping drive builds, tests and deployments across multiple
            platforms faster.

= partial('steps.html.haml', site.steps[:firststart])

%div
  .section.events.fff
    %div.container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          - # Only render articles if we have them
          - if articles.size > 0
            %div{:id => 'block-block-15', :class => 'block block-block even blog-posts'}
              %h3.title
                Recent Blog Posts

              = partial('blogcardlist.html.haml', :posts => articles)

        .col-md-1
        .col-md-2

= partial('sponsors.html.haml')
