---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

- if legacy?
  :css
    /*kill off unwanted crafts */
    #content H1, DIV.taxonomy {
        display:none;
    }
    #content DIV.node {
        border-bottom:none;
    }

    #welcome #directory {
        padding-top: 2em;
    }
    #welcome #directory A {
        text-decoration: none !important;
    }
    #welcome #directory A:link {
        text-decoration: none !important;
    }
    #welcome #directory A:hover {
        text-decoration: underline;
        color: black;
    }
    #welcome #directory .title {
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }
    #welcome #directory TD {
        vertical-align: middle;
        padding-bottom: 3em;
    }
    #welcome #directory .description {
        color: gray;
    }
    #welcome #directory .logo {
        border: 0px;
        margin-right: 1em;
    }

  %div#welcome
    %div.content{:align => 'center'}
      %table#directory{:valign => 'middle', :style => 'border: none;'}
        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'}
              %img.logo{:src => '/images/logo_head.png'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'}
              %div.title
                Meet Jenkins
              %div.description
                Find out what Jenkins is and get started.

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins'}
              %img.logo{:src => '/images/user.gif'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins'}
              %div.title
                Use Jenkins
              %div.description
                See how to get more out of your Jenkins

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
              %img.logo{:src => '/images/plugin.png'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
              %div.title
                Customize Jenkins
              %div.description
                Choose from hundreds of plugins to customize Jenkins to suit your needs

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              %img.logo{:src => '/images/developer.gif'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              %div.title
                Extend Jenkins
              %div.description
                Learn how to build or extend Jenkins by writing plugins

    %div{:style => 'padding-top: 3em; text-align: right;'}
      %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Awards'}
        Awards
      %img{:src => '/images/award.png', :style => 'vertical-align: middle;'}/

- else
  = partial('downloadbanner.html.haml')
  = partial('jumbotron.html.haml',
    :href => '/2.0',
    :title => 'Coming soon: Jenkins 2.0',
    :intro => "Jenkins 2.0 brings Pipeline as Code, a new setup experience and other UI improvements while maintaining backwards compatibility with existing Jenkins installations!",
    :image => '/images/railyard.jpg',
    :call_to_action => {:text => 'Learn more', :href => '/2.0'})
  = partial('featurelist.html.haml')
  = partial('steps.html.haml', site.steps[:firststart])
  = partial('jumbotron.html.haml',
    :href => '/solutions/pipeline',
    :title => 'Pipeline as Code',
    :intro => 'Use the Pipeline plugin to describe your continuous delivery pipeline with its flexible domain-specific language',
    :image => site.solutions[:pipeline].jumbotron.image,
    :call_to_action => {:text => 'Learn more', :href => '/solutions/pipeline'})

  %div
    .section.events.fff
      %div.container-fluid.events.no-margin
        %div.row
          %div#sidebar.col-md-12.events.horizontal
            = partial('events.html.haml')

    .section.blogs.f9f9f9
      %div.container
        %div.row.body
          .col-md-1
          %div#content.col-md-10

            %div#content-top
            = partial('blogs.html.haml')

          .col-md-1
          .col-md-2
