---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

:ruby
  # Images should all be between 300 and 350 pixels wide, and no more than 180px tall

  sponsors = [
    ['cloudbees.png',
    'CloudBees, Inc.',
    'https://cloudbees.com'],
    ['osuosl.png',
    'Oregon State University Open Source Lab',
    'https://osuosl.org'],
    ['cdf.png',
    'Continuous Delivery Foundation',
    'https://cd.foundation/'],
    ['redhat.png',
    'Red Hat, Inc.',
    'https://redhat.com'],
    ['aws.png',
    'AWS',
    'https://aws.amazon.com/'],
    ['github.png',
    'GitHub, Inc.',
    'https://github.com'],
    ['jfrog.png',
     'JFrog',
     'https://jfrog.com'],
  ]
  supporters = [['Atlassian', 'https://atlassian.com'],
                ['Datadog', 'https://www.datadoghq.com'],
                ['Mac Cloud', 'https://maccloud.me/'],
                ['PagerDuty', 'https://pagerduty.com'],
                ['Sentry', 'https://sentry.io'],
                ['XMission', 'https://xmission.com'],
                ['Tsinghua University', 'https://www.tsinghua.edu.cn'],
                ['Fastly', 'https://www.fastly.com'],
                ['SpinUp', 'https://spinup.com/'],
                ['IBM', 'https://www.ibm.com'],
  ]

= partial('downloadbanner.html.haml')

-# Carousel Slides
- slides = []

-# cdCon
- slides << {:href => 'https://events.linuxfoundation.org/cdcon/',
  :title => 'cdCon',
  :intro => "A two-day virtual event focused on improving the world's capacity to deliver software with security and speed. Become part of the conversation that drives continuous delivery by meeting peers, sharing ideas and talking to industry leaders on all things software delivery and DevOps.",
  :image => {:src => expand_link('images/conferences/cdCon.png'), :height => "300px"},
  :call_to_action => {:text => 'Register for cdCon', :href => 'https://events.linuxfoundation.org/cdcon/register/'}}

-# Elections
- slides << {:href => 'blog/2020/09/24/board-elections/',
  :title => '2020 Elections',
  :intro => "We are happy to announce the 2020 elections in Jenkins! Nominations are open for governance board and five officer positions. These roles are an essential part of the community governance and well-being. We invite community members to send nominations by Oct 15 and to register for voting by Nov 02.",
  :image => {:src => expand_link('images/logos/needs-you/Jenkins_Needs_You-transparent.png'), :height => "320px"},
  :call_to_action => {:text => 'More info', :href => expand_link('blog/2020/09/24/board-elections/')}}

-# Case Studies
- slides << {:href => 'https://JenkinsIsTheWay.io/',
  :title => 'Jenkins is the Way!',
  :intro => "We are looking for experiences of Jenkins users from around the world showcasing how they are building, deploying, and automating great software with Jenkins. Check out their user stories and share yours",
  :image => {:src => expand_link('images/post-images/jenkins-is-the-way/jenkins-is-the-way.png'), :height => "285px"},
  :call_to_action => {:text => 'More info', :href => 'https://JenkinsIsTheWay.io/'}}

-# Hacktoberfest
- slides << {:href => 'events/hacktoberfest',
  :title => 'Join us at Hacktoberfest!',
  :intro => "Hacktoberfest is a month long celebration of open source software in October. We invite everyone to contribute to Jenkins, regardless of your experience. Newcomers and experienced contributors are welcome! You can work on code or documentation, help to localize Jenkins, or create new artwork.",
  :image => {:src => expand_link('images/hacktoberfest/2020_badge_small.png'), :height => "300px"},
  :call_to_action => {:text => 'More info', :href => expand_link('events/hacktoberfest')}}

// Permanent
// TODO: Restore once Hacktoberfest is over
//-# Participate
//- slides << {:href => expand_link('participate'),
//  :title => 'Participate and Contribute!',
//  :intro => "Jenkins is a community-driven project. We invite everyone to join us and move it forward. Any contribution matters: code, documentation, localization, blog posts, artwork, meetups, and anything else. If you have five minutes or a few hours, you can help!",
//  :image => {:src => expand_link('images/logos/needs-you/Jenkins_Needs_You-transparent.png'), :height => "320px"},
//  :call_to_action => {:text => 'More info', :href => expand_link('participate')}}

-# Carousel
= partial('projectcarousel.html.haml',
  :background => '#000000',
  :background_image => {:src => expand_link('images/cdf/cdf-background-wide.jpg')},
  :slides => slides)

#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %i.icon-arrow-shuffle
          %h5
            Continuous Integration and Continuous Delivery
          %p
            As an extensible automation server, Jenkins can be used as a simple
            CI server or turned into the continuous delivery hub for any project.


      .col-md-6.col-lg-4
        .box.install
          %i.icon-download
          %h5
            Easy installation
          %p
            Jenkins is a self-contained Java-based program, ready to run
            out-of-the-box, with packages for Windows, Mac OS X and other
            Unix-like operating systems.

      .col-md-6.col-lg-4
        .box.settings
          %i.icon-settings
          %h5
            Easy configuration
          %p
            Jenkins can be easily set up and configured via its web interface,
            which includes on-the-fly error checks and built-in help.

      .col-md-6.col-lg-4
        .box.ecosystem
          %i.icon-plug
          %h5
            Plugins
          %p
            With hundreds of plugins in the Update Center, Jenkins integrates
            with practically every tool in the continuous integration and
            continuous delivery toolchain.

      .col-md-6.col-lg-4
        .box.extend
          %i.icon-puzzle-piece
          %h5
            Extensible
          %p
            Jenkins can be extended via its plugin architecture, providing
            nearly infinite possibilities for what Jenkins can do.

      .col-md-6.col-lg-4
        .box.distributed
          %i.icon-uniE602
          %h5
            Distributed
          %p
            Jenkins can easily distribute work across multiple machines,
            helping drive builds, tests and deployments across multiple
            platforms faster.

.container
  .section.events
    .container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          = partial('blogs.html.haml')

        .col-md-1
        .col-md-2

#sponsorsblock.jumbotron
  .sponsors
    %p
      %strong
        We thank the following organizations for their major commitments to
        support the Jenkins project.

    %ul

      - sponsors.each do |logo, name, url|
        %li
          %a{:href => url, :target => '_blank'}
            %img{:alt => name, :title => name, :src => expand_link("images/sponsors/#{logo}")}/

  .supporters
    %p
      %strong
        We thank the following organizations for their support of the Jenkins
        project through free and/or open source licensing programs.

    %ul
      - supporters.each do |name, url|
        %li
          %a{:href => url, :target => '_blank'}= name
