---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

= partial('downloadbanner.html.haml')
= partial('jumbotron.html.haml',
  :href => '/doc/book/pipeline',
  :title => 'Pipeline as Code',
  :intro => 'Pipeline provides an extensible set of tools for modeling simple-to-complex delivery pipelines "as code". Create your first Pipeline and "Jenkinsfile" using the new Declarative Pipeline syntax.',
  :image => site.solutions[:pipeline].jumbotron.image,
  :call_to_action => {:text => 'Get Started', :href => '/doc/pipeline/tour/hello-world/'})
= partial('projectjumbotron.html.haml',
  :href => '/projects/blueocean',
  :title => 'Blue Ocean beta',
  :intro => "Blue Ocean is a new project that rethinks the user experience of Jenkins. Designed from the ground up for Jenkins Pipeline and compatible with Freestyle jobs, Blue Ocean reduces clutter and increases clarity for every member of your team. <br><br> Best of all, it ships as a plugin for Jenkins 2.7.1 and above - so you can start using it today!",
  :image => '/images/blueocean/blueocean-successful-pipeline.png',
  :call_to_action => {:text => 'Learn more', :href => '/projects/blueocean'})
= partial('featurelist.html.haml')
= partial('steps.html.haml', site.steps[:firststart])


%div
  .section.events.fff
    %div.container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          = partial('blogs.html.haml')

        .col-md-1
        .col-md-2

= partial('sponsors.html.haml')
