---
layout: default
title: Jenkins
blogrollup: true
homepage: true
---

= partial('downloadbanner.html.haml')
= partial('projectjumbotron.html.haml',
  :href => '/projects/blueocean',
  :title => 'Say &ldquo;hello&rdquo; to Blue Ocean 1.0',
  :intro => "Blue Ocean is a brand new user experience that puts Continuous Delivery in reach of any team &mdash; without sacrificing the power and sophistication of Jenkins 🙌",
  :image => '/images/blueocean/blueocean-successful-pipeline.png',
  :call_to_action => {:text => 'Get started', :href => '/projects/blueocean'})
= partial('jumbotron.html.haml',
  :href => '/doc/book/pipeline',
  :title => 'Pipeline as Code',
  :intro => 'Pipeline provides an extensible set of tools for modeling simple-to-complex continuous delivery (CD) pipelines "as code". Create your first Pipeline and "Jenkinsfile" using the new Declarative Pipeline syntax.',
  :image => site.solutions[:pipeline].jumbotron.image,
  :call_to_action => {:text => 'Learn more', :href => '/doc/pipeline/tour/hello-world/'})
= partial('featurelist.html.haml')
= partial('steps.html.haml', site.steps[:firststart])

%div
  .section.events.fff
    %div.container-fluid.events.no-margin
      %div.row
        %div#sidebar.col-md-12.events.horizontal
          = partial('events.html.haml')

  .section.blogs.f9f9f9
    %div.container
      %div.row.body
        .col-md-1
        %div#content.col-md-10

          %div#content-top
          = partial('blogs.html.haml')

        .col-md-1
        .col-md-2

= partial('sponsors.html.haml')
