<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{{site.url}}}">{{site.title}}</a>
    <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div id="topbar-nav" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{{siteRootPath}}}/download.html">Download</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{{{siteRootPath}}}/doc/index.html">Documentation</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{{siteRootPath}}}/doc/book/getting-started/index.html">User Handbook</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/doc/tutorials/index.html">Tutorials</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/doc/developer/index.html">Developer Guide</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/solutions/index.html">Solutions</a>
        </div>
      </div>
      <a class="navbar-item" href="{{{siteRootPath}}}/blog.html">Blog</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Community</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{{siteRootPath}}}/chat.html">Chat</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/mailing-lists.html">Mailing Lists</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/events.html">Events</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/participate/index.html">Participate</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/projects/index.html">Projects</a>
          <a class="navbar-item" href="{{{siteRootPath}}}/sigs/index.html">SIGs</a>
        </div>
      </div>
      <a class="navbar-item" href="{{{siteRootPath}}}/security/index.html">Security</a>
      <a class="navbar-item" href="https://plugins.jenkins.io/">Plugins</a>
      <div class="navbar-item">
        <span class="control">
          <a class="button is-primary" href="{{{siteRootPath}}}/download.html">Download</a>
        </span>
      </div>
    </div>
  </div>
</nav>
