---
layout: simplepage
title: "Jenkins Handbook"
---

- book_dir = File.expand_path(File.dirname(__FILE__) + '/book')
%div.toc
  %ul
    - sections_from(book_dir).each do |section, file, url, children|
      /
        This section provided by the following document:
        = File.basename(file)
      %li
        %a{:href => url}
          = section
        %ul
          - children.each do |section, file, sect_url, sect_children|
            %li
              %a{:href => "#{url}##{sect_url}"}
                = section
