---
layout: default
title: "Events"
# no such section (yet)
section: events
notitle: true
---

/ Some more spacing from the navbar
.pt-4
  &nbsp;

.container
  .row
    .col
      %h1
        Jenkins Events
      %p
        There are many online and local Jenkins-related events: including conferences, meetups, webinars, hackathons, etc.
        
      %ul
        %li
          %a{:href => expand_link("events/online-meetup")}
            Jenkins Online Meetup.
          Our project has a virtual meetup for users and developers.
          We organize regular events and webinars there.
        %li
          %a{:href => expand_link("projects/jam")}
            Local meetups.
          Jenkins contributors organize many local CI/CD and Jenkins meetups around the world.
          There might be one in your city!
        %li
          %a{:href => expand_link("events/contributor-summit")}
            Contributor Summits.
          We organize a few contributor summits every year.
          It brings together current community members and future contributors to learn, meet, and help shape the future of Jenkins.
        %li
          %a{:href => expand_link("events/devops-world")}
            DevOps World.
          CloudBees organizes the DevOps World conference and includes Jenkins topics in the conference agenda.
        %li
          %a{:href => expand_link("events/hacktoberfest")}
            Hacktoberfest.
          Jenkins project is participating to Hacktoberfest.

  .row
    %h1
      Major Events
  .row
    - # Sort by the date defined for each of the events
    - now = Time.now.utc
    - no_events = true
    - site.events.keys.each do |name|
      - data = site.events[name]
      - raise ArgumentError.new("No `date` specified: #{name}")  unless data.date
      - raise ArgumentError.new("No `title` specified: #{name}") unless data.title
      - raise ArgumentError.new("No `link` specified: #{name}") unless data.link
      - data.event_time = Time.parse(data.date)
    - site.events.keys.sort { |x,y| site.events[x].event_time <=> site.events[y].event_time }.each do |name|
      - data = site.events[name]
      - event_time = data.event_time
      - next unless event_time > now
      - no_events = false
      - raise ArgumentError.new("No `location` specified: #{name}") unless data.location
      .col-md-3.text-center
        %ul.ji-item-list
          %li.post.event.floating
            %a.body{:href => data.link, :target => '_blank', :rel => 'noreferrer noopener'}
              .header.time
                .date-time
                  .date
                    .month
                      = event_time.strftime('%b')
                    .day
                      = event_time.strftime('%-d')
                    .dow
                      = event_time.strftime('%a')
                  .time
                    = event_time.strftime('%l:%M %P')

                %h5.title
                  = data.title
                = data.location

            %p.teaser.collapsed{:onclick => "this.classList.toggle('collapsed')"}
              = data.raw_content
              .more

            .attrs
    - if no_events
      %p
        There are no upcoming major events registered in the database.
        If you see that your event is missing, please submit a change to our website.
      %p
        %a.body{:href => 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-an-event', :target => '_blank', :rel => 'noreferrer noopener'}
          > How to add an event to the Jenkins website?

  .row
    %h1
      Event calendar
  .row
    %p
      We have a calendar which lists events related to Jenkins, including regular SIG and project meetings.
      This calendar is also available in the
      (
      %a{:href => 'https://calendar.google.com/calendar/ical/4ss12f0mqr3tbp1t2fe369slf4%40group.calendar.google.com/public/basic.ics'}
        \.ics format
      )
  .row
    .col
      #calendar-container
        -# This div's innerHTML will be overwritten with the
        -# calendar iframe set to the appropriate time zone.

      %p
        View calendar using TimeZone:
        %select#selected_timezone{:onChange => "set_calendar(this.value)"}
          %option{:value => ''}= '(auto)'
          %option{:value => 'GMT'}= 'GMT'
          %option{:value => 'CET'}= 'CET'
          %option{:value => 'America/New_York'}= 'US Eastern'
          %option{:value => 'America/Los_Angeles'}= 'US Pacific'
          %option{:value => 'Asia/Tokyo'}= 'Tokyo'
          %option{:value => 'Asia/Shanghai'}= 'Shanghai'

-# JSTZ time zone detection library (https://bitbucket.org/pellepim/jstimezonedetect)
%script{:type => "text/javascript",
        :src => "https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js" }


%script{type: "text/javascript"}
  :plain
    var deviceTimeZone = jstz.determine().name();
    var calendarSrc = 'https://calendar.google.com/calendar/b/1/embed'
      + '?showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;mode=WEEK'
      + '&amp;src=4ss12f0mqr3tbp1t2fe369slf4%40group.calendar.google.com&amp;color=%2329527A'
      + '&amp;ctz='

    var calendarSrcPrefix = '<iframe src="' + calendarSrc;
    

    function set_calendar(timezone) {
      timezone = timezone || deviceTimeZone;
      var calendarSrcSuffix = '" style=" border-width:0 ; max-width: 100%;" width="1024" height="600" frameborder="0" scrolling="no"></iframe>';
      var iframe_html = calendarSrcPrefix + encodeURIComponent(timezone) + calendarSrcSuffix;
      document.getElementById('calendar-container').innerHTML = iframe_html;
    };

    $(document).ready( function() {
      set_calendar();
    } );
