---
layout: changelog
title: Changelog Archive
show_ratings: false
---

%div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
  %b
    This is the changelog archive.
  Recent changelogs can be found
  %a{:href => '/changelog/'}
    here.

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - counter = 0
  - site.changelogs[:weekly].reverse_each do | release |
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest)
      - if counter < 30
        - counter = counter + 1
      - else
        %h3{:id => "v#{release.version}" }
          = "What's new in #{release.version}"
          - if release.date
            = "(#{release.date})"
        - if release.banner
          %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
            = release.banner
        %ul.image
          = partial('changelog-changes.html.haml', :changes => release.changes)

= partial('changelog-old.html')
