- authorId = page.author
- author = site.authors[authorId]

-if author
  %div
    %h3.title
      About Author
    %table.author.box
      %tr
        %td
          - if File.exists?("content/images/avatars/#{authorId}.png")
            %img.author.logo{:src => "/images/avatars/#{authorId}.png", :alt => author.name}
          - else
            %img.author.logo{:src => "/images/avatars/undefined.png", :alt => author.name}
        %td
          = display_author_for(page)
          %br
          - if author.content.empty?
            This author has no biography defined.
            See social media links referenced below.
          - else
            = author.content
          %ul.author.social-media-buttons
            - if author.github
              %li.author
                %a{:href => "https://github.com/#{author.github}", :target => "_blank"}
                  GitHub
            - if author.twitter
              %li.author
                %a{:href => "https://twitter.com/#{author.twitter}", :target => "_blank"}
                  Twitter
            - if author.blog
              %li.author
                %a{:href => "#{author.blog}", :target => "_blank"}
                  Blog

