- authorId = page.author || ''
- author = site.authors[authorId]
- if author
  %div{:id => "about-the-author"}
    - unless page.blogroll.nil?
      %h2 #{author.name}
    - else
      %b.author.about-header
        About the Author
    %table.author.box
      %tr
        %td
          = partial("avatar.html.haml", :author => author, :authorId => authorId)
        %td
          - if page.blogroll.nil?
            %b.author.name
              %a{:href => author_link(authorId)}
                = author.name
          %p
            - if author.content.empty?
              This author has no biography defined.
              See social media links referenced below.
            - else
              = author.content
          %ul.author.social-media-buttons
            - if author.github
              %li.author
                %a{:href => "https://github.com/#{author.github}", :target => "_blank"}
                  GitHub
            - if author.twitter
              %li.author
                %a{:href => "https://twitter.com/#{author.twitter}", :target => "_blank"}
                  Twitter
            - if author.blog
              %li.author
                %a{:href => "#{author.blog}", :target => "_blank"}
                  Blog
            - if author.linkedin
              %li.author
                %a{:href => "#{author.linkedin}", :target => "_blank"}
                  LinkedIn
