- authorId = page.author || ''
- author = site.authors[authorId]

-if author
  %div{:id => "about-the-author"}
    %b.author.about-header
      About the Author
    %table.author.box
      %tr
        %td
          - author.avatar = Dir.glob("content/images/avatars/#{authorId}.{bmp,gif,ico,jpg,jpeg,png,svg}").first
          - if author.avatar
            - author.avatar.sub!('content','')
            %img.author.logo{:src => expand_link(author.avatar), :alt => author.name}
          - else
            %img.author.logo{:src => expand_link("images/logos/transparent/transparent.svg"), :alt => author.name}
        %td
          %b.author.name
            = author.name
          %p
            - if author.content.empty?
              This author has no biography defined.
              See social media links referenced below.
            - else
              = author.content
          %ul.author.social-media-buttons
            - if author.github
              %li.author
                %a{:href => "https://github.com/#{author.github}", :target => "_blank"}
                  GitHub
            - if author.twitter
              %li.author
                %a{:href => "https://twitter.com/#{author.twitter}", :target => "_blank"}
                  Twitter
            - if author.blog
              %li.author
                %a{:href => "#{author.blog}", :target => "_blank"}
                  Blog
            - if author.linkedin
              %li.author
                %a{:href => "#{author.linkedin}", :target => "_blank"}
                  LinkedIn
