- authorId = page.author
- author = site.authors[authorId]
-if author
  %div{:class => 'content'}
    %h3.title
      About Author
    %table
      %tr
        %td
          %img{:src => "/images/avatars/#{authorId}.png", :alt => author.name, :height => 128}
        %td
          %p
            = "&nbsp;&nbsp;"
        %td
          %p
            = display_author_for(page)
          %p
            = author.content
            - if author.twitter
              Follow
              %a{:href => "https://twitter.com/#{author.twitter}"}
                = "@#{author.twitter}"
              on Twitter
