%div{:id => 'block-block-15', :class => 'block block-block even blog-posts'}
  %h4
    Recent Blog Posts

  %div.content
    %div.item-list
      %ul.ji-blog-list.ji-item-list
        - articles_found = 0
        - site.posts.each do |post|
          - # skip anything over 10 posts
          - next if articles_found >= 10
          - # if we have tags provided to the partial (page.tags) then we
          - # should only show the post if its tags contain one of those passed
          - # into the partial
          - next if page.tags && (!post.tags || !(page.tags & post.tags).any?)
          - articles_found = (articles_found + 1)
          %li.post
            %a.body{:href => post.url}
              .header
                .date
                  .month
                    = post.date.strftime('%h')
                  .day
                    = post.date.strftime('%d')

                %h5.title
                  = post.title
              %p.teaser
                = summarize(html_to_text(post.content).strip, 64)
                %span.more




            .attrs
              = display_author_for(post)
              %ul.list-inline.tags
                - if post.tags
                  - post.tags.each do |tag|
                    %li
                      %a.tag-link
                        = tag
