- # This partial exists to provide a consistent re-usable block for creating a
- # consistent list of blog post-cards on a page. It should be relatively portable
- # to drop into any page with the jenkins.css

%div{:class => 'content blog-posts app-blog-page'}
  %div.item-list
    %ul.ji-blog-list.ji-item-list
      - page.posts.each do |post|
        - next if post.layout != 'post'
        %li.post
          %a.body{:href => expand_link(post.url)}
            .header
              .date
                .month
                  = post.date.strftime('%h')
                .day
                  = post.date.strftime('%d')

              %h5.title
                = post.title
            %p.teaser
              = post.summary || summarize(html_to_text(post.content).strip, 64)
              %span.more

          .attrs
            %div
              = display_author_for(post)
            - if post.tags
              %ul.app-tags
                - post.tags.each do |tag|
                  %li
                    %a.app-tags__tag{:href => expand_link("node/tags/#{tag}")}
                      = tag
