%div{:id => 'block-block-15', :class => 'block block-block even'}
  %h4
    Recent Blog Posts

  %div.content
    %div.item-list
      %ul.ji-dated-list.ji-item-list
        - for post in site.posts[0...10]
          %li.post
            %a.body{:href => post.url}
              %h5.title 
                = post.title
              %p.teaser 
                Lorem ipsum dolor sit amet, et quas exerci tincidunt nec, et mea aeque essent everti, cibo honestatis ad pri. Nec zril iudico luptatum ne, ullamcorper definitiones definitionem an ius. Ius dicunt epicuri at, no aeque mundi maiestatis eum, mundi ignota eloquentiam mei ea. Vis liber intellegebat ut, alia invidunt adipiscing at pri, ei has tritani volumus. Sed summo dicant et, maiorum alienum at vis.
          
              .date.card
                .month
                  = post.date.strftime('%h')
                .day
                  = post.date.strftime('%d')
            .attrs  
              %a.author
                = post.author
              %ul.list-inline.tags
                - for tag in post.tags
                  %li
                    %a.tag-link
                      = tag