%div{:id => 'block-block-15', :class => 'block block-block even'}
  %h4
    Recent Blog Posts

  %div.content
    %div.item-list
      %ul.ji-dated-list.ji-item-list
        - articles_found = 0
        - site.posts.each do |post|
          - next if articles_found >= 10
          - next if page.tags && !(page.tags & post.tags).any?
          - articles_found = (articles_found + 1)
          %li.post
            %a.body{:href => post.url}
              %h5.title
                = post.title
              %p.teaser/

              .date.card
                .month
                  = post.date.strftime('%h')
                .day
                  = post.date.strftime('%d')
            .attrs
              %a.author{:href => "/users/#{post.author}"}
                - if site.authors[post.author.to_sym]
                  = site.authors[post.author.to_sym].name
                - else
                  = post.author
              %ul.list-inline.tags
                - for tag in post.tags
                  %li
                    %a.tag-link
                      = tag
