:ruby
  tags = {
    'security' => 'Security',
    'rfe' => 'Enhancement',
    'majorrfe' => 'Major enhancement',
    'bug' => 'Bug',
    'majorbug' => 'Major bug'
  }

- if page.changes.empty?
  %em
    No notable changes in this release.
- page.changes.group_by { |message| message["type"] }.each do | type, logs |
  %div{:class => 'app-releases__tag app-releases__tag--' + type.gsub(' ', '')}
    = tags[type.gsub(' ', '')]
  %ul.app-releases__list{:class => 'app-releases__list--' + type.gsub(' ', '')}
    - logs.each do | change |
      %li
        = change.message
        %span.app-releases__references
          - if change.references
            - change.references.each_with_index do | reference, index |
              - if index != 0
                ,&nbsp;
              - if reference.issue
                %a{:href => "https://issues.jenkins.io/browse/JENKINS-#{reference.issue}" }<>
                  = "issue #{reference.issue}"
              - if reference.pull
                %a{:href => "https://github.com/jenkinsci/jenkins/pull/#{reference.pull}" }<>
                  = "pull #{reference.pull}"
              - else
                %a{:href => reference.url }<>
                  - if reference.title
                    = reference.title
                  - else
                    = reference.url
          - elsif change.issue
            %a{:href => "https://issues.jenkins.io/browse/JENKINS-#{change.issue}" }<>
              = "issue #{change.issue}"
          - elsif change.pull
            %a{:href => "https://github.com/jenkinsci/jenkins/pull/#{change.pull}" }<>
              = "pull #{change.pull}"
