- if page.changes.empty?
  %em
    No notable changes in this release.
- minor_authors = []
- page.changes.each do | change |
  - if change.type =~ /minor/
    - if change.authors
      - minor_authors += change.authors
  - else
    %li{:class => change.type }
      = change.message
      - if change.references
        - change.references.each_with_index do | reference, index |
          - if index == 0
            (
          - else
            ,&nbsp;
          - if reference.issue
            %a{:href => "https://issues.jenkins-ci.org/browse/JENKINS-#{reference.issue}" }<>
              = "issue #{reference.issue}"
          - if reference.pull
            %a{:href => "https://github.com/jenkinsci/jenkins/pull/#{reference.pull}" }<>
              = "pull #{reference.pull}"
          - else
            %a{:href => reference.url }<>
              - if reference.title
                = reference.title
              - else
                = reference.url
          - if index == change.references.count - 1
            )
      - elsif change.issue
        (
        %a{:href => "https://issues.jenkins-ci.org/browse/JENKINS-#{change.issue}" }<>
          = "issue #{change.issue}"
        )
      - elsif change.pull
        (
        %a{:href => "https://github.com/jenkinsci/jenkins/pull/#{change.pull}" }<>
          = "pull #{change.pull}"
        )
      - if change.authors
        by
        - change.authors.each do | author |
          %a{:href => "https://github.com/#{author}" }<>
            = " @#{author}"
- if !minor_authors.empty?
  - # TODO sort and uniq
  %p
    We'd also like to thank the following contributors for further contributions to this release:
    - minor_authors.each do | author |
      %a{:href => "https://github.com/#{author}" }<>
        = " @#{author}"