- page.releases.reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(page.newest_release) }[0..page.limit-1].each do | release |
  %item
    %title Jenkins #{release.version}
    %link
      #{page.changelog_url}/#v#{release.version}
    %description

      - if release.lts_changes
        = "<strong>Changes since #{release.lts_baseline}:</strong>".encode(xml: :text)

      = "<ul>".encode(xml: :text)
      - release.changes.each do | change |
        = "<li>".encode(xml: :text)
        #{change.type.gsub(/\w+/, &:capitalize).gsub(/rfe/i, 'RFE')}:
        = change.message.encode(xml: :text)
        = "</li>".encode(xml: :text)
      = "</ul>".encode(xml: :text)

      - if release.lts_changes
        = "<strong>Notable changes since #{release.lts_predecessor}:</strong>".encode(xml: :text)

        = "<ul>".encode(xml: :text)
        - release.lts_changes.each do | change |
          = "<li>".encode(xml: :text)
          #{change.type.gsub(/\w+/, &:capitalize).gsub(/rfe/i, 'RFE')}:
          = change.message.encode(xml: :text)
          = "</li>".encode(xml: :text)
        = "</ul>".encode(xml: :text)
    %guid(isPermaLink='false')
      jenkins-#{release.version}
    - if release.date
      %pubDate
        = release.date.rfc822
