- authorId = page.author || ''
- author = site.authors[authorId]
- if author
  %div{:id => "about-the-author"}
    - unless page.blogroll.nil?
      %h2 #{author.name}
    %table.author.box
      %tr
        %td
          = partial("avatar.html.haml", :author => author, :authorId => authorId)
        %td
          - if page.blogroll.nil?
            %b.author.name
              %a{:href => author_link(authorId)}
                = author.name
          %p
            - if author.content.empty?
              This contributor has no biography defined.
              See social media links referenced below.
            - else
              = author.content
          - if page.term_begin
            %p
              %b
                = "Term: #{page.term_begin} - #{page.term_end}"
          = partial("social-media-buttons.html.haml", :author => author)
