- authorId = page.author || ''
- author = site.authors[authorId]
- if author
  %div.app-author{:id => "about-the-author"}
    = partial("avatar.html.haml", :author => author, :authorId => authorId)
    %div.app-author__content
      - if page.blogroll.nil?
        %p.app-author__name
          %a{:href => author_link(authorId)}
            = author.name
      - else
        %p.app-author__name #{author.name}
      - if author.content.empty?
        This author has no biography defined.
        See social media links referenced below.
      - else
        = author.content
      - if page.term_begin
        %p.app-author__biography
          %b
            = "Term: #{page.term_begin} - #{page.term_end}"
      = partial("social-media-buttons.html.haml", :author => author, :authorId => authorId)
