- if page.project
  - project = site.pages.find { |p| p.source_path.include? "/content/projects/#{page.project}/index.adoc" }

- if page.sig
  - sig = site.pages.find { |p| p.source_path.include? "/content/sigs/#{page.sig}/index.adoc" }
- elsif project && project.sig
  - sig = site.pages.find { |p| p.source_path.include? "/content/sigs/#{project.sig}/index.adoc" }

- ####
- # Mailing lists
- ####
- if page.links && page.links.googlegroup
  - googlegroup = page.links.googlegroup
- elsif page.links && page.links.mailinglist
  - mailinglist = page.links.mailinglist
- elsif project && project.links && project.links.googlegroup
  - googlegroup = project.links.googlegroup
- elsif project && project.links && project.links.mailinglist
  - mailinglist = project.links.mailinglist
- elsif sig && sig.links && sig.links.googlegroup
  - googlegroup = sig.links.googlegroup
- elsif sig && sig.links && sig.links.mailinglist
  - mailinglist = sig.links.mailinglist

-if googlegroup
  %li
    %a{:href => "https://groups.google.com/g/#{googlegroup}"}
      Mailing List
-elsif mailinglist
  %li
    %a{:href => (mailinglist.start_with? "http") ? mailinglist : expand_link(mailinglist)}
      Mailing List

- ####
- # Chats
- ####
- if page.links && page.links.gitter
  - gitter = page.links.gitter
- elsif page.links && page.links.matrix
  - matrix = page.links.matrix
- elsif page.links && page.links.chat
  - chat = page.links.chat
- elsif project && project.links && project.links.gitter
  - gitter = project.links.gitter
- elsif project && project.links && project.links.chat
  - chat = project.links.chat
- elsif sig && sig.links && sig.links.gitter
  - gitter = sig.links.gitter
- elsif sig && sig.links && sig.links.chat
  - chat = sig.links.chat

- if gitter
  %li
    %a{:href => "https://app.gitter.im/#/room/##{gitter}"}
      %img{:title => "Gitter", :src => "https://badges.gitter.im/#{gitter}.svg"}
- elsif matrix
  %li
    %a{:href => "https://matrix.to/#/##{matrix}"}
      %img{:title => "Matrix", :src => "https://img.shields.io/badge/matrix-join%20chat-blue?style=flat&logo=matrix"}
- elsif chat
  %li
    %a{:href => (chat.start_with? "http") ? chat : expand_link(chat)}
      Chat

- ####
- # GitHub
- ####
- if page.links && page.links.github
  - github = page.links.github
- elsif project && project.links && project.links.github
  - github = project.links.github
- elsif sig && sig.links && sig.links.github
  - github = sig.links.github

- if github
  %li
    %a{:href => "https://github.com/#{github}"}
      Github

- ####
- # Twitter
- ####
- if page.links && page.links.twitter
  - twitter = page.links.twitter
- elsif project && project.links && project.links.twitter
  - twitter = project.links.twitter
- elsif sig && sig.links && sig.links.twitter
  - twitter = sig.links.twitter

- if twitter
  %li
    %a{:href => "https://twitter.com/#{twitter}"}
      Twitter

- ####
- # Meetings
- ####
- if page.links && page.links.meetings
  - meetings = page.links.meetings
- elsif project && project.links && project.links.meetings
  - meetings = project.links.meetings
- elsif sig && sig.links && sig.links.twitter
  - meetings = sig.links.meetings

- if meetings
  %li
    %a{:href => (meetings.start_with? "http") ? meetings : expand_link(meetings)}
      Meetings

- ####
- # Forum
- ####
- if page.links && page.links.forum
  - forum = page.links.forum
- elsif project && project.links && project.links.forum
  - forum = project.links.forum
- elsif sig && sig.links && sig.links.forum
  - forum = sig.links.forum

- if forum
  %li
    %a{href: "https://community.jenkins.io/c/contributing/#{forum}"}
      Forum
