%ul.app-events
  - # Sort by the date defined for each of the events
  - now = Time.now.utc
  - site.events.keys.each do |name|
    - data = site.events[name]
    -# The error handling the partials.rb is broken.
    -# We depend on content/events.html.haml to report errors instead.
    -# raise ArgumentError.new("No `date` specified: #{name}")  unless data.date
    -# raise ArgumentError.new("No `title` specified: #{name}") unless data.title
    -# raise ArgumentError.new("No `link` specified: #{name}") unless data.link
    - data.event_time = data.date ? Time.parse(data.date) : now
    - data.event_end_time = data.endDate ? Time.parse(data.endDate) : nil
  - site.events.keys.sort { |x,y| site.events[x].event_time <=> site.events[y].event_time }.each do |name|
    - data = site.events[name]
    - event_time = data.event_time
    - event_end_time = data.event_end_time
    - next unless (event_end_time != nil ? event_end_time : event_time) > now

    %li.app-event
      %a{:href => data.link}
        %h5.app-event__title
          = data.title

        %p.app-event__teaser
          = data.raw_content

        %div.app-event__details
          %span
            %ion-icon.important{:name => "time"}
            = event_time.strftime('%l:%M%P, %B %-d')
            - if event_end_time != nil
              = '- ' + event_end_time.strftime('%B %-d')
          %span
            %ion-icon.important{:name => "navigate"}
            = data.location
