%div.item-list
  %ul.ji-date-list.ji-item-list
    - # Sort by the date defined for each of the events
    - site.events.keys.sort { |x,y| Time.parse(site.events[x].date) <=> Time.parse(site.events[y].date) }.each do |name|
      - data = site.events[name]
      - raise "No `date` specified!" unless data.date
      - event_time = Time.parse(data.date)
      - next unless event_time > Time.now.utc
      %li.post.event
        %a.body{:href => data.link, :target => '_blank'}
          .header.time
            .date-time
              .date
                .month
                  = event_time.strftime('%b')
                .day
                  = event_time.strftime('%-d')
                .dow
                  = event_time.strftime('%a')
              .time
                = event_time.strftime('%l:%M %P')

            %h5.title
              = data.title

          %p.teaser
            = data.raw_content
            .more

        .attrs
