- jumbotron_id = rand(1000)

- if page.image
  :css
    .jumbotron.featured.featured_#{jumbotron_id} {
      background: #042E54 url(#{page.image}) no-repeat center;
      background-size: cover;
      position: relative;
      overflow: hidden;
      box-shadow:inset rgba(0, 0, 0, .33) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.25) 0 22rem
    }

.jumbotron.jumbotron-fluid.featured{:class => "featured_#{jumbotron_id}"}
  .container
    .rog
      .col-md-1
      .col-md-7
        %a{:href => page.href}
          %h2
            = page.title
          %p
            = page.intro

        - if page.call_to_action
          %div
            %a.app-button.app-button--primary{:href => page.call_to_action.href}
              = page.call_to_action.text
        .col-md-5
