-# Intentionally does not include a version in the pkg_add command.
-# User will be prompted with the list of available package versions.
-# We do not track the OpenBSD package version numbers.

-# Intentionally does not include upgrade instructions.

-# Stuart Henderson noted that if the user is running a development
-# snapshot then they'll need to be running packages in sync with the
-# base OS version that they're running, otherwise typically the jenkins
-# packages don't get updated between OS releases, and users would
-# generally know how to update for those anyway.

-# https://marc.info/?l=openbsd-ports&m=173979027021545&w=2

%p
  Jenkins can be installed using
  %a{:href => 'https://man.openbsd.org/pkg_add'}
    pkg_add
  , the
  %a{:href => 'https://www.openbsd.org/faq/faq15.html#PkgInstall'}
    OpenBSD package manager
  \.
  Package definition:
  %a{:href => "https://cvsweb.openbsd.org/cgi-bin/cvsweb/ports/devel/jenkins/#{page.tag}"}
    = "jenkins/#{page.tag}"

%p
  This package is supported by a third party.
  It may not be as frequently updated as packages directly supported by the Jenkins project.

Sample commands:
%ul
  %li
    = "Install the latest #{page.type} version:"
    %code
      = "pkg_add jenkins"
  %li
    = "Start the Jenkins service:"
    %code
      = "rcctl start jenkins"
  %li
    = "Restart the Jenkins service:"
    %code
      = "rcctl restart jenkins"

After starting the Jenkins service, browse to http://localhost:8080 and follow the instructions to complete the installation.
