
%h2
  Homebrew Installer

%p
  %a{:href => "https://formulae.brew.sh/formula/#{page.tag}"}
    %img{:alt=>"homebrew", :src=>"https://img.shields.io/homebrew/v/#{page.tag}"}

%p
  Jenkins can be installed using the
  %a{:href => 'https://brew.sh/'}
    Homebrew
  package manager.
  Homebrew formula:
  %a{:href => "https://formulae.brew.sh/formula/#{page.tag}"}
    = "#{page.tag}"
  This is a package supported by a third party which may be not as frequently updated as packages supported by the Jenkins project directly.

Sample commands:
%ul
  %li
    = "Install the latest #{page.type} version:"
    %code
      = "brew install #{page.tag}"
  %li
    = "Start the Jenkins service:"
    %code
      = "brew services start #{page.tag}"
  %li
    = "Restart the Jenkins service:"
    %code
      = "brew services restart #{page.tag}"    
  %li
    = "Update the Jenkins version:"
    %code
      = "brew upgrade #{page.tag}" 

After starting the Jenkins service, browse to http://localhost:8080 and follow the instructions to complete the installation.

Also see the external materials for installation guidelines. For example,
%a{:href => "https://www.macminivault.com/installing-jenkins-on-macos/"}
  this blogpost
describes the installation process.
