- jumbotron_id = rand(1000)

- if page.image
  :css
    .jumbotron.featured.featured_#{jumbotron_id} {
      background: #4799d6;
      padding-bottom: 0;
    }

    .jumbotron.featured.featured_#{jumbotron_id} img {
      height: 400px;
    }

    .jumbotron.featured.featured_#{jumbotron_id} p {
      font-size: 16px;
      font-weight: 200;
    }

.jumbotron.jumbotron-fluid.featured{:class => "featured_#{jumbotron_id}"}
  .container
    .rog
      .col-md-5
        %a{:href => page.href}
          %h2
            = page.title
          %p
            = page.intro

        - if page.call_to_action
          %div
            %a.btn.btn-primary{:href => page.call_to_action.href}
              = page.call_to_action.text
      .col-md-5
        %img{:src => page.image}
