- jumbotron_id = rand(1000)
- jumbotron_background = page.background || "#4799d6"

- if page.image
  :css
    .jumbotron.featured.featured_#{jumbotron_id} {
      background: #{jumbotron_background};
    }

    .jumbotron.featured.featured_#{jumbotron_id} img {
      height: 300px;
    }

    .jumbotron.featured.featured_#{jumbotron_id} p {
      font-size: 16px;
    }

.jumbotron.jumbotron-fluid.featured{:class => "featured_#{jumbotron_id}"}
  .container
    .row
      .col-md-5
        %a{:href => page.href}
          %h2
            = page.title
          %p
            = page.intro

        - if page.call_to_action
          %div
            %a.btn.btn-primary{:href => page.call_to_action.href}
              = page.call_to_action.text
      .col-md-5
        %img{:src => page.image}
