
- carousel_id = rand(1000)
- carousel_background = page.background || "#4799d6"
- if page.background_image
  - carousel_background = "#{carousel_background} url(#{page.background_image.src}) no-repeat center"

:css
  .carousel_#{carousel_id} {
    --color: white;
    background-size: cover !important;
  }
  .carousel_#{carousel_id} a {
    color: var(--color);
    text-decoration: none !important;
  }
  .carousel_#{carousel_id} img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #ProjectCarousel_#{carousel_id} {
    background: #{carousel_background};
  }

.carousel.slide#ProjectCarousel{:id => carousel_id, :class => "carousel_#{carousel_id}", :data => { :bs => {:ride => "carousel"}}}
  .container
    - if page.slides.length > 1
      %div.carousel-indicators
        - page.slides.each_with_index do |slide, index|
          %button{:class => index == 0 && "active", :data => {:bs => {:target => "#ProjectCarousel_#{carousel_id}", :slide => {:to => index }}}}
    .carousel-inner{:class => "carousel_#{carousel_id}"}
      - page.slides.each_with_index do |slide, index|
        - slide_background = slide.background || "rgba(0,0,0,0)"
        - if slide.background_image
          - slide_background = "#{slide_background} url(#{expand_link(slide.background_image.src)}) no-repeat center"
        .carousel-item{:class => "carousel_#{carousel_id} #{index == 0 ? "active" : ""}",
          :style => "background: #{slide_background};"}
          .container
            -# Spacing to make content more even
            .row.mt-5.mb-5
              .col-md-12.col-lg-8.order-first.order-lg-last
                - if slide.image
                  - image_height = slide.image.height || '300px'
                  %a{:href => expand_link(slide.href)}
                    %img{:src => expand_link(slide.image.src), :style => "height: #{image_height};", :role => "presentation"}
              .col-md-12.col-lg-4.order-last.order-lg-first
                %a{:href => expand_link(slide.href)}
                  %h2
                    = slide.title
                  %p
                    = slide.intro

                - if slide.call_to_action
                  %div
                    %a.app-button{:href => expand_link(slide.call_to_action.href)}
                      = slide.call_to_action.text
