- jumbotron_id = rand(1000)
- jumbotron_background = page.background || "#4799d6"

:css
  .jumbotron.featured.featured_#{jumbotron_id} {
    background: #{jumbotron_background};
  }

  .jumbotron.featured.featured_#{jumbotron_id} p {
    font-size: 16px;
  }

- if page.image
  - image_height = page.image.height || '300px'
  :css
    .jumbotron.featured.featured_#{jumbotron_id} img {
      height: #{image_height};
    }

- if page.background_image
  :css
    .jumbotron.featured.featured_#{jumbotron_id} {
      background: #000000 url(#{page.background_image.src}) no-repeat center;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }

.jumbotron.jumbotron-fluid.featured{:class => "featured_#{jumbotron_id}"}
  .container
    .row
      .col-md-12.col-lg-8.order-first.order-lg-last
        - if page.image
          %img{:src => page.image.src}
      .col-md-12.col-lg-4.order-last.order-lg-first
        %a{:href => page.href}
          %h2
            = page.title
          %p
            = page.intro

        - if page.call_to_action
          %div
            %a.app-button.app-button--primary{:href => page.call_to_action.href}
              = page.call_to_action.text
