%h3{:id => "v#{page.release.version}" }
  = "What's new in #{page.release.version}"
  - if page.release.date
    = "(#{page.release.date})"
- if page.release.banner
  %div{:class => 'app-banner'}
    = page.release.banner