- page.releases.reverse_each do |release|
  %item
    %title Jenkins #{release.version}
    %link
      ${page.changelog_url}/#v#{release.version}
    %description
      = "<ul>".encode( { :xml => :text } )
      - release.changes.each do | change |
        = "<li>".encode( { :xml => :text } )
        #{change.type.gsub(/\w+/, &:capitalize).gsub(/rfe/i, 'RFE')}:
        = change.message.encode( { :xml => :text } )
        = "</li>".encode( { :xml => :text } )
      = "</ul>".encode( { :xml => :text } )
    %guid
      jenkins-#{release.version}
