- if legacy?
  %div{:id => 'block-block-5', :class => 'block block-block even'}
    %h3
      What is Jenkins?

    %div.content
      %p
        In a nutshell, Jenkins is the leading open source automation server.
        Built with Java, it provides
        %strong
          hundreds
        of plugins to support building, testing, deploying and automation
        virtually any project

  = partial('download.html.haml')
  = partial('book.html.haml')
  = partial('resources.html.haml')
- else
  %div#sidebar.col-md-4

    %h5 Resources

    %ul.resources
      %li
        %a{:href => '/calendar'}
          Calendar
      %li
        %a{:href => 'https://wiki.jenkins-ci.org/'}
          Wiki
      %li
        %a{:href => 'https://issues.jenkins-ci.org/'}
          Issues
      %li
        %a{:href => 'https://ci.jenkins-ci.org/'}
          Jenkins-on-Jenkins

    = partial('book.html.haml')

    - if page.blogrollup
      = partial('blogrollup.html.haml')

