- if legacy?
  %div{:id => 'block-block-5', :class => 'block block-block even'}
    %h3
      What is Jenkins?

    %div.content
      %p
        In a nutshell, Jenkins is the leading open source automation server.
        Built with Java, it provides
        %strong
          hundreds
        of plugins to support building, testing, deploying and automation
        for virtually any project

  = partial('legacy/download.html.haml')
  = partial('legacy/book.html.haml')
  = partial('legacy/resources.html.haml')

- else

  %div.content
    = partial('events.html.haml')

  - if page.blogrollup
    = partial('blogrollup.html.haml')

