- author = page.author
%ul.app-social-media-buttons
  - sigs = site.pages.select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }.select { |p| p.leads&.include?(author.github) }
  - if sigs
    - sigs.each do |item|
      -# Skip the item if it does not contain links - a retired SIG
      - next if not item.links
      %li
        %a{:href => item.url, :'data-tooltip' => item.title}
          .app-sigs__item__icon.smol{:style => '--background: url("' + expand_link(item.logo) + '")'}
            - if item.logo.end_with?('.png')
              %img{:title => "Logo", :src => expand_link(item.logo), :width => "96"}
            - else
              = File.read("content/" + expand_link(item.logo))

  - if author.github
    %li
      %a{:href => "https://github.com/#{author.github}", :class => "app-button", :'data-tooltip' => 'GitHub', :target => "_blank", :rel => "noreferrer noopener"}
        = File.read("content/images/symbols/github.svg")
  - if author.twitter
    %li
      %a{:href => "https://twitter.com/#{author.twitter}", :class => "app-button", :'data-tooltip' => 'ğ• (formerly Twitter)', :target => "_blank", :rel => "noreferrer noopener"}
        = File.read("content/images/symbols/x.svg")
  - if author.blog
    %li
      %a{:href => "#{author.blog}", :target => "_blank", :class => "app-button", :'data-tooltip' => 'Blog', :rel => "noreferrer noopener"}
        = File.read("content/images/symbols/blog.svg")
  - if author.linkedin
    %li
      %a{:href => "https://www.linkedin.com/in/#{author.linkedin}", :class => "app-button", :'data-tooltip' => 'LinkedIn', :target => "_blank", :rel => "noreferrer noopener"}
        = File.read("content/images/symbols/linkedin.svg")
