- author = page.author
- authorId = page.authorId

:ruby
  sigs = site.pages
    .select { |p| p.source_path =~ /\/content\/sigs\/[^\/]+\/index.adoc/ }
    .select { |p| p.links }
    .select { |p| p.leads&.include?(authorId) || p.participants&.include?(authorId) }
    .map do |p|
      type = p.leads&.include?(authorId) ? "Lead" : "Participant"
      def p.type; @type; end
      p.instance_variable_set(:@type, type)
      p
    end
    .sort_by { |p| p.type == "Lead" ? 0 : 1 }

  social_links = [
    { url: author.blog, icon: "blog", label: "Blog" },
    { url: author.github&.then { |u| "https://github.com/#{u}" }, icon: "github", label: "GitHub" },
    { url: author.twitter&.then { |u| "https://twitter.com/#{u}" }, icon: "x", label: "ð• (formerly Twitter)" },
    { url: author.linkedin&.then { |u| "https://www.linkedin.com/in/#{u}" }, icon: "linkedin", label: "LinkedIn" }
  ].select { |link| link[:url] }

- if sigs.any? || social_links.any?
  %div.app-social-media-buttons__container
    - if sigs.any?
      %ul.app-social-media-buttons
        - sigs.each do |item|
          %li
            %a{:href => item.url, :class => "app-button", :'data-tooltip' => item.title + ' ' + item.type}
              .app-sigs__item__icon{:style => '--background: url("' + expand_link(item.logo) + '")'}
                - if item.logo.end_with?('.png')
                  %img{:title => "Logo", :src => expand_link(item.logo), :width => "96"}
                - else
                  = File.read("content/" + expand_link(item.logo))

    - if social_links.any?
      %ul.app-social-media-buttons
        - social_links.each do |link|
          %li
            %a{:href => link[:url], :class => "app-button", :'data-tooltip' => link[:label], :target => "_blank", :rel => "noreferrer noopener"}
              = File.read("content/images/symbols/#{link[:icon]}.svg")
