:ruby
  contributors = site.indexpage[:thank_you]

.thank-you-block
  .thank-you-box
    .contributor-data
      - contributors.each do |contributor|
        .image-div
          %img{ src: contributor['GH_HANDLE_AVATAR'], alt: "Avatar", width: "50", height: "50" }

        .desc-div
          %p
            Thank you
            %a{ href: contributor['GH_HANDLE_URL'] }=contributor['GH_HANDLE']
          %p
            for making
            = contributor['NBR_PR']
            pull request#{'s' if contributor['NBR_PR'].to_i > 1}
          %p
            to the
            - contributor['REPOSITORIES'].split.each_with_index do |repo, index|
              - repo_name = repo.split('/').last
              - if index == contributor['REPOSITORIES'].split.size - 1
                %a{ href: "https://github.com/#{repo}" }=repo_name
              - unless index == contributor['REPOSITORIES'].split.size - 1
                = succeed ',' do
                  %a{ href: "https://github.com/#{repo}" }=repo_name
          %p
            repo#{'s' if contributor['REPOSITORIES'].split.size > 1} in #{Date.parse(contributor['MONTH'] + "-01").strftime("%B %Y")}!
