%nav#ji-toolbar.navbar.navbar-expand-lg.navbar-dark.top.bg-dark.fixed-top
  %a.navbar-brand{:href => expand_link('/')}
    = site.base_title
  %button.navbar-toggler{"data-target" => "#CollapsingNavbar", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #CollapsingNavbar.collapse.navbar-collapse

    %ul.nav.navbar-nav.mr-auto
      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => partial('cdf_logo.html.haml'))

        .dropdown-menu
          %a.dropdown-item.feature{:href => "https://cd.foundation/"}
            What is CDF?
          %a.dropdown-item.feature{:href => "https://jenkins-x.io/"}
            Jenkins X
          %a.dropdown-item.feature{:href => "https://cloud.google.com/tekton/"}
            Tekton
          %a.dropdown-item.feature{:href => "https://www.spinnaker.io/"}
            Spinnaker

    %ul.nav.navbar-nav.ml-auto

      %li.nav-item{:class => active_link?('node')}
        %a.nav-link{:href => expand_link('node')}
          Blog

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "Documentation")

        .dropdown-menu
          %a.dropdown-item.feature{:href => expand_link('doc/book')}
            %strong
              User Guide
          %a.dropdown-item{:href => expand_link('doc/book/installing/')}
            = '&nbsp;-&nbsp;Installing Jenkins'
          %a.dropdown-item{:href => expand_link('doc/book/pipeline')}
            = '&nbsp;-&nbsp;Jenkins Pipeline'
          %a.dropdown-item{:href => expand_link('doc/book/managing/')}
            = '&nbsp;-&nbsp;Managing Jenkins'
          %a.dropdown-item{:href => expand_link('doc/book/security/')}
            = '&nbsp;-&nbsp;Securing Jenkins'
          %a.dropdown-item{:href => expand_link('doc/book/system-administration')}
            = '&nbsp;-&nbsp;System Administration'
          %a.dropdown-item{:href => expand_link('doc/book/glossary/')}
            = '&nbsp;-&nbsp;Terms and Definitions'
          %a.dropdown-item{:href => expand_link('solutions')}
            %strong
              Solution Pages
          %a.dropdown-item{:href => expand_link('doc/tutorials/')}
            %strong
              Tutorials
          %a.dropdown-item{:href => expand_link('doc/pipeline/tour/getting-started/')}
            = '&nbsp;-&nbsp;Guided Tour'
          %a.dropdown-item{:href => expand_link('doc/tutorials/')}
            = '&nbsp;-&nbsp;More Tutorials'
          %a.dropdown-item.feature{:href => expand_link('doc/developer')}
            %strong
              Developer Guide
          %a.dropdown-item{:href => expand_link('participate')}
            %strong
              Contributor Guide

      %li.nav-item{:class => active_link?('plugins')}
        %a.nav-link{:href => 'https://plugins.jenkins.io/'}
          Plugins

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "Community")

        .dropdown-menu
          %a.dropdown-item.feature{:href => expand_link("participate")}
            Overview
          %a.dropdown-item.feature{:href => expand_link('chat'), :title => "Chat with the rest of the Jenkins community on IRC"}
            Chat
          %a.dropdown-item.feature{:href => expand_link('projects/jam')}
            Meet
          %a.dropdown-item.feature{:href => expand_link('events')}
            Events
          %a.dropdown-item.feature{:href => "https://issues.jenkins.io/"}
            Issue Tracker
          %a.dropdown-item.feature{:href => expand_link('mailing-lists'),
                            :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
            Mailing Lists
          %a.dropdown-item.feature{:href => expand_link('project/roadmap')}
            Roadmap
          %a.dropdown-item.feature{:href => "https://accounts.jenkins.io/", :title => "Create/manage your account for accessing wiki, issue tracker, etc"}
            Account Management

          %a.dropdown-item.feature{:href => expand_link('sigs/')}
            %strong
              Special Interest Groups
          - site.pages.map do |page|
            - if page.url && page.url.match(/\/sigs\/([^\/]+)\/$/)
              %a.dropdown-item.feature{:href => expand_link(page.url)}
                = '&nbsp;-&nbsp;' + page.title

      %li.dropdown.nav-item
        = partial("dropdown.html.haml", :name => "Subprojects")

        .dropdown-menu
          %a.dropdown-item.feature{:href => expand_link('projects/')}
            Overview
          - site.pages.map do |page|
            - if page.url && page.url.match(/\/projects\/([^\/]+)\/$/) && page.layout == "project"
              %a.dropdown-item.feature{:href => expand_link(page.url)}
                = page.title
          %a.dropdown-item.feature{:href => expand_link('/sigs/docs/gsod/2020/projects/document-jenkins-on-kubernetes/')}
            Document Jenkins on Kubernetes

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "About")

        .dropdown-menu
          %a.dropdown-item{:href => expand_link('project/roadmap')}
            Roadmap
          %a.dropdown-item{:href => expand_link('security')}
            Security
          %a.dropdown-item{:href => expand_link('press')}
            Press
          %a.dropdown-item{:href => expand_link('awards')}
            Awards
          %a.dropdown-item{:href => expand_link('project/conduct')}
            Conduct
          %a.dropdown-item{:href => expand_link('artwork')}
            Artwork

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "English")

        .dropdown-menu
          %a.dropdown-item{:href => expand_link('zh')}
            中文 Chinese

      %li.nav-item
        %a.nav-link.btn.btn-outline-secondary{:href => expand_link('download')}
          Download

      %li.nav-item.searchbox
        %input.form-control.searchbox{:type => "search", :placeholder => "Search", :aria => { :label => "Search" }}
/ Spacing to make the fixed-top sticky navbar not occlude any content below it
.pt-4
  &nbsp;
