:javascript
  $(function () {
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  })

:javascript
  $(function () {
    function doPopovers(buttonContainer, placement, extraClass){
      var $popovers = $(buttonContainer + ' [data-toggle="popover"]');
      var $popLayer = $('#popover-layer');
      if ($popovers.length > 0){

        $('body').click(function(e){
          var $target =  $(e.target);
          console.log('toggle?');
          if($target.closest($popovers).length === 1){
            console.log($target);
            $popovers.popover('show');
          }
          else if($target.closest('.popover').length === 0 )
            $popovers.popover('hide');
        });

        if($popLayer.length < 1)
          $popLayer = $('<div/>').appendTo('body').addClass('popover-layer').attr('id','popover-layer');
        $popovers.popover({
          container: '#popover-layer',
          trigger:'manual',
          template:'<div class="popover download-options ' + extraClass + '" role="tooltip"><div class="popover-arrow"></div><div class="popover-content"></div></div>',
          placement:placement,
          content:function(){
            return $(this).next().html();
          },
          html:true
        });
      }
    }
    doPopovers('#ji-download', 'top', 'download-popup-main');
    doPopovers('#download-menu', 'bottom', 'download-popup-menu');
  })


#ji-hover-layer

.ji-toolbar-offset

.fixed.top

  %nav#ji-toolbar.navbar.navbar-dark.bg-inverse

    %a#home-logo.fixed.navbar-brand{:href => site.base_url}
      = site.base_title

    %ul.nav.navbar-nav
      %li.nav-item.fixed
        #download-menu.btn-group
          %a.btn.btn-primary.dropdown-toggle{'data-toggle'=>"popover", 'data-offset' => '10 -240px', 'data-placement'=>'bottom', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
            Downloads
          = partial('downloadlist.html.haml')
      %li.nav-item{:class => active_link?('blog')}
        %a.nav-link{:href => expand_link('node')}
          Blog
      %li.nav-item{:class => active_link?('doc')}
        %a.nav-link{:href => expand_link('doc')}
          Documentation
      %li.nav-item{:class => active_link?('plugins')}
        %a.nav-link{:href => 'https://plugins.jenkins.io/'}
          Plugins
      - # Can't use active_link? here because our section is going to be the actual solution page itself
      - # but we still want to highlight the active link on the Use-cases dropdown
      %li.nav-item.dropdown{:class => ('active' if (page.section && site.solutions.keys.include?(page.section.to_sym)))}
        %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown',
            :href=> "#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Use-cases
        %div.dropdown-menu
          - site.solutions.keys.sort.each do |key|
            - link = expand_link("solutions/#{key}")
            %a.dropdown-item.feature{:href => link, :class => active_link?(key.to_s)}
              = site.solutions[key].usecase
      %li.nav-item{:class => active_link?('participate')}
        %a.nav-link{:href => expand_link("participate")}
          Participate
      %li.nav-item.dropdown{:class => ('active' if (page.section == 'projects'))}
        %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown',
            :href=> "/projects", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Sub-projects
        %div.dropdown-menu
          %a.dropdown-item.feature{:href => expand_link('projects/')}
            Overview
          - site.pages.map do |page|
            - next unless page.url.match(/\/projects\/(\w+)\/$/)
            %a.dropdown-item.feature{:href => page.url}
              = page.title
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown',
            :href=> '#', :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Resources
        %div.dropdown-menu
          %a.dropdown-item.feature{:href => 'https://accounts.jenkins.io/', :title => 'Create/manage your account for accessing wiki, issue tracker, etc'}
            Account Management
          %a.dropdown-item{:href => expand_link("chat"), :title => "Chat with the rest of the Jenkins community on IRC"}
            Chat
          %a.dropdown-item.feature{:href => 'https://issues.jenkins-ci.org/'}
            Issue Tracker
          %a.dropdown-item{:href => expand_link("mailing-lists"), :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
            Mailing Lists
          %a.dropdown-item.feature{:href => 'https://wiki.jenkins-ci.org/'}
            Wiki
      %li.nav-item{:class => active_link?('security')}
        %a.nav-link{:href => expand_link('security')}
          Security
      %li.nav-item{:class => active_link?('press')}
        %a.nav-link{:href => expand_link('press')}
          Press
      %li.nav-item{:class => active_link?('conduct')}
        %a.nav-link{:href => expand_link('project/conduct')}
          Conduct

#ji-top-peg
  %a#ji-fork-tag{:href => 'https://github.com/jenkinsci'}
    %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
      :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
      :alt => 'Fork us on GitHub'}/
