%nav#ji-toolbar.navbar.navbar-expand-md.navbar-dark.top.bg-dark.fixed-top
  %a.navbar-brand{:href => site.base_url}
    = site.base_title
  %button.navbar-toggler{"data-target" => "#CollapsingNavbar", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #CollapsingNavbar.collapse.navbar-collapse
    %ul.nav.navbar-nav.ml-auto
      %li.nav-item{:class => active_link?('node')}
        %a.nav-link{:href => expand_link('node')}
          Blog

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "Documentation")

        .dropdown-menu
          %a.dropdown-item{:href => expand_link('doc')}
            Use Jenkins
          %a.dropdown-item{:href => expand_link('doc/developer')}
            Extend Jenkins
          %span.dropdown-item
            %strong
              Use-cases
          - site.solutions.keys.sort.each do |key|
            - link = expand_link("solutions/#{key}")
            %a.dropdown-item.feature{:href => link, :class => active_link?(key.to_s)}
              = '&nbsp;-&nbsp;' + site.solutions[key].usecase


      %li.nav-item{:class => active_link?('plugins')}
        %a.nav-link{:href => 'https://plugins.jenkins.io/'}
          Plugins

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "Community")

        .dropdown-menu
          %a.dropdown-item.feature{:href => expand_link("participate")}
            Overview
          %a.dropdown-item.feature{:href => expand_link('chat'), :title => "Chat with the rest of the Jenkins community on IRC"}
            Chat
          %a.dropdown-item.feature{:href => expand_link('projects/jam')}
            Meet
          %a.dropdown-item.feature{:href => expand_link('events')}
            Events
          %a.dropdown-item.feature{:href => "https://issues.jenkins-ci.org/"}
            Issue Tracker
          %a.dropdown-item.feature{:href => expand_link('mailing-lists'),
                            :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
            Mailing Lists
          %a.dropdown-item.feature{:href => "https://wiki.jenkins.io/"}
            Wiki
          %a.dropdown-item.feature{:href => "https://accounts.jenkins.io/", :title => "Create/manage your account for accessing wiki, issue tracker, etc"}
            Account Management

          %a.dropdown-item.feature{:href => expand_link('sigs/')}
            %strong
              Special Interest Groups
          - site.pages.map do |page|
            - next unless page.url.match(/\/sigs\/([^\/]+)\/$/)
            %a.dropdown-item.feature{:href => expand_link(page.url)}
              = '&nbsp;-&nbsp;' + page.title

      %li.dropdown.nav-item
        = partial("dropdown.html.haml", :name => "Subprojects")

        .dropdown-menu
          %a.dropdown-item.feature{:href => expand_link('projects/')}
            Overview
          - site.pages.map do |page|
            - next unless page.url.match(/\/projects\/([^\/]+)\/$/)
            %a.dropdown-item.feature{:href => expand_link(page.url)}
              = page.title

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "About")

        .dropdown-menu
          %a.dropdown-item{:href => expand_link('security')}
            Security
          %a.dropdown-item{:href => expand_link('press')}
            Press
          %a.dropdown-item{:href => expand_link('awards')}
            Awards
          %a.dropdown-item{:href => expand_link('project/conduct')}
            Conduct
          %a.dropdown-item{:href => expand_link('artwork')}
            Artwork

      %li.nav-item.dropdown
        = partial("dropdown.html.haml", :name => "English")

        .dropdown-menu
          %a.dropdown-item{:href => expand_link('zh')}
            中文 Chinese

      %li.nav-item
        %a.nav-link.btn.btn-outline-secondary{:href => expand_link('download')}
          Download
/ Spacing to make the fixed-top sticky navbar not occlude any content below it
.pt-4
  &nbsp;
