---
layout: security
section: security
notitle: true
---

:ruby
  require 'asciidoctor'

  plugins = page.issues.collect { |issue| issue.plugins }.flatten.uniq.keep_if { |p| p }.sort { |x,y| (site._generated[:update_center].plugins[x.name]&.title&.downcase || x.name&.downcase) <=> (site._generated[:update_center].plugins[y.name]&.title&.downcase || y.name&.downcase) }
  credits = page.issues.reduce({}) do |issues, issue|
    if issue.has_key?("reporter")
      if !issues.has_key?(issue.reporter)
        issues[issue.reporter] = []
      end
      if !issues[issue.reporter].include?(issue.id)
        issues[issue.reporter] << issue.id
      end
    end
    issues
  end
  credits = credits.sort_by { |k,v| k }

  versions = page.issues.collect { |issue| issue.plugins }.flatten

  fixed_plugins = plugins.dup.keep_if { |p| p.fixed }
  unfixed_plugins = plugins.dup.keep_if { |p| !p.fixed }

  components = page.issues.collect { |issue| issue.components }.flatten.keep_if { |c| c }
  fixed_components = components.dup.keep_if { |c| c.fixed }

%h1
  = page.title

%p
  This advisory announces vulnerabilities in the following Jenkins deliverables:

%p
  %ul
    - if page.core
      %li
        Jenkins (core)
    - plugins.each do | plugin |
      %li
        - if site._generated[:update_center].plugins[plugin.name]
          %a{:href => 'https://plugins.jenkins.io/' + plugin.name }
            = site._generated[:update_center].plugins[plugin.name].title
            Plugin
        - else
          = plugin.title || plugin.name
          Plugin
    - components.each do | c |
      %li
        = c.title || c.name


- described_issues = page.issues.dup.keep_if { |i| i.title && i.description }
- if described_issues.size > 0
  %h2
    Descriptions
  - described_issues.each do | issue |
    - if issue.plugins && issue.plugins[0]
      - plugin_name = site._generated[:update_center].plugins[issue.plugins[0].name]&.title || issue.plugins[0]&.title || issue.plugins[0].name
    %h3{:id => issue.id}
      - if plugin_name
        = issue.title.gsub(/PLUGIN_NAME/, "#{plugin_name} Plugin")
      - else
        = issue.title
    %strong
      = issue.id
      - if issue.cve
        \/
        = issue.cve
    - if issue.cvss
      %br
      %strong
        Severity (CVSS):
      - if issue.cvss.vector.start_with? "CVSS:3.0"
        %a{ :href => 'https://www.first.org/cvss/calculator/3.0#' + issue.cvss.vector }
          = issue.cvss.severity
      - elsif issue.cvss.vector.start_with? "CVSS:3.1"
        %a{ :href => 'https://www.first.org/cvss/calculator/3.1#' + issue.cvss.vector }
          = issue.cvss.severity
      - else
        = issue.cvss.severity
    - if issue.plugins
      %br
      %strong
        - if issue.plugins.length > 1
          Affected plugins:
        - else
          Affected plugin:
        - issue.plugins.each_with_index do | plugin, idx |
          %nobr
            %a{ :href => 'https://plugins.jenkins.io/' + plugin.name }
              %code
                = plugin.name
            - if idx < issue.plugins.length - 1
              ,
    %br
    %strong
      Description:

    - if plugin_name
      = Asciidoctor.convert issue.description.gsub(/PLUGIN_NAME/, "#{plugin_name} Plugin"), safe: :safe, attributes: { 'icons' => 'font' }
    - else
      = Asciidoctor.convert issue.description, safe: :safe, attributes: { 'icons' => 'font' }
- else
  - # If there is any content, it's the issue descriptions -- but only show if there are none in the data
  = content

%h2
  Severity

%ul
  - page.issues.dup.sort { |x,y| x.id.split("-")[1].to_i <=> y.id.split("-")[1].to_i }.each do | issue |
    - if issue.cvss
      %li
        = "#{issue.id}:"
        - if issue.cvss.vector.start_with? "CVSS:3.0"
          %a{ :href => 'https://www.first.org/cvss/calculator/3.0#' + issue.cvss.vector }
            = issue.cvss.severity
        - elsif issue.cvss.vector.start_with? "CVSS:3.1"
          %a{ :href => 'https://www.first.org/cvss/calculator/3.1#' + issue.cvss.vector }
            = issue.cvss.severity
        - else
          = issue.cvss.severity
    - else
      %li
        = "#{issue.id}: Unspecified"

%h2
  Affected Versions
%ul
  - if page.core&.weekly&.previous
    %li
      %strong
        Jenkins weekly
      up to and including
      = page.core.weekly&.previous
  - if page.core&.lts&.previous
    %li
      %strong
        Jenkins LTS
      up to and including
      = page.core.lts&.previous
  - plugins.each do | plugin |
    %li
      %strong
        = site._generated[:update_center].plugins[plugin.name]&.title || plugin.title || plugin.name
        Plugin
      - if plugin.previous
        up to and including
        = plugin.previous
      - else
        (all versions)
  - components.each do | component |
    %li
      %strong
        = component.title || component.name
      - if component.previous
        up to and including
        = component.previous
      - else
        (all versions)

%h2
  Fix
- if fixed_plugins.length > 0 || fixed_components.length > 0 || page.core&.weekly&.fixed || page.core&.lts&.fixed
  %ul
    - if page.core&.weekly&.fixed
      %li
        %strong
          Jenkins weekly
        should be updated to version
        = page.core.weekly&.fixed
    - if page.core&.lts&.fixed
      %li
        %strong
          Jenkins LTS
        should be updated to version
        = page.core.lts&.fixed
    - fixed_plugins.each do | plugin |
      %li
        %strong
          = site._generated[:update_center].plugins[plugin.name]&.title || plugin.title || plugin.name
          Plugin
        should be updated to version
        = plugin.fixed
    - fixed_components.each do | component |
      %li
        %strong
          = component.title || component.name
        should be updated to version
        = component.fixed
  %p
    These versions include fixes to the vulnerabilities described above. All prior versions are considered to be affected by these vulnerabilities unless otherwise indicated.

- if unfixed_plugins.length > 0
  - # TODO layout does not support unfixed core releases
  %p
    As of publication of this advisory, no fixes are available for the following plugins:
  %ul
    - unfixed_plugins.each do | plugin |
      %li
        = site._generated[:update_center].plugins[plugin.name]&.title || plugin.title || plugin.name
        Plugin
  %p
    %a{:href => expand_link('/security/plugins/') + '#unresolved'}
      Learn why we announce these issues.


- if credits.length > 0
  %h2
    Credit

  %p
    The Jenkins project would like to thank the reporters for discovering and
    %a{:href => expand_link('security/#reporting-vulnerabilities')}
      reporting
    these vulnerabilities:

    %ul
      - credits.each do | reporter, issues |
        %li
          %strong
            = reporter
          for
          = issues.sort { |x,y| x.split("-")[1].to_i <=> y.split("-")[1].to_i }.join(", ")

- if page.resources && page.resources.length > 0
  %h2
    Other Resources

  %ul
    - page.resources.each do | resource |
      %li
        %a{:href => resource.url}
          = resource.title
