<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')
  %body
    = partial('toptoolbar.html.haml')
    = partial('carousel.html.haml')
    = partial('intro.html.haml')
    = partial('jumbotron.html.haml')

    %div.container
      .row.body
        %div#sidebar.col-md-4

          %h5 Resources

          = content

          %h5 Tools

          %ul.resources
            %li
              %a{:href => '/calendar'}
                Calendar
            %li
              %a{:href => 'https://wiki.jenkins-ci.org/'}
                Wiki
            %li
              %a{:href => 'https://issues.jenkins-ci.org/'}
                Issues
            %li
              %a{:href => 'http://ci.jenkins-ci.org/'}
                Jenkins-on-Jenkins

          = partial('book.html.haml')

        %div#content.col-md-8{:class => 'main-content with-sidebar'}
          %div#content-top/

          - if page.blogrollup
            = partial('blogs.html.haml')


        %div#content-bottom/


    = partial('footer.html.haml')

    %div#github
      %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
          :title => "Edit #{page.relative_source_path} on GitHub"}
        Improve this page

    = google_analytics_universal
