<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
	
    %link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css', :rel => 'stylesheet', :media => 'screen'}/
    %link{:href => '/css/font-icons.css', :rel => 'stylesheet', :media => 'screen'}/
    %link{:href => '/css/jenkins.css', :rel => 'stylesheet', :media => 'screen'}/
    
    %script{:src => 'https://code.jquery.com/jquery-2.1.4.min.js'}
    %script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'}
    
  %body
    %nav#ji-toolbar.navbar.navbar-dark.bg-inverse
      %a.navbar-brand{:href => '#'} 
        Jenkins.io
      %ul.nav.navbar-nav
        %li.nav-item
          %a.nav-link
            Downloads
        %li.nav-item
          %a.nav-link
            Plugins
        %li.nav-item
          %a.nav-link
            Blogs
        %li.nav-item
          %a.nav-link
            Events
        %li.nav-item
          %a.nav-link
            Doc
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown', :href=>"#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
            More
          %div.dropdown-menu
            %a.dropdown-item
              Members
            %a.dropdown-item
              Features
      %form.form-inline.navbar-form.pull-right
        %input.form-control{:type=>"text", :placeholder => 'search'}
        %button.btn.btn-success-outline{:type=>"submit"}
          %i.icon-search
    %div#ji-toolbar-offset
    #ji-top-peg
      %a#ji-fork-tag{:href => 'https://github.com/jenkinsci'}
        %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
          :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
          :alt => 'Fork us on GitHub'}/
    
    %div#ji-home-carousel.carousel.slide{'data-ride' => 'carousel'}
      %ol.carousel-indicators
        %li.active{'data-target' => '#ji-home-carousel', 'data-slide-to' => 0}
        %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 1}
        %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 2}
        %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 3}
        %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 4}
      %div.carousel-inner{:role=>"listbox"}
        %div.carousel-item.active
          %img
          %div.carousel-caption
            %h3 Slide label 1
            %p Here is some text that goes with this guy who is cool.
        %div.carousel-item
          %img
          %div.carousel-caption
            %h3 Slide label 2
            %p Here is some text that goes with this guy who is cool.
        %div.carousel-item
          %img
          %div.carousel-caption
            %h3 Slide label 3
            %p Here is some text that goes with this guy who is cool.
        %div.carousel-item
          %img
          %div.carousel-caption
            %h3 Slide label 4
            %p Here is some text that goes with this guy who is cool.
        %div.carousel-item
          %img
          %div.carousel-caption
            %h3 Slide label 5
            %p Here is some text that goes with this guy who is cool.  
      %a.left.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"prev"}
        %span.icon-prev{"aria-hidden"=>"true"}
        %span.sr-only Previous
      %a.right.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"next"}
        %span.icon-next{"aria-hidden"=>"true"}
        %span.sr-only Next

    %div.jumbotron.jumbotron-fluid
      %div.container
        %h2 Do it now!
    %div.container
      %div#page{:class => 'clearfloat'}
        %div#top{:class => 'clearfloat'}/
      .row
        %div#sidebar.col-md-4
          = partial('sidebar.html.haml')

          - if page.blogrollup
            = partial('blogrollup.html.haml')

        %div#content.col-md-8{:class => 'main-content with-sidebar'}
          %div#content-top/

          = content

        %div#content-bottom/


    = partial('footer.html.haml')

    %div#github
      %a{:href => "https://github.com/rtyler/jenkins.io/edit/master/content/#{page.relative_source_path}",
          :title => "Edit #{page.relative_source_path} on GitHub"}
        Improve this page

    = google_analytics_universal
