---
layout: simplepage
title: Changelog
notitle: true
tight: true
---

= partial('release-header.html.haml', :release => page.release, :entry => true)

- if page.type == 'stable'
  %a{:class => "app-button app-button--primary app-releases__upgrade-guide", :href => "/doc/upgrade-guide/" + page.release.version.rpartition('.').first + "#upgrading-to-jenkins-lts-" + page.release.version.to_s.tr_s(".", "-")}
    %ion-icon{:name => "arrow-up-circle-outline"}
    .app-releases__upgrade-guide__title
      Looking to upgrade?
    .app-releases__upgrade-guide__description
      = "Check the Upgrade Guide for assistance"

- if page.release.tested_configurations
  %div.app-releases__tested-configs
    %h4.app-releases__tested-configs__title Tested Configurations
    %div.app-releases__tested-configs__grid
      - if page.release.tested_configurations['platforms']
        %div.app-releases__tested-configs__item
          %span.app-releases__tested-configs__label Platforms
          %div.app-releases__tested-configs__tags
            - page.release.tested_configurations['platforms'].each do |platform|
              %span.app-releases__tested-configs__tag= platform.to_s.capitalize
      - if page.release.tested_configurations['jdks']
        %div.app-releases__tested-configs__item
          %span.app-releases__tested-configs__label JDKs
          %div.app-releases__tested-configs__tags
            - page.release.tested_configurations['jdks'].each do |jdk|
              %span.app-releases__tested-configs__tag= "JDK #{jdk}"
      - if page.release.tested_configurations['packages']
        %div.app-releases__tested-configs__item
          %span.app-releases__tested-configs__label Packages
          %div.app-releases__tested-configs__tags
            - page.release.tested_configurations['packages'].each do |pkg|
              %span.app-releases__tested-configs__tag= pkg.to_s.upcase
    - if page.release.tested_configurations['sources']
      %div.app-releases__tested-configs__sources
        %small
          Sources:&nbsp;
          - page.release.tested_configurations['sources'].each_with_index do |source, i|
            - if i != 0
              ,&nbsp;
            %a{:href => source['url']}= source['title']

#head
  %script{:src => "/files/rate.js", :type => "text/javascript"}

:javascript
  $(document).ready(function() {
      loaddata(this);
  });

- if page.release.changes and page.release.lts_changes and page.release.lts_baseline
  .app-releases__notable-changes
    -# TODO figure out how to get rid of this
    = "Changes since #{page.release.lts_baseline}"

%div.app-releases__list__items
  = partial('changelog-changes.html.haml', :changes => page.release.changes)

- if page.release.changes and page.release.lts_changes
  .app-releases__notable-changes
    = "Notable changes since #{page.release.lts_predecessor}"

  %div.app-releases__list__items
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)

