---
layout: simplepage
title: Changelog
notitle: true
tight: true
---

= partial('release-header.html.haml', :release => page.release, :entry => true)

- if page.type == 'stable'
  %a{:class => "app-button app-button--primary app-releases__upgrade-guide", :href => "/doc/upgrade-guide/" + page.release.version.rpartition('.').first + "#upgrading-to-jenkins-lts-" + page.release.version.to_s.tr_s(".", "-")}
    %ion-icon{:name => "arrow-up-circle-outline"}
    .app-releases__upgrade-guide__title
      Looking to upgrade?
    .app-releases__upgrade-guide__description
      = "Check the Upgrade Guide for assistance"

- release_version = Gem::Version.new(page.release.version)
- is_lts = page.release.version.to_s.count('.') >= 2
- config_key = is_lts ? 'lts' : 'weekly'
- tc = site.changelogs[:tested_configurations]
- if tc && tc[config_key]
  - platforms = tc[config_key]['platforms'].select { |p| release_version >= Gem::Version.new(p['from']) && (p['to'].nil? || release_version <= Gem::Version.new(p['to'])) }.map { |p| p['value'] }
  - jdks = tc[config_key]['jdks'].select { |j| release_version >= Gem::Version.new(j['from']) && (j['to'].nil? || release_version <= Gem::Version.new(j['to'])) }.map { |j| j['value'] }
  - if !platforms.empty? || !jdks.empty?
    %div.app-releases__tested-configs
      %div.app-releases__tested-configs__left
        %span.app-releases__tested-configs__label Tested Configurations:
        - if !platforms.empty?
          %span Platforms: #{platforms.join(', ')}
      - if !jdks.empty?
        %div.app-releases__tested-configs__right
          %span JDKs: #{jdks.join(', ')}

#head
  %script{:src => "/files/rate.js", :type => "text/javascript"}

:javascript
  $(document).ready(function() {
      loaddata(this);
  });

- if page.release.changes and page.release.lts_changes and page.release.lts_baseline
  .app-releases__notable-changes
    -# TODO figure out how to get rid of this
    = "Changes since #{page.release.lts_baseline}"

%div.app-releases__list__items
  = partial('changelog-changes.html.haml', :changes => page.release.changes)

- if page.release.changes and page.release.lts_changes
  .app-releases__notable-changes
    = "Notable changes since #{page.release.lts_predecessor}"

  %div.app-releases__list__items
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)
