---
layout: simplepage
title: Changelog
notitle: true
tight: true
backlink:
  label: Back to changelogs
  url: ../
---

= partial('release-header.html.haml', :release => page.release, :entry => true)

#head
  %script{:src => "/files/rate.js", :type => "text/javascript"}

:javascript
  $(document).ready(function() {
      loaddata(this);
  });

%div.app-releases__list__items
  = partial('changelog-changes.html.haml', :changes => page.release.changes)

-if page.release.changes and page.release.lts_changes
  .app-releases__notable-changes
    = "Notable changes in #{page.release.lts_baseline}"

  %div.app-releases__list__items
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)
