---
layout: changelog
show_ratings: true
has_rss: false
---

= partial('release-header.html.haml', :release => page.release)
-if page.release.changes and page.release.lts_changes and page.release.lts_baseline
  %div
    %strong
      -# TODO figure out how to get rid of this
      = "Changes since #{page.release.lts_baseline}:"
%ul.image
  = partial('changelog-changes.html.haml', :changes => page.release.changes)
-if page.release.changes and page.release.lts_changes
  %div
    %strong
      = "Notable changes since #{page.release.lts_predecessor}:"
  %ul.image
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)
