---
layout: documentation
notitle: true
---

:ruby
  chapter_key = File.basename(File.dirname(page.source_path))
  index = site.handbook.chapters.index { |c| c.key == chapter_key }
  chapter = site.handbook.chapters[index]

  previous_chapter = nil
  next_chapter = nil
  next_is_section = false

  if index > 0
    previous_chapter = site.handbook.chapters[index - 1]
  end

  if chapter.sections && chapter.sections.size > 0
    next_chapter = chapter.sections.first
    next_is_section = true
  elsif index < site.handbook.chapters.size
    next_chapter = site.handbook.chapters[index + 1]
  end

= content

%div.app-TODO-pagination
  %div
    - if previous_chapter
      %a.app-button.app-button--tertiary.prev{:href =>  File.join('..', previous_chapter.key)}
        %ion-icon{:name => "arrow-back-outline"}
        %div
          Back
        %span
          #{previous_chapter.title}
  %div
    - if next_chapter
      - if next_is_section
        %a.app-button.app-button--tertiary.next{:href =>  next_chapter.key}
          %div
            Next
          %ion-icon{:name => "arrow-forward-outline"}
          %span
            #{next_chapter.title}
      - else
        %a.app-button.app-button--tertiary.next{:href =>  File.join('..', next_chapter.key)}
          %div
            Next
          %ion-icon{:name => "arrow-forward-outline"}
          %span
            #{next_chapter.title}

= partial ('_feedback-footer.html')
