---
layout: documentation
notitle: true
---

:ruby
  chapter_key = File.basename(File.dirname(page.source_path))
  index = site.handbook.chapters.index { |c| c.key == chapter_key }
  chapter = site.handbook.chapters[index]

  previous_chapter = nil
  next_chapter = nil
  next_is_section = false

  if index > 0
    previous_chapter = site.handbook.chapters[index - 1]
  end

  if chapter.sections && chapter.sections.size > 0
    next_chapter = chapter.sections.first
    next_is_section = true
  elsif index < site.handbook.chapters.size
    next_chapter = site.handbook.chapters[index + 1]
  end


%div
  .row
    .col-md-4
      - if previous_chapter
        %a.prev.doc-page-link{:href =>  File.join('..', previous_chapter.key)}
          ⇐ #{previous_chapter.title}
    .col-md-4
      %a.index.doc-page-link{:href => '../'}
        Index
    .col-md-4
      - if next_chapter
        - if next_is_section
          %a.next.doc-page-link{:href =>  next_chapter.key}
            #{next_chapter.title} ⇒
        - else
          %a.next.doc-page-link{:href =>  File.join('..', next_chapter.key)}
            #{next_chapter.title} ⇒

%div
  .row.body
    .ctc
      .section
        %h1
          = page.title

        - if chapter.sections && chapter.sections.size > 0
          #subsections
            .toc
              #toc-title
                Chapter Sub-Sections
              %ul
                - chapter.sections.each do |section|
                  %li
                    %a{:href => section.key}
                      = section.title

        = content

%hr/

%div
  .row
    .col-md-4
      - if previous_chapter
        %a.prev.doc-page-link{:href =>  File.join('..', previous_chapter.key)}
          ⇐ #{previous_chapter.title}
    .col-md-4
      %a.index.doc-page-link{:href => '../'}
        Index
    .col-md-4
      - if next_chapter
        - if next_is_section
          %a.next.doc-page-link{:href =>  next_chapter.key}
            #{next_chapter.title} ⇒
        - else
          %a.next.doc-page-link{:href =>  File.join('..', next_chapter.key)}
            #{next_chapter.title} ⇒

%hr/

%div
= partial ('_feedback-footer.html')
