---
layout: frame
---
- if legacy?
  %div#page{:class => 'clearfloat'}
    %div#top{:class => 'clearfloat'}
      - if page.homepage
        %a{:href => '/2.0', :title => 'Learn more about Jenkins 2.0'}
          %img{:src => '/images/jenkins-20-banner.png'}

    %div#sidebar
      = partial('sidebar.html.haml')

      - if page.blogrollup
        = partial('legacy/blogrollup.html.haml')

    %div#content{:class => 'main-content with-sidebar'}
      %div#content-top/

      = content

      %div#content-bottom/

- else
  = partial('toptoolbar.html.haml')

  - if page.precontent
    - page.precontent.each do |pre|
      = partial("#{pre}.html.haml")

  = content

