%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/

    - if legacy?
      %link{:href => '/css/style.css', :rel => 'stylesheet', :media => 'screen'}/
    - else
      = partial('scriptlinks.html.haml')
  %body
    - if legacy?
      %a{:href => 'https://github.com/jenkinsci'}
        %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
          :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
          :alt => 'Fork us on GitHub'}/

      %div#head{:class => 'clearfloat'}
        %div.clearfloat
          %div#logo
            %a{:href => '/', :title => 'Jenkins'}
              %img{:src => '/images/header_logo.png'}/
            %div#tagline
              An extendable open source automation server

        = partial('navbar.html.haml')

      %div#page{:class => 'clearfloat'}
        %div#top{:class => 'clearfloat'}/

        %div#sidebar
          = partial('sidebar.html.haml')

          - if page.blogrollup
            = partial('blogrollup.html.haml')

        %div#content{:class => 'main-content with-sidebar'}
          %div#content-top/

          = content

          %div#content-bottom/


      = partial('footer.html.haml')

    - else
      = partial('toptoolbar.html.haml')

      - if page.precontent
        - page.precontent.each do |pre|
          = partial("#{pre}.html.haml")

      %div.container
        .row.body
          %div#sidebar.col-md-4

            %h5 Resources

            %ul.resources
              %li
                %a{:href => '/calendar'}
                  Calendar
              %li
                %a{:href => 'https://wiki.jenkins-ci.org/'}
                  Wiki
              %li
                %a{:href => 'https://issues.jenkins-ci.org/'}
                  Issues
              %li
                %a{:href => 'https://ci.jenkins-ci.org/'}
                  Jenkins-on-Jenkins

            = partial('book.html.haml')

            - if page.blogrollup
              = partial('blogrollup.html.haml')

          %div#content.col-md-8{:class => 'main-content with-sidebar'}
            %div#content-top/

            = content

            %div#content-bottom/


      %div#github
        %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
            :title => "Edit #{page.relative_source_path} on GitHub"}
          Improve this page

    = google_analytics_universal
