%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/

    %link{:href => '/css/style.css', :rel => 'stylesheet', :media => 'screen'}/
  %body
    %a{:href => 'https://github.com/jenkinsci'}
      %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
        :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
        :alt => 'Fork us on GitHub'}/

    %div#head{:class => 'clearfloat'}
      %div.clearfloat
        %div#logo
          %a{:href => '/', :title => 'Jenkins'}
            %img{:src => '/images/header_logo.png'}/
          %div#tagline
            An extendable open source automation server

      = partial('navbar.html.haml')

    %div#page{:class => 'clearfloat'}
      %div#top{:class => 'clearfloat'}/

      %div#sidebar
        = partial('sidebar.html.haml')

      %div#content{:class => 'main-content with-sidebar'}
        %div#content-top/

        = content

        %div#content-bottom/


    = partial('footer.html.haml')

    %div#github
      %a{:href => "https://github.com/rtyler/jenkins.io/edit/master/content/#{page.relative_source_path}",
          :title => "Edit #{page.relative_source_path} on GitHub"}
        Improve this page

    = google_analytics_universal
