---
layout: frame
---
- if legacy?
  %div#page{:class => 'clearfloat'}
    %div#top{:class => 'clearfloat'}/

    %div#sidebar
      = partial('sidebar.html.haml')

      - if page.blogrollup
        = partial('legacy/blogrollup.html.haml')

    %div#content{:class => 'main-content with-sidebar'}
      %div#content-top/

      = content

      %div#content-bottom/

- else
  = partial('toptoolbar.html.haml')

  - if page.precontent
    - page.precontent.each do |pre|
      = partial("#{pre}.html.haml")

  = content

