---
layout: default
section: doc
---

:css
  .container .row.body {
    margin-right: 1em;
    margin-left: 1em;
    padding-left: 0;
    padding-right: 0;
  }
  .toc {
      float: right;
  }

:ruby
  tutorials = []
  site.pages.reverse_each do |page|
    # Some pages don't have tags
    next if page.tags.nil?
    page.tags.each do |tag|
      # tag is an Awestruct::Extensions::Tagger::TagStat
      next unless tag.to_s == 'tutorial'
      tutorials << page
    end
  end

  section_key = File.basename(page.source_path, File.extname(page.source_path))
  chapter_key = File.basename(File.dirname(page.source_path))

  # If the section key isn't something interesting, we'll just say there is no
  # section
  if section_key == 'index.html'
    section_key = nil
  end

= partial('anchors.html.haml', :selector => '.container .row .col-lg-9')

-#
-#- unless page.noanchors
-#  = partial('anchors.html.haml');

.container
  .row.body.flex-lg-nowrap
    #sidebar-menu.col-lg-4
      #sidebar-content.sidebar-nav.tour
        %p
          = active_href('doc/developer', '> Developer Documentation Home')

        %h5
          Developer Documentation
        %ul
          %li
            = active_href('doc/developer/tutorial', 'Plugin Tutorial')
          %li
            = active_href('doc/developer/tutorial-improve', 'Improve a Plugin Tutorial')
          %li
            = active_href('doc/developer/guides', 'How-To Guides')
          %li
            = active_href('doc/developer/book', 'Jenkins Developer Reference')
          %li
            = active_href('doc/developer/extensions', 'Extensions Index')


    .col-lg-8
      - unless page.notitle
        %h1
          = page.title

      = content

      - if page.references && page.references.size > 0
        %h2
          References

        %ul
          - page.references.each do |reference|
            %li
              %a{:href => reference.url}<>
                = reference.title
              - if reference.description
                \:
                = reference.description
