---
layout: default
---

:css
  ul li i.icon-warning::before {
    content: "\f071";
    color: #bf6900;
    font-family: FontAwesome !important;
    font-size: 10px;
    vertical-align: middle;
  }

  div.sidebar-nav > ul {
    list-style: none;
    padding-inline-start: 0;
  }

= partial('anchors.html.haml')

.container
  .row.body

    .col-lg-3

      .sidebar-nav.tour

        %h4
          Topics
        %ul
          - site.devbook.chapters.each do |chapter|
            %li
              = active_href(File.join('doc/developer', chapter.key), chapter.title, :fuzzy => true)
              - if chapter.page.wip
                - if !chapter.page.references || chapter.page.references.length == 0
                  %i.icon-warning{:title => 'Early work in progress'}
                    &nbsp;
                - else
                  %i.icon-warning{:title => 'Partial work in progress', :style => 'opacity: 0.5;'}
                    &nbsp;
              - if chapter.sections
                %ul
                  - chapter.sections.each do |section|
                    %li 
                      = active_href(File.join(File.join('doc/developer', chapter.key), section.key), section.title, :fuzzy => true)

        %h4
          = active_href('doc/developer/guides', 'How-To Guides', :fuzzy => true)

        %h4
          Resources

        %h5
          = active_href('doc/developer/extensions', 'Extensions Index', :fuzzy => true)

        %h5
          = active_href('doc/developer/javadoc', 'Javadoc', :fuzzy => true)

        %h5
          = active_href('doc/developer/development-environment/taglibs', 'Tablibs', :fuzzy => true)

        %h5
          Tools

        %ul
          %li
            %a{:href => 'https://jenkinsci.github.io/maven-hpi-plugin/', :target => '_blank'}
              Maven HPI Plugin

    .col-lg-9
      - unless page.notitle
        %h1
          = page.title
      - if page.wip
        = partial( 'wip.adoc' )

      = content

      - if page.references && page.references.size > 0
        %h2
          References

        %ul
          - page.references.each do |reference|
            %li
              %a{:href => reference.url}<>
                = reference.title
              - if reference.description
                \:
                = reference.description
