---
layout: default
section: doc
---

:css
  .container .row.body {
    margin-right: 5em;
    margin-left: 5em;
  }
  .toc {
      float: right;
  }

- unless page.noanchors
  = partial('anchors.html.haml');

.container
  .row.body
    .col-12
      - unless page.notitle
        %h1
          = page.title

      = content

      - if page.references && page.references.size > 0
        %h2
          References

        %ul
          - page.references.each do |reference|
            %li
              %a{:href => reference.url}<>
                = reference.title
              - if reference.description
                \:
                = reference.description
