---
layout: default
section: doc
---

:css
  ol li i.icon-warning::before {
    content: "\f071";
    color: #bf6900;
    font-family: FontAwesome !important;
    font-size: 10px;
    vertical-align: middle;
  }

:javascript
  $(function () {
    for (var i = 1 ; i <= 6 ; i ++) {
      anchors.add('.container .row.body h' + i);
    }
  })

.container
  .row.body
    .col-lg-3

      .sidebar-nav

        %h3
          Developer Guides

        %h4
          Getting Started
        %ul
          %li
            = active_href('doc/developer/plugin-tutorial', 'Plugin Tutorial', :fuzzy => true)

        %h4
          Reference
        %ol
          - site.devbook.chapters.each do |chapter|
            %li
              = active_href(File.join('doc/developer', chapter.key), chapter.title, :fuzzy => true)
              - if chapter.page.wip
                - if !chapter.page.references || chapter.page.references.length == 0
                  %i.icon-warning{:title => 'Early work in progress'}
                    &nbsp;
                - else
                  %i.icon-warning{:title => 'Partial work in progress', :style => 'opacity: 0.5;'}
                    &nbsp;
          %li
            = active_href('doc/developer/guides', 'Appendix C: Index of All How-To Guides', :fuzzy => true)

        %h4
          Resources

        %h5
          Jenkins Javadoc

        %ul
          %li
            %a{:href => 'http://javadoc.jenkins.io/'}
              Latest Jenkins Javadoc
          - ['1.554', '1.565', '1.580', '1.596', '1.609', '1.625', '1.642', '1.651', '2.7', '2.19', '2.32', '2.46'].reverse.each do |version|
            %li
              %a{:href => "http://javadoc.jenkins.io/archive/jenkins-#{version}"}
                = version

        %h5
          Other Javadoc

        %ul
          %li
            %a{:href => 'http://stapler.kohsuke.org/apidocs/'}
              Stapler
          %li
            %a{:href => 'http://javadoc.jenkins.io/plugin/'}
              Plugins

        %h5
          Taglib Documentation

        %ul
          - # TODO https://issues.jenkins-ci.org/browse/INFRA-897
          - #   %li
          - #     %a{:href => 'TODO'}
          - #       Core Taglib
          %li
            %a{:href => 'http://stapler.kohsuke.org/jelly-taglib-ref.html'}
              Stapler
          %li
            %a{:href => 'https://commons.apache.org/proper/commons-jelly/tags.html'}
              Jelly Core

        %h5
          Tools

        %ul
          %li
            %a{:href => 'https://jenkinsci.github.io/maven-hpi-plugin/'}
              Maven HPI Plugin

    .col-lg-9
      - unless page.notitle
        %h1
          = page.title
      - if page.wip
        = partial( 'wip.adoc' )

      = content

      - if page.references && page.references.size > 0
        %h2
          References

        %ul
          - page.references.each do |reference|
            %li
              %a{:href => reference.url}<>
                = reference.title
              - if reference.description
                \:
                = reference.description