---
layout: developer
---

:ruby
  chapter_key = File.basename(File.dirname(page.source_path))
  index = site.devbook.chapters.index { |c| c.key == chapter_key }
  chapter = site.devbook.chapters[index]

= content

- if chapter.sections && chapter.sections.size > 0
  %h2
    Sections

  %ul
    - chapter.sections.each do |section|
      %li
        %a{:href => section.key + "/"}
          = section.title
        - if section.page.wip
          - if !section.page.references || section.page.references.length == 0
            %span{:title => 'Work in progress'}
              %ion-icon{:name=>"warning"}
          - else
            %span{:title => 'Work in progress'}
              %ion-icon{:name=>"warning", :style => 'opacity: 0.5;'}
        %br
        = section.summary

- if chapter.guides && chapter.guides.size > 0
  %h2
    How-To Guides

  %ul
    - chapter.guides.each do |guide|
      %li
        %a{:href => guide.key + "/"}><
          = guide.page.title
          - if guide.page.description
            \:
            = guide.page.description
