---
layout: default
section: doc
---

:css
  h4 {
    font-size: 22px;
  }
  div.container .row.body {
    margin-right: 1em;
    margin-left: 1em;
    padding-left: 0;
    padding-right: 0;
  }
  .toc {
      float: right;
  }
  div.sidebar-nav > ul {
    list-style: none;
    padding-inline-start: 2em;
  }
  ion-icon {
    color: #bf6900;
  }
  .jenkins-developer-chapters {
    list-style: none;
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #dev-docs {
    margin-bottom: 1em;
  }
  #reference-topics {
    font-weight: normal;
  }
  #reference-topics:active {
    font-weight: bold;
  }
  #taglibs {
    margin-bottom: 2em;
    font-weight: normal;
  }
  #taglibs:active {
    font-weight: bold;
  }
  #how-to-guides {
    font-weight: normal;
  }
  #how-to-guides:active {
    font-weight: bold;
  }
  #plugin-tutorial {
    font-weight: normal;
  }
  #plugin-tutorial:active {
    font-weight: bold;
  }
  #javadoc {
    font-weight: normal;
  }
  #javadoc:active {
    font-weight: bold;
  }

:ruby
  devdocs = []
  site.devbook.chapters.each do |page|
    devdocs << page
  end

  section_key = File.basename(page.source_path, File.extname(page.source_path))
  chapter_key = File.basename(File.dirname(page.source_path))

  # If the section key isn't something interesting, we'll just say there is no
  # section
  if section_key == 'index.html'
    section_key = nil
  end


-# = partial('anchors.html.haml');

- unless page.noanchors
  = partial('anchors.html.haml', :selector => '.container .row .col-8');

.container
  .row.body.flex-nowrap
    #sidebar-menu.col-4
      #sidebar-content.sidebar-nav.tour

        %p
          = active_href('doc/developer', '> Developer Documentation Home')

        %h4#dev-docs
          Developer Documentation

        %h5#plugin-tutorial
          = active_href('doc/developer/tutorial', 'Plugin Tutorial', :fuzzy =>true)

        %h5#how-to-guides
          = active_href('doc/developer/guides', 'How-To Guides', :fuzzy => true)

        %h5#reference-topics
          = active_href('doc/developer/book', 'Reference Topics', :fuzzy =>true)

        %ul
          - site.devbook.chapters.each do |chapter|
            %li
              = active_href(File.join('doc/developer', chapter.key), chapter.title, :fuzzy => true)
              - if chapter.page.wip
                - if !chapter.page.references || chapter.page.references.length == 0
                  %span{:title => 'Early work in progress'}
                    %ion-icon{:name=>"warning", :style => 'opacity: 0.5;'}
                - else
                  %span{:title => 'Partial work in progress'}
                    %ion-icon{:name=>"warning", :style => 'opacity: 0.5;'}
              - if page.output_path.match(File.join('doc/developer', chapter.key))
                %small
                  %ul{:style => 'padding-left: 1rem;'}
                    - chapter.sections.each do |section|
                      %li
                        = active_href(File.join(File.join('doc/developer', chapter.key), section.key), section.title, :fuzzy => true)

        %h5
          Resources

        %h6{:style => 'padding-left: 2rem;'}
          = active_href('doc/developer/extensions', 'Extensions Index', :fuzzy => true)

        %h6#javadoc{:style => 'padding-left: 2rem;'}
          = active_href('doc/developer/javadoc', 'Javadoc', :fuzzy => true)

        %h6#taglibs{:style => 'padding-left: 2rem;'}
          = active_href('doc/developer/development-environment/taglibs', 'Taglibs', :fuzzy => true)

        %h5
          Tools

        %ul
          %li
            %a{:href => 'https://jenkinsci.github.io/maven-hpi-plugin/', :target => '_blank', :rel => 'noreferrer noopener'}
              Maven HPI Plugin

    .col-8
      - unless page.notitle
        %h1
          = page.title

      = content
