---
layout: default
---

:css
  div.container .row.body {
    margin-right: 1em;
    margin-left: 1em;
    padding-left: 0;
    padding-right: 0;
  }
  div.toc {
      float: right;
  }
  div.sidebar-nav > ul {
    list-style: none;
    padding-inline-start: 2em;
  }
  ion-icon {
    color: #bf6900;
  }


- unless page.noanchors
  = partial('anchors.html.haml')

.container
  .row.body.flex-nowrap
    #sidebar-menu.col-4
      #sidebar-content.sidebar-nav.tour

        %p
          = active_href('doc/developer', '> Developer Documentation Home')

        %h5
          Developer Documentation
        %ul
          %li
            = active_href('doc/developer/tutorial', 'Plugin Tutorial')
          %li
            = active_href('doc/developer/tutorial-improve', 'Improve a Plugin Tutorial')
          %li
            = active_href('doc/developer/guides', 'How-To Guides')
          %li
            = active_href('doc/developer/book', 'Jenkins Developer Reference')
          %li
            = active_href('doc/developer/extensions', 'Extensions Index')

    .col-8
      - unless page.notitle
        %h1
          = page.title
      - if page.wip
        = partial( 'wip.adoc' )

      = content

      - if page.references && page.references.size > 0
        %h2
          References

        %ul
          - page.references.each do |reference|
            %li
              %a{:href => reference.url}<>
                = reference.title
              - if reference.description
                \:
                = reference.description
