---
layout: default
---

.container
  .row
    .col-lg-3
      .sidebar-nav.tour
        %h4
          Guided Tour
        %ul
          %li
            = active_href('doc', 'Index')
          %li
            = active_href('doc/pipeline/tour/hello-world', 'Creating your first Pipeline')
          %li
            = active_href('doc/pipeline/tour/agents', 'Controlling agents and workspaces')
          %li
            = active_href('doc/pipeline/tour/environment', 'Environment Variables')
          %li
            = active_href('doc/pipeline/tour/running-multiple-steps', 'Running multiple steps')
          %li
            = active_href('doc/pipeline/tour/reporting-test-results-and-storing-artifacts', 'Reporting test results and storing artifacts')
          %li
            = active_href('doc/pipeline/tour/post', 'Cleaning Up and Notifications')
          %li
            = active_href('doc/pipeline/tour/parallelism', 'Running parallel steps')
          %li
            = active_href('doc/pipeline/tour/deployment', 'Deployment')
        %h4
          Resources
        %ul
          %li
            = active_href('doc/pipeline/reference', 'Pipeline Syntax reference')
          %li
            = active_href('doc/pipeline/steps', 'Pipeline Steps reference')

        %h4
          User Handbook
          %span{:style => 'font-size: 0.6rem; vertical-align: middle;'}
            %a{:href => '../user-handbook.pdf'}
              (PDF)

        %ul
          - site.handbook.chapters.each do |chapter|
            %li
              = active_href(File.join('doc/book', chapter.key), chapter.title, :fuzzy => true)
        %hr/
        %h4
          Developers
        %h5
          Writing plugins
        %ul
          %li
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              Extend Jenkins
          %li
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extension+points'}
              Extension points
        %h5
          JavaDoc
        %ul
          %li
            %a{:href => 'http://javadoc.jenkins.io/'}
              Latest
          - ['1.554', '1.565', '1.580', '1.596', '1.609', '1.625', '1.642', '1.651', '2.7', '2.19', '2.32'].reverse.each do |version|
            %li
              %a{:href => "http://javadoc.jenkins.io/archive/jenkins-#{version}"}
                = version
    .col-lg-9
      %h1
        = page.title
      = content
