---
layout: default
section: doc
---
:ruby
  tutorials = []
  site.pages.reverse_each do |page|
    # Some pages don't have tags
    next if page.tags.nil?
    page.tags.each do |tag|
      # tag is an Awestruct::Extensions::Tagger::TagStat
      next unless tag.to_s == 'tutorial'
      tutorials << page
    end
  end

  section_key = File.basename(page.source_path, File.extname(page.source_path))
  chapter_key = File.basename(File.dirname(page.source_path))

  # If the section key isn't something interesting, we'll just say there is no
  # section
  if section_key == 'index.html'
    section_key = nil
  end

:javascript
  $(function () {
    for (var i = 1 ; i <= 6 ; i ++) {
      anchors.add('.container .row .col-lg-9 h' + i);
    }
  })

.container
  .row.body
    .col-lg-3
      .sidebar-nav.tour
        %p
          = active_href('doc', 'Jenkins User Documentation Home')

        %h4
          Guided Tour
        %ul
          %li
            = active_href('doc/pipeline/tour/getting-started', 'Getting started')
          %li
            = active_href('doc/pipeline/tour/hello-world', 'Creating your first Pipeline')
          %li
            = active_href('doc/pipeline/tour/running-multiple-steps', 'Running multiple steps')
          %li
            = active_href('doc/pipeline/tour/agents', 'Defining execution environments')
          %li
            = active_href('doc/pipeline/tour/environment', 'Using environment variables')
          %li
            = active_href('doc/pipeline/tour/tests-and-artifacts', 'Recording test results and artifacts')
          %li
            = active_href('doc/pipeline/tour/post', 'Cleaning up and notifications')
          %li
            = active_href('doc/pipeline/tour/deployment', 'Deployment')

        %h4
          Tutorials
        %ul
          %li
            = active_href('doc/tutorials', 'Overview')
          %li
            = active_href('doc/tutorials/build-a-java-app-with-maven', 'Build a Java app with Maven')
          %li
            = active_href('doc/tutorials/build-a-node-js-and-react-app-with-npm', 'Build a Node.js and React app with npm')
          %li
            = active_href('doc/tutorials/build-a-python-app-with-pyinstaller', 'Build a Python app with PyInstaller')
          %li
            = active_href('doc/tutorials/create-a-pipeline-in-blue-ocean', 'Create a Pipeline in Blue Ocean')
          %li
            = active_href('doc/tutorials/build-a-multibranch-pipeline-project', 'End-to-End Multibranch Pipeline Project Creation')

        %h4
          User Handbook
          %span{:style => 'font-size: 0.6rem; vertical-align: middle;'}
            %a{:href => '/user-handbook.pdf'}
              (PDF)

        %ul
          - site.handbook.chapters.each do |chapter|
            %li
              = active_href(File.join('doc/book', chapter.key), chapter.title, :fuzzy => true)
              - if (chapter.key == chapter_key) && section_key
                %small
                  %ul{:style => 'padding-left: 1rem;'}
                    - chapter.sections.each do |s|
                      %li
                        = active_href(File.join('doc/book', chapter.key, s.key), s.title, :fuzzy => true)
        %h4
          Resources
        %ul
          %li
            = active_href('doc/book/pipeline/syntax', 'Pipeline Syntax reference')
          %li
            = active_href('doc/pipeline/steps', 'Pipeline Steps reference')
          %li
            = active_href('doc/upgrade-guide', 'LTS Upgrade Guide', :fuzzy => true)

        %h5
          Recent Tutorial Blog Posts
        %ul
          - tutorials[0...3].each do |t|
            %li
              %a{:href => t.url}
                = t.title
        .small
          %a{:href => '/node/tags/tutorial'}
            View all tutorial blog posts

        %p


    .col-lg-9
      - unless page.notitle
        %h1
          = page.title
      = content
