---
layout: default
---
.container
  .row
    .col-lg-3
      .sidebar-nav
        %h4
          Jenkins
        %ul
          %li
            %a{:href => '/doc'}
              Installing Jenkins
        %h4
          Pipelines
        %ul
          %a{:href => '/doc/pipeline/getting-started'}
            Getting Started
          %li
            %a{:href => '/doc/pipeline/running-multiple-steps'}
              Running multiple steps
          %li
            %a{:href => '/doc/pipeline/controlling-your-build-environment'}
              Controlling your build environment
          %li
            %a{:href => '/doc/pipeline/environment-variables'}
              Environment variables
          %li
            %a{:href => '/doc/pipeline/reporting-test-results-and-storing-artifacts'}
              Reporting test results and storing artifacts
          %li
            %a{:href => '/doc/pipeline/notifications'}
              Notifications
          %li
            %a{:href => '/doc/pipeline/deployment'}
              Deployment
          %li
            %a{:href => '/doc/pipeline/parallelism'}
              Parallelism
          %li
            %a{:href => '/doc/pipeline/steps'}
              Steps reference
        %h4
          Handbook
        %ul
          - book_dir = File.expand_path(File.join(File.dirname(__FILE__), File.join("../", "/doc/book")))
          - sections_from(book_dir).each do |section, file, url, children|
            /
              This section provided by the following document:
              = File.basename(file)
            %li
              %a{:href => url}
                = section
        %h4
          Developers
        %h5
          Writing plugins
        %ul
          %li
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              Extend Jenkins
          %li
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extension+points'}
              Extension points
        %h5
          JavaDoc
        %ul
          %li
            %a{:href => 'http://javadoc.jenkins.io/'}
              Latest
          - ['1.554', '1.565', '1.580', '1.596', '1.609', '1.625', '1.642', '1.651', '2.7'].reverse.each do |version|
            %li
              %a{:href => "http://javadoc.jenkins.io/archive/jenkins-#{version}"}
                = version
    .col-lg-9
      %h1
        = page.title
      = content
