---
layout: default
section: doc
---
:ruby
  tutorials = []
  site.pages.reverse_each do |page|
    # Some pages don't have tags
    next if page.tags.nil?
    page.tags.each do |tag|
      # tag is an Awestruct::Extensions::Tagger::TagStat
      next unless tag.to_s == 'tutorial'
      tutorials << page
    end
  end

  section_key = File.basename(page.source_path, File.extname(page.source_path))
  chapter_key = File.basename(File.dirname(page.source_path))

  # If the section key isn't something interesting, we'll just say there is no
  # section
  if section_key == 'index.html'
    section_key = nil
  end

= partial('anchors.html.haml', :selector => '.container .row .col-lg-9')

.ultrawide-container
  %div.app-TODO-sidebar
    %h1
      Docs

    -# %p
    -#   = active_href('doc', '> User Documentation Home')

    %h5
      User Handbook
    %ul
      - site.handbook.chapters.each do |chapter|
        %li
          = active_href(File.join('doc/book', chapter.key), chapter.title, :fuzzy => true)
          - if page.output_path.match(File.join('doc/book', chapter.key)) && chapter.sections.size != 0
            %ul.app-TODO-sidebar__item
              - chapter.sections.each do |s|
                %li
                  = active_href(File.join('doc/book', chapter.key, s.key), s.title, :fuzzy => true)

    %h5
      Tutorials
    %ul
      %li
        = active_href('doc/pipeline/tour/getting-started', 'Guided Tour')
      %li
        = active_href('doc/tutorials#pipeline', 'Jenkins Pipeline')
      %li
        = active_href('doc/tutorials#tools', 'Using Build Tools')

    %h5
      Resources
    %ul
      %li
        = active_href('doc/book/pipeline/syntax', 'Pipeline Syntax reference')
      %li
        = active_href('doc/pipeline/steps', 'Pipeline Steps reference')
      %li
        = active_href('doc/upgrade-guide', 'LTS Upgrade guides', :fuzzy => true)

  %div
    %div.app-app-bar
      %div.app-app-bar__content
        %h1
          = page.title
      %div.app-app-bar__controls.app-mobile-hide
        %a.app-button.app-button--tertiary{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content#{page.relative_source_path}"}
          = File.read("content/images/symbols/edit.svg")
          Improve this page

    = content

  %div#tococlock

:javascript
  const toc = document.querySelector(".toc")
    // Step 2: Select the destination div
  const destinationDiv = document.getElementById('tococlock');

  // Step 3: Move the element to the destination div
  destinationDiv.appendChild(toc);