<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    %link{:rel => 'shortcut icon', :href => '/sites/default/files/jenkins_favicon.ico', :type => 'image/x-icon'}/

    - if legacy?
      %link{:href => '/css/style.css', :rel => 'stylesheet', :media => 'screen'}/
    - else
      = partial('scriptlinks.html.haml')
  %body
    - if legacy?
      - # render this when generating the site in legacy mode
      %a{:href => 'https://github.com/jenkinsci'}
        %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
          :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
          :alt => 'Fork us on GitHub'}/

      %div#head{:class => 'clearfloat'}
        %div.clearfloat
          %div#logo
            %a{:href => '/', :title => 'Jenkins'}
              %img{:src => '/images/header_logo.png'}/
            %div#tagline
              An extendable open source automation server

        = partial('legacy/navbar.html.haml')
      = content
      = partial('legacy/footer.html.haml')

      %div#github
        %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
            :title => "Edit #{page.relative_source_path} on GitHub"}
          :escaped
            [Improve this page]

        :plain
          &nbsp;

        %a{:href => "https://github.com/jenkins-infra/jenkins.io/commits/master/content/#{page.relative_source_path}",
            :title => "View #{page.relative_source_path} history on GitHub"}
          :escaped
            [Page history]

    - else

      = content
      = partial('footermenu.html.haml')
      = google_analytics_universal

    #creativecommons
      %a{:href => 'https://creativecommons.org/licenses/by-sa/4.0/'}
        %img{:src => 'https://licensebuttons.net/l/by-sa/4.0/88x31.png'}/
