!!!
%html{:lang => 'en'}
  %head
    - if not page.description.nil?
      - description = page.description
    - else
      - if not page.overview.nil?
        - description = page.overview
      - else
        - description = "Jenkins – an open source automation server which enables developers around the world to reliably build, test, and deploy their software"
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => description}/

    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/

    / Favicons
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %link{:rel => "apple-touch-icon", :sizes => "180x180", :href => "/apple-touch-icon.png"}
    %link{:rel => "icon", :type => "image/png", :sizes => "32x32", :href => "/favicon-32x32.png"}
    %link{:rel => "icon", :type => "image/png", :sizes => "16x16", :href => "/favicon-16x16.png"}
    %link{:rel => "manifest", :href => "/site.webmanifest"}
    %link{:rel => "mask-icon", :href => "/safari-pinned-tab.svg", :color => "#5bbad5"}
    %meta{:name => "msapplication-TileColor", :content => "#2b5797"}
    %meta{:name => "theme-color", :content => "#ffffff"}

    %meta{:content => page.title, :name => "apple-mobile-web-app-title"}/
    / Twitter Card data
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@JenkinsCI", :name => "twitter:site"}/
    %meta{:content => page.title, :name => "twitter:title"}/
    %meta{:content => description, :name => "twitter:description"}/
    %meta{:content => "@JenkinsCI", :name => "twitter:creator"}/

    / Twitter Summary card images must be at least 120x120px
    - if page.opengraph.nil?
      %meta{:content => expand_link("images/logo-title-opengraph.png"), :name => "twitter:image"}/
    - else
      %meta{:content => expand_link(page.opengraph[:image]), :name => "twitter:image"}/
    / Open Graph data
    %meta{:content => page.title, :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => expand_link(page.output_path), :property => "og:url"}/
    %meta{:content => description, :name => "og:description"}/
    %meta{:content => page.title, :property => "og:site_name"}/
    - if page.opengraph.nil?
      %meta{:content => expand_link("images/logo-title-opengraph.png"), :name => "og:image"}/
    - else
      %meta{:content => expand_link(page.opengraph[:image]), :property => "og:image"}/

    - if page.css
      - for style in page.css
        %link{:href => expand_link("#{style}"), :rel => 'stylesheet', :media => 'screen'}/
    - else
      %link{:href => expand_link("/assets/bower/bootstrap/css/bootstrap.min.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/
      %link{:href => expand_link("/assets/bower/tether/css/tether.min.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/
      %link{:href => expand_link("/css/font-icons.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/
      %link{:href => expand_link("/css/jenkins.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/

    / Non-obtrusive CSS styles
    %link{:href => expand_link("/assets/bower/ionicons/css/ionicons.min.css"),
      :rel => 'stylesheet',
      :media => 'screen'}/
    %link{:href => expand_link("/css/footer.css"),
      :rel => 'stylesheet',
      :media => 'screen'}/
    %link{:href => expand_link("/css/font-awesome.min.css"),
      :rel => 'stylesheet',
      :media => 'screen'}/

  %body
    %script{:src => expand_link("/assets/bower/jquery/jquery.min.js")}

    = content

    %script{:src => expand_link("/assets/bower/anchor-js/anchor.min.js")}
    %script{:src => expand_link("/assets/bower/tether/js/tether.min.js")}
    %script{:src => expand_link("/assets/bower/bootstrap/js/bootstrap.min.js")}

    %footer#footer
      .container
        .row
          .col-md-4
            - unless page.uneditable
              %p.box
                %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
                :title => "Edit #{page.relative_source_path} on GitHub",
                } Improve this page
                |
                %a{:href => "https://github.com/jenkins-infra/jenkins.io/commits/master/content/#{page.relative_source_path}",
                :title => "View #{page.relative_source_path} history on GitHub",
                } Page history

            .license-box
              #creativecommons
                %a{:href => 'https://creativecommons.org/licenses/by-sa/4.0/'}
                  %p
                    %img{:src => 'https://licensebuttons.net/l/by-sa/4.0/88x31.png', :alt => 'Creative Commons Attribution-ShareAlike license'}/

                %p
                  The content driving this site is licensed under the Creative
                  Commons Attribution-ShareAlike 4.0 license.

          .links.col-md-8
            .container
              .row
                .area.col-md-3
                  .div-mar
                    %h5 Resources

                    %ul.resources
                      %li
                        %a{:href => expand_link("download")}
                          Downloads
                      %li
                        %a{:href => expand_link("node")}
                          Blog
                      %li
                        %a{:href => expand_link("doc")}
                          Documentation
                      %li
                        %a{:href => 'https://plugins.jenkins.io/'}
                          Plugins    
                      %li
                        %a{:href => expand_link("security")}
                          Security
                      %li
                        %a{:href => expand_link("participate")}
                          Contributing

                .area.col-md-3
                  .div-mar
                    %h5 Project

                    %ul.project
                      %li
                        %a{:href => expand_link("project")}
                          Structure and governance
                      %li
                        %a{:href => 'https://issues.jenkins-ci.org'}
                          Issue tracker
                      %li
                        %a{:href => 'https://wiki.jenkins.io'}
                          Wiki
                      %li
                        %a{:href => 'https://github.com/jenkinsci'}
                          GitHub
                      %li
                        %a{:href => 'https://ci.jenkins.io'}
                          Jenkins on Jenkins

                .area.col-md-3
                  .div-mar
                    %h5 Community

                    %ul.community
                      %li
                        %a{:href => expand_link("events")}
                          Events
                      %li
                        %a{:href => expand_link("mailing-lists")}
                          Mailing lists
                      %li
                        %a{:href => expand_link("chat")}
                          Chats
                      %li
                        %a{:href => expand_link("sigs")}
                          Special Interest Groups
                      %li
                        %a{:href => 'https://twitter.com/jenkinsci'}
                          Twitter
                      %li
                        %a{:href => 'https://reddit.com/r/jenkinsci'}
                          Reddit
                .area.col-md-3
                  .div-mar
                    %h5 Other

                    %ul.other
                      %li
                        %a{:href => expand_link("conduct")}
                          Code of Conduct
                      %li
                        %a{:href => expand_link("press")}
                          Press information
                      %li
                        %a{:href => expand_link("merchandise")}
                          Merchandise
                      %li
                        %a{:href => expand_link("artwork")}
                          Artwork
                      %li
                        %a{:href => expand_link("awards")}
                          Awards

    = google_analytics_universal

    -# Add Twitter widget.
    -# Hide outline for dropdowns when clicked, but show it when focused
    -# by pressing Tab.
    :javascript
      !function(d,s,id) {
        var js, fjs=d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id=id;
          js.src="//platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document,"script","twitter-wjs");

      $(function(){
        var $body = $(document.body);
        $(".nav-link.dropdown-toggle").on("mousedown", function(){
          $body.addClass("no-outline");
        })
        $body.on("keydown", function(){
          $body.removeClass("no-outline");
        })
      })
