!!!
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    %link{:rel => 'shortcut icon', :href => expand_link('sites/default/files/jenkins_favicon.ico'), :type => 'image/x-icon'}/

    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %link{:href => expand_link("img/favicon.ico"), :rel => "icon", :sizes => "32x32", :type => "img/png"}/
    %link{:href => expand_link("img/favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => expand_link("img/favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => expand_link("img/apple-touch-icon-76x76.png"), :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => expand_link("img/apple-touch-icon-120x120.png"), :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => expand_link("img/apple-touch-icon-152x152.png"), :rel => "apple-touch-icon", :sizes => "152x152"}/
    %meta{:content => page.title, :name => "apple-mobile-web-app-title"}/
    / Twitter Card data
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@JenkinsCI", :name => "twitter:site"}/
    %meta{:content => page.title, :name => "twitter:title"}/
    %meta{:content => "Jenkins – an open source automation server which enables developers around the world to reliably build, test, and deploy their software.", :name => "twitter:description"}/
    %meta{:content => "@JenkinsCI", :name => "twitter:creator"}/

    / Twitter Summary card images must be at least 120x120px
    - unless page.opengraph.nil?
      %meta{:content => expand_link(page.opengraph[:image]), :name => "twitter:image"}/
      %meta{:content => expand_link(page.opengraph[:image]), :name => "twitter:image:src"}/

    / Open Graph data
    %meta{:content => page.title, :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "#{site.base_url}#{page.output_path}", :property => "og:url"}/
    %meta{:content => "Jenkins – an open source automation server which enables developers around the world to reliably build, test, and deploy their software.", :name => "og:description"}/
    %meta{:content => page.title, :property => "og:site_name"}/
    - unless page.opengraph.nil?
      %meta{:content => expand_link(page.opengraph[:image]), :property => "og:image"}/

    - if page.css
      - for style in page.css
        %link{:href => expand_link("#{style}"), :rel => 'stylesheet', :media => 'screen'}/
    - else
      %link{:href => expand_link("/assets/bower/bootstrap/css/bootstrap.min.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/
      %link{:href => expand_link("/assets/bower/tether/css/tether.min.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/
      %link{:href => expand_link("/css/font-icons.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/
      %link{:href => expand_link("/css/jenkins.css"),
        :rel => 'stylesheet',
        :media => 'screen'}/

    / Non-obtrusive CSS styles
    %link{:href => expand_link("/assets/bower/ionicons/css/ionicons.min.css"),
      :rel => 'stylesheet',
      :media => 'screen'}/
    %link{:href => expand_link("/css/footer.css"),
      :rel => 'stylesheet',
      :media => 'screen'}/
    %link{:href => expand_link("/css/font-awesome.min.css"),
      :rel => 'stylesheet',
      :media => 'screen'}/

  %body
    %script{:src => expand_link("/assets/bower/jquery/jquery.js")}

    = content

    %script{:src => expand_link("/assets/bower/anchor-js/anchor.min.js")}
    %script{:src => expand_link("/assets/bower/tether/js/tether.min.js")}
    %script{:src => expand_link("/assets/bower/bootstrap/js/bootstrap.min.js")}

    %footer#footer
      .container
        .row
          .col-md-4
            - unless page.uneditable
              %p.box
                %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
                :title => "Edit #{page.relative_source_path} on GitHub"}
                  Improve this page
                |
                %a{:href => "https://github.com/jenkins-infra/jenkins.io/commits/master/content/#{page.relative_source_path}",
                :title => "View #{page.relative_source_path} history on GitHub"}
                  Page history

            .license-box
              #creativecommons
                %a{:href => 'https://creativecommons.org/licenses/by-sa/4.0/'}
                  %p
                    %img{:src => 'https://licensebuttons.net/l/by-sa/4.0/88x31.png'}/

                %p
                  The content driving this site is licensed under the Creative
                  Commons Attribution-ShareAlike 4.0 license.

          .links.col-md-8
            .container
              .row
                .area.col-md-3
                  .div-mar
                    %h5 Resources

                    %ul.resources
                      %li
                        %a{:href => expand_link("events")}
                          Events
                      %li
                        %a{:href => expand_link("doc")}
                          Documentation
                      %li
                        %a{:href => expand_link("node")}
                          Blog

                .area.col-md-3
                  .div-mar
                    %h5 Solutions

                    %ul
                      - site.solutions.keys.sort.each do |key|
                        - link = expand_link("solutions/#{key}")
                        %li
                          %a{:href => link}
                            = site.solutions[key].usecase

                .area.col-md-3
                  .div-mar
                    %h5 Project

                    %ul.project
                      %li
                        %a{:href => 'https://issues.jenkins-ci.org'}
                          Issue tracker
                      %li
                        %a{:href => 'https://wiki.jenkins.io'}
                          Wiki
                      %li
                        %a{:href => 'https://github.com/jenkinsci'}
                          GitHub
                      %li
                        %a{:href => 'https://ci.jenkins.io'}
                          Jenkins on Jenkins

                .area.col-md-3
                  .div-mar
                    %h5 Community

                    %ul.community
                      %li
                        %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-users'}
                          Users mailing list
                      %li
                        %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-dev'}
                          Developers mailing list
                      %li
                        %a{:href => 'https://twitter.com/jenkinsci'}
                          Twitter
                      %li
                        %a{:href => 'https://reddit.com/r/jenkinsci'}
                          Reddit
                      %li
                        %a{:href => expand_link("merchandise")}
                          Merchandise
                      %li
                        %a{:href => "#{site.base_url}/awards"}
                          Awards

    = google_analytics_universal

    :javascript
      !function(d,s,id) {
        var js, fjs=d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id=id;
          js.src="//platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document,"script","twitter-wjs");
