<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    %link{:rel => 'shortcut icon', :href => '/sites/default/files/jenkins_favicon.ico', :type => 'image/x-icon'}/

    = partial('scriptlinks.html.haml')
  %body
    = content

    %footer#footer

      .container

        .row

          .links.col-lg-8.col-md-12.col-sm-12
            %ul.major-areas
              %li.area.solo.col-md-3.col-sm-6.col-xs-6
                .div-mar
                  %h5 Resources

                  %ul.resources
                    %li
                      %a{:href => '/content/event-calendar'}
                        Events
                    %li
                      %a{:href => '/doc'}
                        Documentation
                    %li
                      %a{:href => '/node'}
                        Blog

              %li.area.multi.col-md-3.col-sm-6.col-xs-6
                .div-mar
                  %h5 Solutions

                  %ul
                    - site.solutions.keys.sort.each do |key|
                      - link = "/solutions/#{key}"
                      %li
                        %a{:href => link}
                          = site.solutions[key].usecase

              %li.area.multi.col-md-3.col-sm-6.col-xs-6
                .div-mar
                  %h5 Project

                  %ul.project
                    %li
                      %a{:href => 'https://issues.jenkins-ci.org'}
                        Issue tracker
                    %li
                      %a{:href => 'https://wiki.jenkins-ci.org'}
                        Wiki
                    %li
                      %a{:href => 'https://github.com/jenkinsci'}
                        GitHub
                    %li
                      %a{:href => 'https://ci.jenkins.io'}
                        Jenkins on Jenkins

              %li.area.multi.col-md-3.col-sm-6.col-xs-6
                .div-mar
                  %h5 Community

                  %ul.community
                    %li
                      %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-users'}
                        Users mailing list
                    %li
                      %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-dev'}
                        Developers mailing list
                    %li
                      %a{:href => 'https://twitter.com/jenkinsci'}
                        Twitter
                    %li
                      %a{:href => 'https://reddit.com/r/jenkinsci'}
                        Reddit

          .col-lg-4.col-md-12.col-sm-12.col-xs-12.footer-left
            - unless page.uneditable
              %p.box
                %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
                :title => "Edit #{page.relative_source_path} on GitHub"}
                  Improve this page
                |
                %a{:href => "https://github.com/jenkins-infra/jenkins.io/commits/master/content/#{page.relative_source_path}",
                :title => "View #{page.relative_source_path} history on GitHub"}
                  Page history

            .license-box
              #creativecommons
                %a{:href => 'https://creativecommons.org/licenses/by-sa/4.0/'}
                  %p
                    %img{:src => 'https://licensebuttons.net/l/by-sa/4.0/88x31.png'}/

                %p
                  The content driving this site is licensed under the Creative Commons Attribution-ShareAlike 4.0 license.

    = partial('footer.html.haml')
