---
layout: project
project: gsoc
---

%p
  %b
    Goal:
  = page.goal
%p
  %b
    Status:
  = page.status

%h3.title
  Team
%ul
  %li
    Contributor:
    = display_user(page.student)
  %li
    Mentor(s):
    - i = 0
    - page.mentors.each do |mentor|
      = display_user_optional(mentor)
      - i = i+1
      -if i != page.mentors.length
        = ", "
  -if page.advisors
    %li
      Advisor(s):
      - i = 0
      - page.advisors.each do |mentor|
        = display_user_optional(mentor)
        - i = i+1
        -if i != page.advisors.length
          = ", "

%h2.title
  Details
- if page.showGoogleDoc
  %p
    This project is published as a Google doc for now.
    You are welcome to comment on the proposal or to suggest changes in the draft embedded below
    (
    %a{:href => page.links.draft, :target => "_blank", :rel => "noreferrer noopener"}
      Google Doc
    )
  %iframe{:src => "#{page.links.draft}?embedded=true", :width => "100%", :height => "600px"}
- else
  = content

%h3.title
  Links
%ul
  = partial("connect-links.html.haml", :links => page.links, :sig => page.sig, :project => page.project)
  -if page.links.idea
    %li
      %a{:href => "#{page.links.idea}", :target => "_blank", :rel => "noreferrer noopener"}
        Original GSoC project idea
  %li
    %a{:href => "/projects/gsoc", :target => "_blank"}
      Jenkins GSoC page
