---
layout: project
---

%p
  - if page.goal
    %strong
      Project goal:
    = page.goal

%p
  - if page.skills
    %strong
      Skills:
    = page.skills.join(", ")

%h2.title
  Details
= content

%h2.title
  Potential Mentors
%ul
  - page.mentors.each do |mentor|
    %li
      %a{:href => "https://github.com/#{mentor.github}", :target => "_blank"}
        = mentor.name

%h2.title
  Links
%ul
  - if page.links
    - if page.links.gitter
      %li
        %a{:href => "https://gitter.im/#{page.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
          %img{:title => "Gitter", :src => "https://badges.gitter.im/#{page.links.gitter}.svg"}
    - if page.links.github
      %li
        %a{:href => "https://github.com/#{page.links.github}", :target => "_blank"}
          Github repository
  %li
    %a{:href => "/projects/gsoc", :target => "_blank"}
      Jenkins GSoC page

%p
  %a{:href => "/projects/gsoc/#{page.year}/project-ideas", :target => "_blank"}
    > Go back to other GSoC
    = page.year
    project ideas
