---
layout: project
sig: gsoc
---

%p
  - if page.goal
    %strong
      Project goal:
    = page.goal

%p
  - if page.skills
    %strong
      Skills:
    = page.skills.join(", ")


- if page.status == "published"
  %h2.title
    Details
  = content
- else
  - if page.links
    - if page.links.draft
      %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
        This project idea is under review.
        You are welcome to comment on the proposal or to suggest changes in the draft embedded below
        (
        %a{:href => page.links.draft, :target => "_blank"}
          Google Doc
        )
      %iframe{:src => "#{page.links.draft}?embedded=true", :width => "100%", :height => "600px"}
    - else
      %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
        ERROR: The project idea draft link is missing, please report an error to GSoC org admins
  - else
    %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
      ERROR: The project links are not defined in the document, please report an error to GSoC org admins

%h2.title
  Potential Mentors
%ul
  - page.mentors.each do |mentor|
    %li
      %a{:href => "https://github.com/#{mentor.github}", :target => "_blank"}
        = mentor.name

%h2.title
  Links
%ul
  = partial("connect-links.html.haml", :links => page.links, :sig => page.sig, :project => page.project)
  - if page.links && page.links.draft
    %li
      %a{:href => page.links.draft, :target => "_blank"}
        Project idea draft
  %li
    %a{:href => "/projects/gsoc", :target => "_blank"}
      Jenkins GSoC page

%p
  %a{:href => "/projects/gsoc/#{page.year}/project-ideas", :target => "_blank"}
    > Go back to other GSoC
    = page.year
    project ideas
