---
layout: project
---
%h3.title
  Team
%ul
  %li
    Student:
    %a{:href => "https://github.com/#{page.student.github}", :target => "_blank"}
      = page.student.name
  - page.mentors.each do |mentor|
    %li
      Mentor:
      %a{:href => "https://github.com/#{mentor.github}", :target => "_blank"}
        = mentor.name

%h3.title
  Abstract
= content
