---
layout: project
---

%p
  Project status:
  %b
    = page.status

= content

%h3.title
  Team
%ul
  %li
    Student:
    %a{:href => "https://github.com/#{page.student.github}", :target => "_blank"}
      = page.student.name
  - page.mentors.each do |mentor|
    %li
      Mentor:
      %a{:href => "https://github.com/#{mentor.github}", :target => "_blank"}
        = mentor.name

%h3.title
  Links
%ul
  - if page.links.gitter
    %li
      %a{:href => "https://gitter.im/#{page.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
        %img{:title => "Gitter", :src => "https://badges.gitter.im/#{page.links.gitter}.svg"}
  - if page.links.github
    %li
      %a{:href => "https://github.com/#{page.links.github}", :target => "_blank"}
        Github repository
  %li
    %a{:href => "/projects/gsoc", :target => "_blank"}
      Jenkins GSoC page

