---
layout: default
notitle: title
---

:css
	.jenkins_is_the_way {
		margin-top: 5px;
		hyphens: manual;
	}

	.jenkins_is_the_way .title-wrapper {
		width: 100%;
		background-color: #F1F5F5;
		margin: auto;
		line-height: 25.2px;
		border-bottom: 1px solid rgb(74, 74, 74);
	}

	.jenkins_is_the_way .title {
		width: 100%;
		background-color: #F1F5F5;
		transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding: 2% 0% 2% 0%;
		color: #DB5E35;
		margin-right: auto;
		margin-left: auto;
	}

<!-- start -->

%div.jenkins_is_the_way
	.row.title-wrapper
		.col.title
			.container
				%h2
					= page.title

	.row
		.col
			.container.pb-2
				%h1
					= page.subTitle

			.container.pt-2.pb-2
				%strong
					Submitted By Jenkins User
				= page.submittedBy

			.container.pt-2.pb-2
				= page.tagLine

			.container.pt-2.pb-2
				.media
					%img{:src => page.image, :class => "mr-3", :style => "width: 200px"}

					.media-body
						%div.pb-2
							%strong
								Industry
							= page.industries.join(", ")

						%div.pb-2
							%strong
								Programming Language
							= page.programmingLanguages.join(", ")

						%div.pb-2
							%strong
								Platforms
							= page.platforms.join(", ")

						%div.pb-2
							%strong
								Version Control Systems
							= page.versionControlSystems.join(", ")

						%div.pb-2
							%strong
								Build Tools
							= page.buildTools.join(", ")

						%div.pb-2
							%strong
								Community Supports
							= page.communitySupports.join(", ")

			.container.pb-2
				= content
