---
layout: default
notitle: title
---

:css
	.jenkins_is_the_way {
		margin-top: 5px;
		hyphens: manual;
	}

	.jenkins_is_the_way .title-wrapper {
		width: 100%;
		background-color: #F1F5F5;
		margin: auto;
		line-height: 25.2px;
		border-bottom: 1px solid rgb(74, 74, 74);
	}

	.jenkins_is_the_way .title {
		width: 100%;
		background-color: #F1F5F5;
		transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding: 2% 0% 2% 0%;
		color: #DB5E35;
		margin-right: auto;
		margin-left: auto;
	}

	.testimonal {
		background-color: #e6f1f6;
		border: 2px solid rgb(112, 112, 112);
		border-radius: 20px;
		padding: 20px;
		margin: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}

	.testimonal .attribution {
		color: black;
		font-weight: bold;
	}

	.testimonal .attribution img {
		margin-left: 10px;
		margin-right: 10px;
	}

	.testimonal blockquote {
		background-color: inherit;
		border: 0;
		color: #6c8995;
		font-size: 16px;
	}

	.testimonal img {
		display: inline-block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		object-fit: cover;
		max-width: none;
	}

<!-- start -->

%div.jenkins_is_the_way
	.row.title-wrapper
		.col.title
			.container
				%h2
					= page.title

	.row
		.col
			.container.pb-2
				%h1
					= page.sub_title

			.container.pt-2.pb-2
				%strong
					Submitted By Jenkins User
				= page.submitted_by

			.container.pt-2.pb-2
				= page.tag_line

			.container.pt-2.pb-2
				.jumbotron
					.media
						%img{:src => page.image, :class => "mr-3", :height => 300, :width => 300}

						.media-body
							- if page.organization
								%div.pb-2
									%strong
										Organization:
									= page.organization

							- if page.company
								%div.pb-2
									%strong
										Company:
									= page.company

							- if page.company_website
								%div.pb-2
									%strong
										Company Website:
									= page.company_website

							- if page.teams
								%div.pb-2
									%strong
										Team:
									= page.teams.join(", ")

							- if page.team_members
								%div.pb-2
									%strong
										Team Members:
									= page.team_members.join(", ")

							- if page.project_website
								%div.pb-2
									%strong
										Project Website:
									= page.project_website

							- if page.project_funding
								%div.pb-2
									%strong
										Project Funding:
									= page.project_funding

							- if page.funded_by
								%div.pb-2
									%strong
										Funded By:
									= page.funded_by

							- if page.summary
								%div.pb-2
									%strong
										Summary:
									= page.summary

							- if page.industries
								%div.pb-2
									%strong
										Industries:
									= page.industries.join(", ")

							- if page.programming_languages
								%div.pb-2
									%strong
										Programming Languages:
									= page.programming_languages.join(", ")

							- if page.platform
								%div.pb-2
									%strong
										Platforms:
									= page.platforms.join(", ")

							- if page.version_control_systems
								%div.pb-2
									%strong
										Version Control Systems:
									= page.version_control_systems.join(", ")

							- if page.buildTools
								%div.pb-2
									%strong
										Build Tools:
									= page.build_tools.join(", ")

							- if page.plugins
								%div.pb-2
									%strong
										Custom Plugins:
									= page.plugins.join(", ")

							- if page.community_supports
								%div.pb-2
									%strong
										Community Support:
									= page.community_supports.join(", ")


			.container.pb-2
				= fix_jitw_quote(content)
