---
layout: default
section: blog
---

:css
  .videoblock iframe {
      aspect-ratio: 16 / 9;
      max-width: 100%;
      height: auto;
  }

= partial('anchors.html.haml', :selector => '.app-post-page')

%article.container.app-post-page
  %div{:class => "app-!-display-flex"}
    %a.app-back-link{:href => expand_link("blog")}
      Back to blog

  %h1
    = page.title

  .post-attrs
    = display_author_for(page)

    - if page.date
      = page.date.strftime('%B %-d, %Y')

    .share-buttons
      %a.twitter-share-button{:href => "https://twitter.com/intent/tweet?text=#{CGI::escape(page.title)}&url=#{CGI::escape("https://www.jenkins.io" + expand_link(page.url))}", :'data-lang' => 'en', 'rel' => 'noreferrer nofollow', 'target' => '_blank'}
        Post
      %a.linkedin-share-button{:href => "https://www.linkedin.com/sharing/share-offsite/?url=#{CGI::escape("https://www.jenkins.io" + expand_link(page.url))}", :'rel' => 'noreferrer nofollow', 'target' => '_blank'}
        Post

  %div.blog-content
    - if page.note
      = asciidoc("NOTE: #{page.note}")
    = content

  - if page.tags
    %ul.app-tags
      - page.tags.each do |tag|
        %li
          %a.app-tags__tag{:href => expand_link("blog/tags/#{tag}")}
            = tag

  - authors = page.authors || [page.author]

  %h2
    = authors.length > 1 ? "About the authors" : "About the author"

  - authors.each do |author|
    = partial("author.html.haml", :author => author)

  = partial('discuss.html.haml', :links => page.links)
