---
layout: default
section: blog
---

:css
  div.content {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

= partial('anchors.html.haml', :selector => '.app-post-page')

%article.container.app-post-page
  %div{:class => "app-!-display-flex"}
    %a.app-back-link{:href => expand_link("node")}
      Back to blog

  %h1
    = page.title

  .post-attrs
    = display_author_for(page)

    - if page.date
      = page.date.strftime('%B %-d, %Y')

    %a.twitter-share-button{:href => "https://twitter.com/intent/tweet?text=#{CGI::escape(page.title)}&url=#{CGI::escape("https://www.jenkins.io" + expand_link(page.url))}", :'data-lang' => 'en', 'rel' => 'noreferrer nofollow', 'target' => '_blank'}
      Tweet

  %div.blog-content
    - if page.note
      = asciidoc("NOTE: #{page.note}")
    = content

  - if page.tags
    %ul.app-tags
      - page.tags.each do |tag|
        %li
          %a.app-tags__tag{:href => expand_link("node/tags/#{tag}")}
            = tag

  - authors = page.authors || [page.author]

  %h2
    = authors.length > 1 ? "About the authors" : "About the author"

  - authors.each do |author|
    = partial("author.html.haml", :author => author)

  = partial('discuss.html.haml', :links => page.links)
