---
layout: default
---

- if legacy?
  %div{:class => 'node clear-block'}
    %h1
      %a{:href => page.url, :title => page.title}
        = page.title

    - if page.date
      %span.submitted
        Published on
        = page.date.strftime("%B %e, %Y")
        by
        = display_author_for(page)

    = partial('tweetbutton.html.haml')
    = partial('legacy/feedburner.html.haml')

    %div.content
      = content

- else

  %div.container.blog-post.no-margin
    .row.body
      .col-md-1
      %div#content.col-md-11{:class => 'main-content with-sidebar'}
        %div#content-top
          %h1
            %a{:href => page.url, :title => page.title}
              = page.title

          = partial('tweetbutton.html.haml')

          - if page.date
            %span.submitted
              Published on
              = page.date.strftime('%Y-%m-%d')
              by
              = display_author_for(page)

        = content
