---
layout: default
---

- if legacy?
  %div{:class => 'node clear-block'}
    %h1
      %a{:href => page.url, :title => page.title}
        = page.title

    %span.submitted
      Published on
      = page.date
      by
      = display_author_for(page)

    = partial('tweetbutton.html.haml')
    = partial('legacy/feedburner.html.haml')

    %div.content
      = content

- else

  %div.container
    .row.body

      %div#content.col-md-8{:class => 'main-content with-sidebar'}
        %div#content-top
          %h1
            %a{:href => page.url, :title => page.title}
              = page.title

          = partial('tweetbutton.html.haml')

          %span.submitted
            Published on
            = page.date
            by
            = display_author_for(page)

        = content

      %div#sidebar.col-md-4.events
        = partial('sidebar.html.haml')

      %div#content-bottom/
