---
layout: default
---


:javascript
  $(function () {
    for (var i = 1 ; i <= 6 ; i ++) {
      anchors.add('#content h' + i);
    }
  })


%div.container.blog-post
  .row.body
    %div#content.col-md-11.col-md-offset-1{:class => 'main-content'}
      %div#content-top
        %h1
          %a{:href => expand_link(page.url), :title => page.title}
            = page.title

        %div{:style => 'float: right; clear: all;'}
          %a.twitter-share-button{:href => 'https://twitter.com/share', :'data-lang' => 'en'}
            Tweet

        .post-attrs
          - if page.date
            %span.submitted
              Published on
              = page.date.strftime('%Y-%m-%d')
              by
              = display_author_for(page)
          - if page.tags
            %ul.list-inline.tags
              - page.tags.each do |tag|
                %li
                  %a.tag-link{:href => expand_link("node/tags/#{tag}")}
                    = tag
      - if page.disclaimer
        = asciidoc("NOTE: #{page.disclaimer}")
      = content
      
      - if page.author 
        %b.author.about-header
          About the Author
        = partial("author.html.haml", :author => page.author)
      - if page.authors
        %b.author.about-header
          About the Authors
        - page.authors.each do |author|
          = partial("author.html.haml", :author => author)
