---
layout: default
---

- if legacy?
  %div{:class => 'node clear-block'}
    %h1
      %a{:href => page.url, :title => page.title}
        = page.title

    %span.submitted
      Published on

      = page.date

    = partial('tweetbutton.html.haml')

    %div.content
      = content

- else

  %div.container
    .row.body
      = partial('sidebar.html.haml')

      %div#content.col-md-8{:class => 'main-content with-sidebar'}
        %div#content-top
          %h1
            %a{:href => page.url, :title => page.title}
              = page.title

          = partial('tweetbutton.html.haml')

          %span.submitted
            Published on
            = page.date
            by
            - if page.author && site.authors[page.author.to_sym]
              = site.authors[page.author.to_sym].name
            - else
              = page.author

        = content

        %div#content-bottom/
