---
layout: default
---


:javascript
  $(function () {
    anchors.add('#content > h1');
    anchors.add('#content > h2');
    anchors.add('#content > h3');
    anchors.add('#content > h4');
    anchors.add('#content > h5');
    anchors.add('#content > h6');
  })


%div.container.blog-post.no-margin
  .row.body
    %div#content.col-md-11.col-md-offset-1{:class => 'main-content'}
      %div#content-top
        %h1
          %a{:href => page.url, :title => page.title}
            = page.title

        = partial('tweetbutton.html.haml')

        - if page.date
          %span.submitted
            Published on
            = page.date.strftime('%Y-%m-%d')
            by
            = display_author_for(page)

      = content
