---
layout: default
---

:ruby
  articles = []
  unless page.noblogs
    articles = site.posts.map do |post|
      # if we have tags provided to the partial (page.tags) then we
      # should only show the post if its tags contain one of those passed
      # into the partial. page.tags is a TagStat
      next if page.tags && (!post.tags || !(page.tags & post.tags.map(&:to_s)).any?)
      post
    end
    # Remove all our nils and then trim to ten posts
    articles = articles.compact.slice(0, 10)
  end

:javascript
  $(function () {
    for (var i = 1 ; i <= 6 ; i ++) {
      anchors.add('.container .row .col-lg9 h' + i);
    }
  })

.container
  .row.body
    .col-lg-9
      %h1
        = page.title
      = content


    .col-lg-3
      .sidebar-nav
        %h4
          On this page

        = document.converter.convert document, 'outline'

      - if page.gitter
        %div
          %h4
            Connect

          %ul.list-unstyled
            %li
              %a{:src => "https://gitter.im/#{page.gitter}"}
                %img{:src => "https://badges.gitter.im/#{page.gitter}.svg", :title => 'Join our Gitter chat'}/

        %div
          - # Only render articles if we have them
          - if articles.size > 0
            %div{:id => 'block-block-15', :class => 'block block-block even blog-posts'}
              %h4.title
                Recent Blog Posts

              %ul
                - articles.each do |article|
                  %li
                    %a{:href => article.url}
                      = article.title
