---
layout: documentation
notitle: true
---

:ruby
  section_key = File.basename(page.source_path, File.extname(page.source_path))
  chapter_key = File.basename(File.dirname(page.source_path))
  index = site.handbook.chapters.index { |c| c.key == chapter_key }
  chapter = site.handbook.chapters[index]

  our_index = chapter.sections.find_index { |s| s.key == section_key }
  total = chapter.sections.size
  next_is_chapter = false

  # We need to do all this silly arithmetic in order to determine what the
  # indices for the previous and/or next sections in this chapter would be
  prev_section = nil
  if our_index > 0
    prev_section = chapter.sections[our_index - 1]
  end

  next_section = nil
  if our_index < (total - 1)
    next_section = chapter.sections[our_index + 1]
  end

  # If we're at the end of the chapter, and there's another chapter after us,
  # let's make the next section the next chapter's index page
  if next_section.nil? && (index < site.handbook.chapters.size)
    next_is_chapter = true
    next_section = site.handbook.chapters[index + 1]
  end

%div
  .row
    .col-md-4
      - unless prev_section.nil?
        %a.prev.doc-page-link{:href => File.join('..', prev_section.key)}
          ⇐ #{prev_section.title}
    .col-md-4
      %a.up.doc-page-link{:href => '../'}
        ⇑ #{chapter.title}
      %a.index.doc-page-link{:href => '../../'}
        Index
    .col-md-4
      - unless next_section.nil?
        - if next_is_chapter
          %a.next.doc-page-link{:href => File.join('../../', next_section.key)}
            #{next_section.title} ⇒
        - else
          %a.next.doc-page-link{:href => File.join('..', next_section.key)}
            #{next_section.title} ⇒

%div
  .row.body
    .ctc
      .section
        %h1
          = page.title

        - if page.wip
          = partial( 'wip.adoc' )

        = content

        - if page.references && page.references.size > 0
          %h2
            References

          %ul
            - page.references.each do |reference|
              %li
                %a{:href => reference.url}<>
                  = reference.title
                - if reference.description
                  \:
                  = reference.description

%hr/

%div
  .row
    .col-md-4
      - unless prev_section.nil?
        %a.prev.doc-page-link{:href => File.join('..', prev_section.key)}
          ⇐ #{prev_section.title}
    .col-md-4
      %a.up.doc-page-link{:href => '../'}
        ⇑ #{chapter.title}
      %a.index.doc-page-link{:href => '../../'}
        Index
    .col-md-4
      - unless next_section.nil?
        - if next_is_chapter
          %a.next.doc-page-link{:href => File.join('../../', next_section.key)}
            #{next_section.title} ⇒
        - else
          %a.next.doc-page-link{:href => File.join('..', next_section.key)}
            #{next_section.title} ⇒

%hr/

.container
= partial ('_feedback-footer.html')
