---
layout: default
section: security
---
= partial('anchors.html.haml', :selector => '.container .row .col-lg-9');

.container
  .row.body
    .col-lg-3
      .sidebar-nav.tour
        %p
          = active_href('security', 'Jenkins Security Home')

        %strong
          For Administrators
        %ul
          %li
            = active_href('security/for-administrators', 'Overview')
          %li
            = active_href('security/terminology', 'Terminology')
          %li
            = active_href('security/vulnerabilities', 'Vulnerabilities and Scoring')
          %li
            = active_href('security/advisories', 'Security Advisories')
          %li
            = active_href('security/issues', 'Security Issues')
          %li
            = active_href('security/scheduling', 'Advisory Schedule')
          %li
            = active_href('security/plugins', 'Vulnerabilities in Plugins')
          %li
            = active_href('security/fixing', 'How We Fix Security Issues')

        %strong
          For Reporters
        %ul
          %li
            = active_href('security/reporting', 'Reporting Vulnerabilities')
          %li
            = active_href('security/cna', 'Jenkins CNA')

        %strong
          For Maintainers
        %ul
          %li
            = active_href('security/for-maintainers', 'Overview')
          %li
            = active_href('security/plugins', 'Vulnerabilities in Plugins')

        %strong
          Jenkins Security Team
        %ul
          %li
            = active_href('security/team', 'About')
          %li
            = active_href('security/improvements', 'Contributions')


    .col-lg-9
      - unless page.notitle
        %h1
          = page.title
      = content
