---
layout: project
---

.container
  .row.body
    .col-lg-11

      - if page.logo
        %img{:title => "Logo", :src => expand_link(page.logo), :style => "float:right"}

      %h2.title
        Overview


      - if page.overview
        %p
          = page.overview

      %a{:href => "/sigs", :target => "_blank"}
        (Back to List of Jenkins Special Interest Groups )

  .row.body
    .col-lg-6
      %h2.title
        Members

      - if page.leads
        Lead#{if page.leads.length > 1 then 's' end}:

        %ul
          - page.leads.each do |item|
            %li
              %a{:href => "https://github.com/#{item.github}", :target => "_blank"}
                = item.name

      - if page.participants
        Participants:
        %ul
          - page.participants.each do |item|
            %li
              %a{:href => "https://github.com/#{item.github}", :target => "_blank"}
                = item.name

    .col-lg-6
      %h2.title
        Links
      %ul
        - if page.links.googlegroup
          %li
            %a{:href => "https://groups.google.com/forum/#!forum/#{page.links.googlegroup}", :target => "_blank"}
              Mailing List
        - if page.links.gitter
          %li
            %a{:href => "https://gitter.im/#{page.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
              %img{:title => "Gitter", :src => "https://badges.gitter.im/#{page.links.gitter}.svg"}
        - if page.links.github
          %li
            %a{:href => "https://github.com/#{page.links.github}", :target => "_blank"}
              Github repository


  .row.body
    .col-lg-11
      %h2.title
        Description

      = content

      %a{:href => "/sigs", :target => "_blank"}
        (Back to List of Jenkins Special Interest Groups)

