---
layout: project
---

- data = site.sigs[page.sigId]
- if page.logo
  %img{:title => "Logo", :src => expand_link(data.logo), :style => "float:right"}

= content

%h3.title
  Participants

- if data.leads
  Leads:
  %ul
    - data.leads.each do |lead|
      %li
        %a{:href => "https://github.com/#{lead.github}", :target => "_blank"}
          = lead.name
- if data.participants
  Participants:
  %ul
    - data.participants.each do |participant|
      %li
        %a{:href => "https://github.com/#{participant.github}", :target => "_blank"}
          = participant.name

%h3.title
  Links
%ul
  - if data.links.googlegroup
    %li
      %a{:href => "https://groups.google.com/forum/#!forum/{data.links.googlegroup}", :target => "_blank"}
        Mailing List
  - if data.links.gitter
    %li
      %a{:href => "https://gitter.im/#{data.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
        %img{:title => "Gitter", :src => "https://badges.gitter.im/#{data.links.gitter}.svg"}
  - if data.links.github
    %li
      %a{:href => "https://github.com/#{data.links.github}", :target => "_blank"}
        Github repository

  %li
    %a{:href => "/sigs", :target => "_blank"}
      Jenkins Special Interest Groups

