---
layout: project
---

:css
  div.col-lg-9 {
    margin-bottom: 2em;
  }
  div.col-lg-12 {
    padding-left: 0;
  }


.container
  .row.body
    .col-lg-12

      - if page.logo
        %img{:title => "Logo", :src => expand_link(page.logo), :style => "float:right", :width => "192"}

      %h2.title
        Overview

      - if page.overview
        %p
          = page.overview

      %a{:href => "/sigs"}
        (Back to List of Jenkins Special Interest Groups )

  .row
    .col-lg-12
      #members
      %h2.title
        Members

    .col-lg-4
      - if page.leads
        Lead#{if page.leads.length > 1 then 's' end}:

        %ul
          - page.leads.each do |user|
            %li
              = display_user(user)

      - if page.organizations
        Organizations:
        %ul
          - page.organizations.each do |item|
            %li
              %a{:href => "https://github.com/#{item.github}"}
                = item.name

    .col-lg-4
      - if page.participants
        - part1 = page.participants.sort_by { |x| site.authors[x] ? site.authors[x].name : x }
        - part2 = []
        - if part1.length > 8
          - part1,part2 = part1.each_slice( (part1.size/2.0).round ).to_a

        Participants:
        %ul
          - part1.each do |user|
            %li
              = display_user(user)

    .col-lg-4
      - if page.participants
        &nbsp;
        %ul
          - part2.each do |user|
            %li
              = display_user(user)

  .row
    .col-lg-12
      #description
      %h2.title
        Description

      = content

      %a{:href => "/sigs"}
        (Back to List of Jenkins Special Interest Groups)
