---
layout: default
---

:css
  .toc {
      float: right;
  }

- unless page.noanchors
  = partial("anchors.html.haml", :selector => '.app-container')

.app-container{:class => "#{page.tight ? 'app-container--compact' : ''}"}
  - if page.backlink
    %div{:class => "app-!-display-flex", :style => "margin-bottom: 20px"}
      %a{:href => page.backlink.url, :class => "app-back-link"}
        = page.backlink.label
  - if page.show_title != false
    %h1
      = page.title
  = content
