---
layout: frame
section: solutions
---
- key = page.simple_name.to_sym
- data = site.solutions[key]

- if legacy?
  %div#page{:class => 'clearfloat'}
    %div#top{:class => 'clearfloat'}
      - if data.legacy && data.legacy.header_image
        #headline.no-featured
          .block
            .content
              %center
                %img{:src => data.legacy.header_image,
                    :border => '0'}

    %div#sidebar
      .block
        .content
          =partial('news.html.haml',
            :title => "Jenkins ♥ #{data.usecase} Articles",
            :articles => data.articles)

      .block
        .content
          =partial('plugins.html.haml',
            :title => "#{data.usecase} plugins for Jenkins",
            :plugins => data.plugins)

      = partial('legacy/download.html.haml')

    %div#content{:class => 'main-content with-sidebar'}
      %div#content-top/

      = content

      %div#content-bottom/
- else
  = partial('toptoolbar.html.haml', :section => page.simple_name)

  = partial('jumbotron.html.haml',
      :href => "/solutions/#{page.simple_name}",
      :title => page.title,
      :intro => data.intro,
      :image => (data.jumbotron ? data.jumbotron.image : nil))

  - if data && data.steps
    = partial('steps.html.haml',
        :title => "Getting started with #{data.usecase}",
        :steps => data.steps)
  - if data && data.videos
    = partial('media.html.haml', :media => data.videos)

  .container
    .row.body
      .col-md-8
        %div.solution_content
          = content

        %div.solution_blogs
          = partial('blogs.html.haml', :tags => data.blog_tags || [])

      .col-md-4
        - if data.articles
          = partial('news.html.haml',
            :title => "Jenkins ♥ #{data.usecase} Articles",
            :articles => data.articles)

        - if data.plugins
          = partial('plugins.html.haml',
            :title => "#{data.usecase} plugins for Jenkins",
            :plugins => data.plugins)
