---
layout: subsectiondocumentation
notitle: true
---
:css
  .row.body {
    padding-top: 3rem;
  }

:ruby
  section_key = File.basename(page.source_path, File.extname(page.source_path))
  chapter_key = File.basename(File.dirname(page.source_path))

  chapter_index = site.handbook.chapters.index { |c| c.key == chapter_key }

  unless chapter_index == nil
    chapter = site.handbook.chapters[chapter_index]
    section_index = chapter.sections.find_index { |s| s.key == section_key }
    section_total = chapter.sections.size
    next_is_chapter = false

    unless section_index == nil
      # We need to do all this silly arithmetic in order to determine what the
      # indices for the previous and/or next sections in this chapter would be
      prev_section = nil
      if section_index > 0
        prev_section = chapter.sections[section_index - 1]
      end

      next_section = nil
      if section_index < (section_total - 1)
        next_section = chapter.sections[section_index + 1]
      end

      # If we're at the end of the chapter, and there's another chapter after us,
      # let's make the next section the next chapter's index page
      if next_section.nil? && (chapter_index < site.handbook.chapters.size)
        next_is_chapter = true
        next_section = site.handbook.chapters[chapter_index + 1]
      end
    end
  end

.container
  .row
    .col-md-4
      .row
        - unless prev_section.nil?
          - unless File.extname(prev_section.key).empty?
            %a.prev.doc-page-link{:href => File.join('..', prev_section.key)}
              ⇐ #{prev_section.title}
          - if File.extname(prev_section.key).empty?
            %a.prev.doc-page-link{:href => File.join('..', prev_section.key, 'index.html')}
              ⇐ #{prev_section.title}

    .col-md-4
      - unless chapter.nil?
        .row
          %a.up.doc-page-link{:href => '../'}
            ⇑ #{chapter.title}
        .row
          %a.index.doc-page-link{:href => '../../'}
            Index
    .col-md-4
      .row
        - unless next_section.nil?
          - if next_is_chapter
            - unless File.extname(next_section.key).empty?
              %a.next.doc-page-link{:href => File.join('../../', next_section.key)}
                #{next_section.title} ⇒
            - if File.extname(next_section.key).empty?
              %a.next.doc-page-link{:href => File.join('../../', next_section.key, 'index.html')}
                #{next_section.title} ⇒
          - else
            - unless File.extname(next_section.key).empty?
              %a.next.doc-page-link{:href => File.join('..', next_section.key)}
                #{next_section.title} ⇒
            - if File.extname(next_section.key).empty?
              %a.next.doc-page-link{:href => File.join('..', next_section.key, 'index.html')}
                #{next_section.title} ⇒
  - if chapter.nil?
    .row{:style => 'padding-left: 5rem'}
      %a.index{:href => expand_link('doc/book/')}
        Index

.container
  .row.body
    .ctc
      .section
        %h1
          = page.title

        - if page.wip
          = partial( 'wip.adoc' )

        = content

        - if page.references && page.references.size > 0
          %h2
            References

          %ul
            - page.references.each do |reference|
              %li
                %a{:href => reference.url}<>
                  = reference.title
                - if reference.description
                  \:
                  = reference.description

%hr/

.container
  .row
    .col-md-4
      .row
        - unless prev_section.nil?
          %a.prev.doc-page-link{:href => File.join('..', prev_section.key)}
            ⇐ #{prev_section.title}
    .col-md-4
      - unless chapter.nil?
        .row
          %a.up.doc-page-link{:href => '../'}
            ⇑ #{chapter.title}
        .row
          %a.index.doc-page-link{:href => '../../'}
            Index
    .col-md-4
      .row
        - unless next_section.nil?
          - if next_is_chapter
            %a.next.doc-page-link{:href => File.join('../../', next_section.key)}
              #{next_section.title} ⇒
          - else
            %a.next.doc-page-link{:href => File.join('..', next_section.key)}
              #{next_section.title} ⇒
  - if chapter.nil?
    .row{:style => 'padding-left: 5rem'}
      %a.index{:href => expand_link('doc/book/')}
        Index

%hr/

.container
= partial ('_feedback-footer.html')
