---
layout: section
---

= page.content

:ruby
  require 'asciidoctor'

- if page.properties
  %dl
    - page.properties.sort { |x, y| x.name.downcase <=> y.name.downcase }.each do |property|
      %dt
        %code
          = property.name
      %dd
        - if property.since
          %div.since
            %strong
              Since:
            = property.since
        - else
          %div.since
            %strong
              Since:
            %em
              n/a
        - if property.def
          %div.def
            %strong
              Default:
            = Asciidoctor.convert property.def.to_s, safe: :safe
        - else
          %div.def
            %strong
              Default:
            %em
              n/a
        %strong
          Description:
        - if property.description
          = Asciidoctor.convert property.description, safe: :safe
        - else
          %em
            n/a
