---
layout: section
---

= page.content

:ruby
  require 'asciidoctor'

- if page.properties
  %dl
    - page.properties.sort { |x, y| x.name.downcase <=> y.name.downcase }.each do |property|
      %dt
        %code
          = property.name
      %dd
        - if property.tags and property.tags.length > 0
          %div.tags
            - property.tags.each do |tag|
              %span.tag
                = tag.sub(/ui/, 'UI')
        - else
          %div.tags
            %span.tag
              Uncategorized
        - if property.since
          %div.since
            %strong
              Since:
            = property.since
        - else
          %div.since
            %strong
              Since:
            %em
              Undocumented
        - if property.def
          %div.def
            %strong
              Default:
            = Asciidoctor.convert property.def.to_s, safe: :safe
        - else
          %div.def
            %strong
              Default:
            %em
              Undocumented
        %strong
          Description:
        - if property.description
          = Asciidoctor.convert property.description, safe: :safe
        - else
          %em
            Undocumented
