---
layout: default
title: 'Jenkins - User Story Library - All'
---

:ruby
  pages = site.pages.select { |p| p.source_path =~ /content\/jenkinsistheway/ && !p.date.nil? }.sort { |a, b| DateTime.parse(b.date) <=> DateTime.parse(a.date) }

.container
  .row.body
    .col.text-center
      %h1 Jenkins Is The Way

  .row
    .col
      %h2 Tell Your Story

      %p "Jenkins Is The Way" is a global showcase of how developers and engineers are building, deploying, and automating great stuff with Jenkins.
      %p Share your story and we’ll send you a free Jenkins Is The Way T-Shirt.
      %p Our short form will capture details about your project’s goals and technical challenges, and the unique solutions you came up with using Jenkins.

  .row
    .col
      %h2 Jenkins User Stories

      - pages.each do |story|
        %div.pb-2
          %div
            %strong
              = story.title
          %div
            %small
              = DateTime.parse(story.date)
          %div
            = story.tagLine
          %div
            %a{href: "#{expand_link("/jenkinsistheway/#{story.post_name}/")}"}
              Read More »
