---
layout: simplepage
title: Changelog
---

= partial('changelog-header.html')

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse_each do | release |
    - if Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest)
      %h3{:id => "v#{release.version}" }
        = "What's new in #{release.version} (#{release.date})"
      - if release.banner
        %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
          = release.banner
      %ul.image
        = partial('changelog-changes.html.haml', :changes => release.changes)


%p
  %b
    Older changelogs can be found in a
    %a{:href => '/changelog-old/'}
      separate file
