---
layout: changelog
title: Changelog
show_ratings: true
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - counter = 0
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    %h3{:id => "v#{release.version}" }
      = "What's new in #{release.version}"
      - if release.date
        = "(#{release.date})"
    - if release.banner
      %div{:style => 'margin: 10px; padding: 10px; background-color: #FFFFCE;'}
        = release.banner
    %ul.image
      = partial('changelog-changes.html.haml', :changes => release.changes)


%p
  %b
    Changelogs of historical releases can be found
    %a{:href => '/changelog-old/'}
      in the changelog archive.
