---
layout: changelog
title: Changelog
show_ratings: true
has_rss: true
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    = partial('release-header.html.haml', :release => release, :url => 'changelog')
    - if release.tested_configurations
      %div.app-releases__tested-configs.app-releases__tested-configs--compact
        %div.app-releases__tested-configs__grid
          - if release.tested_configurations['platforms']
            %div.app-releases__tested-configs__item
              %span.app-releases__tested-configs__label Platforms
              %div.app-releases__tested-configs__tags
                - release.tested_configurations['platforms'].each do |platform|
                  %span.app-releases__tested-configs__tag= platform.to_s.capitalize
          - if release.tested_configurations['jdks']
            %div.app-releases__tested-configs__item
              %span.app-releases__tested-configs__label JDKs
              %div.app-releases__tested-configs__tags
                - release.tested_configurations['jdks'].each do |jdk|
                  %span.app-releases__tested-configs__tag= "JDK #{jdk}"
          - if release.tested_configurations['packages']
            %div.app-releases__tested-configs__item
              %span.app-releases__tested-configs__label Packages
              %div.app-releases__tested-configs__tags
                - release.tested_configurations['packages'].each do |pkg|
                  %span.app-releases__tested-configs__tag= pkg.to_s.upcase
    %div.app-releases__list__items
      = partial('changelog-changes.html.haml', :changes => release.changes)

.app-banner
  Changelogs of historical releases can be found
  %a{:href => '/changelog-old/'}
    in the changelog archive.
