---
layout: simplepage
title: Changelog
---

= partial('changelog-header.html')

.ratings
  - site.changelogs[:weekly].reverse_each do | release |
    %h3
      %a{:name => "v#{release.version}" }
        What's new in
        = release.version
      = "(#{release.date})"
    %ul.image
      = partial('changes.html.haml', :changes => release.changes)
  = partial('changelog-weekly.html')


%p
  %b
    Older changelogs can be found in a
    %a{:href => '/changelog-old/'}
      separate file
