- address = "#{page.name}@googlegroups.com"
- archive_link = "https://groups.google.com/group/#{page.name}/topics"
- subscribe_link = "mailto:#{page.name}+subscribe@googlegroups.com"
- unsubscribe_link = "mailto:#{page.name}+unsubscribe@googlegroups.com"

%h3 
  %a{:href => "mailto:#{address}"} #{address}

.group-description
  - if page.description
    = page.description
  - else
    = partial("mailing-lists/#{page.name}.adoc")

- unless page.name == 'jenkinsci-board'
  .group-links
    %a{:href => archive_link} archive
    |
    %a{:href => subscribe_link} subscribe
    |
    %a{:href => unsubscribe_link} unsubscribe


