---
layout: changelog
title: Archived LTS Changelog
show_ratings: false
has_rss: false
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/changelog-stable">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    Back to Recent LTS Changelog
  </a>
---

.ratings
  - # Load older changelogs (all except the most recent 25, ordered correctly with full entries list)
  - archived_changelogs = site.changelogs[:lts].reverse.drop(25)
  - archived_changelogs.each do |release|
    %div
      = partial('../_partials/release-header.html.haml', :release => release, :url => 'changelog-stable-old')
      - if release.changes
        .app-releases__notable-changes{:style => "margin-top: 15px"}
          = "Changes since #{release.lts_baseline}"
        %div.app-releases__list__items
          = partial('../_partials/changelog-changes.html.haml', :changes => release.changes)
      - if release.lts_changes
        .app-releases__notable-changes
          - if release.lts_predecessor
            = "Notable changes since #{release.lts_predecessor}"
        %div.app-releases__list__items
          = partial('../_partials/changelog-changes.html.haml', :changes => release.lts_changes)
      - unless release.changes || release.lts_changes
        %p No notable changes for this release.

.app-banner
  This is the changelog archive. The changelog for recent releases can be found
  %a{:href => '/changelog-stable/'}
    in the main LTS changelog page.
