---
layout: default
title: 'Jenkins Community Blog'
section: blog
---

:ruby
  page_index = page.posts.current_page_index
  first_skip = false
  second_skip = false
  skip_window = 3

%div.container.blog-post
  .row.body
    %div#content.col-md-8{:class => 'main-content with-sidebar'}
      %div#content-top
        %h2
          = page.title

      .blogintro
        The Jenkins project has a lot going on between core/plugin development,
        events and other open source automation related activities. To keep up with
        it subscribe to our

        %a{:href => 'https://feeds.feedburner.com/ContinuousBlog/'}
          RSS feed

        or

        %a{:href => 'https://twitter.com/jenkinsci'}
          follow us on Twitter

      = partial('blogcardlist.html.haml', :posts => page.posts)

      %div
        %nav
          %ul.pagination
            %li.page-item{:class => (page.posts.previous_page or 'disabled')}
              %a.page-link{:href => (page.posts.previous_page and expand_link(page.posts.previous_page.url))}
                &laquo;
            - page.posts.pages.each_index do |index|
              - if index == 0
                %li.page-item{:class => ((page_index == index) and 'active')}
                  %a.page-link{:href => expand_link('node')}
                    = index + 1
              - elsif (index >= skip_window) && !first_skip
                - first_skip = true
                %li.page-item.disabled
                  %a.page-link{:href => '#'}
                    \...
              - elsif (( index >= (page_index + skip_window)) && (index < ((page.posts.pages.size - skip_window) - 1)) && !second_skip )
                - second_skip = true
                %li.page-item.disabled
                  %a.page-link{:href => '#'}
                    \...
              - elsif second_skip && ((index < (page.posts.pages.size - skip_window) - 1))
                - next
              - else
                %li.page-item{:class => ((page_index == index) and 'active')}
                  %a.page-link{:href => expand_link("node/page/#{index + 1}.html")}
                    = index + 1
            %li.page-item{:class => (page.posts.next_page or 'disabled')}
              %a.page-link{:href => (page.posts.next_page and expand_link(page.posts.next_page.url))}
                &raquo;


    .col-md-4.events.vertical
      .content
        = partial('events.html.haml')
