---
layout: default
title: 'Jenkins Community Blog'
section: blog
---

- if legacy?
  - for post in page.posts
    .post
      %h1
        %a{:href => post.url}
          = post.title

      %span.submitted
        Published on
        = post.date
        by
        = display_author_for(post)

      .content
        != post.content
  = page.posts.links


- else
  %div.container.blog-post.no-margin
    .row.body
      .col-md-1
      %div#content.col-md-8{:class => 'main-content with-sidebar'}
        %div#content-top
          %h2
            = page.title

        %div.blogintro
          The Jenkins project has a lot going on between core/plugin development,
          events and other open source automation related activities. To keep up with
          it subscribe to our

          %a{:href => 'https://feeds.feedburner.com/~r/ContinuousBlog/'}
            RSS feed

          or

          %a{:href => 'https://twitter.com/jenkinsci'}
            follow us on Twitter

        = partial('blogcardlist.html.haml', :posts => page.posts)
        = page.posts.links

      %div#sidebar.col-md-3.events.vertical
        = partial('sidebar.html.haml')
