---
layout: default
title: 'Jenkins Community Blog'
section: blog
---

:ruby
  page_count = page.posts ? page.posts.pages.size : 0

%div.container.blog-post
  .row.body
    %div#content.col-md-8{:class => 'main-content with-sidebar'}
      - if page.author
        = partial("author.html.haml", :author => page.author, :blogroll => true)
      - else
        %div#content-top
          %h2
            = page.title
        .blogintro
          The Jenkins project has a lot going on between core/plugin development,
          events and other open source automation related activities. To keep up with
          it subscribe to our
          %a{:href => 'https://feeds.feedburner.com/ContinuousBlog/'}
            RSS feed
          or
          %a{:href => 'https://twitter.com/jenkinsci'}
            follow us on Twitter


      - if page.posts
        = partial('blogcardlist.html.haml', :posts => page.posts)
        - if page_count > 1
          = partial('pagination.html.haml', :posts => page.posts)
      - else
        There are no blog posts by this author yet.

    .col-md-4.events.vertical
      .content
        = partial('events.html.haml')
