---
layout: solution
title: "Jenkins and Docker"
usecase: "Docker"
header_image: 'https://agentdero.cachefly.net/continuousblog/jenkins-heart-docker.png'
articles:
-
  - http://engineering.riotgames.com/news/taking-control-your-docker-image
  - "Taking control of your Docker image"
-
  - http://engineering.riotgames.com/news/thinking-inside-container
  - "Thinking inside the container"
-
  - http://engineering.riotgames.com/news/jenkins-docker-proxies-and-compose
  - "Using Jenkins, Docker, Proxies and Compose"
-
  - https://blog.codecentric.de/en/2015/10/continuous-integration-platform-using-docker-container-jenkins-sonarqube-nexus-gitlab/
  - "Continuous Integration Platform using Docker with Jenkins, SonarQube, Nexus and GitLab"
-
  - https://www.cloudbees.com/blog/triggering-docker-pipelines-jenkins
  - "Triggering Docker pipelines with Jenkins"
plugins:
-
  - "https://wiki.jenkins-ci.org/display/JENKINS/Docker+Plugin"
  - "Docker plugin"
  - "dynamically provision slaves with Docker"
-
  - "https://wiki.jenkins-ci.org/display/JENKINS/CloudBees+Docker+Workflow+Plugin"
  - "CloudBees Docker Workflow plugin"
  - "build and use Docker containers from within Workflows"
-
  - "https://wiki.jenkins-ci.org/display/JENKINS/Docker+build+step+plugin"
  - "Docker build step plugin"
  - "add various Docker commands to the job as a build step"
-
  - "https://wiki.jenkins-ci.org/display/JENKINS/CloudBees+Docker+Build+and+Publish+plugin"
  - "CloudBees Docker Build and Publish plugin"
  - "build projects with a Dockerfile, and publish the resulting image (repo) to the docker registry"
-
  - "https://wiki.jenkins-ci.org/display/JENKINS/Kubernetes+Plugin"
  - "Kubernetes plugin"
  - "dynamically allocate and schedule Docker slaves on a Kubernetes cluster"
-
  - "https://github.com/jenkinsci/dockerhub-notification-plugin/blob/master/README.md"
  - "CloudBees Docker Hub Notification plugin"
  - "allows Jenkins to receive webhooks from hub.docker.com to drive pipelines based on Docker in Jenkins"
-
  - "https://github.com/jenkinsci/docker-traceability-plugin/blob/master/README.md"
  - "CloudBees Docker Traceability plugin"
  - "track creation and use of Docker containers in Jenkins"
---

- if legacy?
  :markdown
    Combining Jenkins and [Docker](https://www.docker.io) together can bring improved speed and consistency to your automation tasks, which is why we've collected some *hopefully* helpful resources on this page to get you started!

    ## What's Docker?

    > *[Docker](https://en.wikipedia.org/wiki/Docker_%28software%29) is an open-source project that automates the deployment of applications inside software containers, by providing an additional layer of abstraction and automation of operating-system-level virtualization on Linux.*
    (*courtesy Wikipedia*)

    What this offers to Jenkins users is a means to isolate different jobs from one another, quickly clean a job's workspace or even dynamically deploy or schedule jobs with Docker containers to increase resource utilization and efficiency.

    ## Resources

    * [Docker image for the Jenkins Workflow demo](https://github.com/jenkinsci/workflow-plugin/blob/master/demo/README.md)

    ## Presentations

    Below are some presentations which may serve to help introduce you to some of the concepts and current best practices when using Jenkins and Docker together.

    <center><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/38SAyBLSHUM?rel=0" frameborder="0" allowfullscreen></iframe></center>


    <center><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/e7N3jX2b1i0?rel=0" frameborder="0" allowfullscreen></iframe></center>


    ### Some more presentations

    * [Continuous Integration with Jenkins and Docker](https://www.youtube.com/watch?v=ppCzDDpcqRk) at Oxford University Press.
    * [Setting up Jenkins with Docker to Test your Joomla! Extension](https://www.youtube.com/watch?v=DrXkoyzQwi4)
    * [Continuous Delivery at 'Cloud-Scale' with Jenkins and Docker](https://www.youtube.com/watch?v=t2K50J1A9xA)
    * [Delivering eBay's CI solution with Apache Mesos and Docker](https://www.youtube.com/watch?v=VZPbLUJnR68)
    * [Lightweight PaaS for Jenkins CI Environments with Docker](https://www.youtube.com/watch?v=yt6QrwLs4HE)

- else
  - # New and improved version of the Docker solution page
  = partial('toptoolbar.html.haml',
    :section=>'more',
    :specific=>'docker')

  = partial('jumbotron.html.haml')

  = partial('steps.html.haml',
    :title => 'Getting started with Docker',
    :steps => [{:title => 'Learn some things',
      :short => 'Learn more about this cool thing called Docker...',
      :long => 'This is the long description guy that really tells you what to do with Docker and why it is fun and good. Not sure why HTML is not working...'},
      {:title => 'Make containers',
        :short => 'Install this software to start doing awesomeness...',
        :long => 'This is the long description guy that really tells you what to do'},
      {:title => 'Make containers',
      :short => 'Containers can be used for everything you can possibly imagine, so check it out...',
      :long => 'This is the long description guy that really tells you what to do'},
      {:title => 'Deploy code',
      :short => 'Jenkins makes building with Docker something easy and fun...',
      :long => 'This is the long description guy that really tells you what to do'}])

  = partial('media.html.haml', :media => [{:title => 'Scaling Jenkins masters with Docker',
    :short => '',
    :id => '38SAyBLSHUM'},
    {:title => 'Scaling Jenkins and Docker with Kubernetes',
    :short => '',
    :id => 'e7N3jX2b1i0'},
    {:title => "Delivering eBay's CI solution with Jenkins and Docker",
    :short => '',
    :id => 'VZPbLUJnR68'},
    {:title => 'Continuous Integration with Jenkins and Docker',
    :short => '',
    :id => 'ppCzDDpcqRk'},
    {:title => 'Lightweight PaaS for Jenkins CI Environments with Docker',
    :short => '',
    :id => 'yt6QrwLs4HE'},
    ])

  .container
    .row.body
      .col-md-8
        = partial('blogs.html.haml', :tags => ['docker', 'containers'])

      .col-md-4
        =partial('news.html.haml',
          :title => 'Jenkins ♥ Docker Articles',
          :articles => page.articles)

        =partial('plugins.html.haml',
          :title => 'Docker plugins for Jenkins',
          :plugins => page.plugins)
