---
title: "Jenkins and Docker"
legacy: false
---
<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')
  %body
    = partial('toptoolbar.html.haml',
      :section=>'more',
      :specific=>'docker')

    = partial('jumbotron.html.haml')

    = partial('steps.html.haml',
      :title => 'Getting started with Docker',
      :steps => [{:title => 'Learn some things',
        :short => 'Learn more about this cool thing called Docker...',
        :long => 'This is the long description guy that really tells you what to do with Docker and why it is fun and good. Not sure why HTML is not working...'},
        {:title => 'Make containers',
          :short => 'Install this software to start doing awesomeness...',
          :long => 'This is the long description guy that really tells you what to do'},
        {:title => 'Make containers',
        :short => 'Containers can be used for everything you can possibly imagine, so check it out...',
        :long => 'This is the long description guy that really tells you what to do'},
        {:title => 'Deploy code',
        :short => 'Jenkins makes building with Docker something easy and fun...',
        :long => 'This is the long description guy that really tells you what to do'}])

    = partial('quote.html.haml')

    = partial('media.html.haml', :media => [{:title => 'Scaling Jenkins masters with Docker',
      :short => '',
      :id => '38SAyBLSHUM'},
      {:title => 'Scaling Jenkins and Docker with Kubernetes',
      :short => '',
      :id => 'e7N3jX2b1i0'},
      {:title => "Delivering eBay's CI solution with Jenkins and Docker",
      :short => '',
      :id => 'VZPbLUJnR68'},
      {:title => 'Continuous Integration with Jenkins and Docker',
      :short => '',
      :id => 'ppCzDDpcqRk'},
      {:title => 'Lightweight PaaS for Jenkins CI Environments with Docker',
      :short => '',
      :id => 'yt6QrwLs4HE'},
      ])

    .container
      .row.body
        .col-md-8
          = partial('blogs.html.haml', :tags => ['docker', 'containers'])

        .col-md-4

          =partial('news.html.haml')
          =partial('plugins.html.haml')
