---
layout: simplepage
title: "GSoC 2026 Project Ideas"
year: 2026
tags:
- gsoc
- gsoc2026
project: gsoc
opengraph:
  image: /images/gsoc/opengraph.png
---

//The individual page's layout is located at /content/_layouts/gsocprojectidea.html.haml

:css
  .pi_table {
    width: 100%;
  }
  .pi_table_header {
    text-align: center;
  }
  .pi_table_category {
    width: 100px;
  }
  .pi_table_skills {
    width: 175px;
  }

  @media screen and (max-width: 450px) {
    .pi_table {
      display: block;
      overflow-x: auto;
    }
  }

%img{:title => "Jenkins GSoC", :src => expand_link("/images/gsoc/jenkins-gsoc-logo_small.png"), :style => "float:right", :width => "128"}


%p
  = succeed '.' do
    This page aggregates project ideas for Google Summer of Code
    = page.year
  = succeed '.' do
    Refer to the Jenkins Google Summer of Code page
    %a{:href => expand_link("/projects/gsoc/")}
    for more information about this project and applications.
%p
  Below you can find project ideas that have been proposed for this year.
  New ideas may be proposed by interested mentors or GSoC contributors, such as new features in the core or "write a plugin for MY_TOOL_OR_SERVICE".
  Project ideas without potential mentors will be considered, though applicants may need to work with the community and GSoC org admins to find mentors.
  To add a new project idea, see:
  = succeed '.' do
    %a{:href => expand_link("/projects/gsoc/proposing-project-ideas/")}
      proposing project ideas

%h3
  Accepted ideas

%p
  The following list contains the project ideas that fully match the Jenkins project idea standard.
  The scope of these ideas is understood and we don't normally expect deep changes.
  All ideas have quick-start guidelines and newbie-friendly issues referenced.
  We welcome contributors to join the mentor teams and invite GSoC contributors to submit project proposal applications related to these ideas.

%table.pi_table.grid-all
  %thead
    %tr.pi_table_header
      %th Project
      %th Category
      %th Skills to study/improve
  %tbody
    // TODO: parameterize year
    - ideas = site.pages.select { |p| p.source_path =~ /\/content\/projects\/gsoc\/2026\/project-ideas\/[^\/]+.adoc/ }
    - ideas.each do |item|
      - if item.status == "published"
        %tr
          %td
            %a{:href => item.url}
              %strong
                = item.title
            %br
            = succeed '.' do
              = item.goal
            %br
            %b
              Potential Mentor(s):
            - item.mentors.each do |mentor|
              = display_user_optional(mentor)
          %td.pi_table_category
            - if item.category
              = item.category
            - else
              Undefined
          %td.pi_table_skills
            = item.skills.join(", ")

%h3
  Draft project ideas

%p
  In the following list, you can refer to draft project ideas, which are currently under review.
  The scope of such ideas may change during the discussions, but the idea is accepted in principle.
  You are welcome to comment on the draft and join the project as a mentor.
  If you are a GSoC contributor, it is also fine to explore and apply to the draft project ideas.

%table.pi_table.grid-all
  %thead
    %tr.pi_table_header
      %th Project
      %th Category
      %th Skills to study/improve
  %tbody
    // TODO: parameterize year
    - ideas = site.pages.select { |p| p.source_path =~ /\/content\/projects\/gsoc\/2026\/project-ideas\/[^\/]+.adoc/ }
    - ideas.each do |item|
      - if item.status == "draft"
        %tr
          %td
            %a{:href => item.url}
              %strong
                = item.title
            %br
              = succeed '.' do
                = item.goal
            %b
              Potential Mentor(s):
            - item.mentors.each do |mentor|
              = display_user_optional(mentor)
          %td.pi_table_category
            - if item.category
              = item.category
            - else
              Undefined
          %td.pi_table_skills
            = item.skills.join(", ")

// TODO parameterize year
- ideas = site.pages.select { |p| p.source_path =~ /\/content\/projects\/gsoc\/2026\/project-ideas\/[^\/]+.adoc/ }
- if ideas.length > 1
  %h3
    Ongoing discussion

  %p.markdown
    These proposals are suggestions from the mailing list, which have not been published as project ideas yet.
    The feasibility is yet to be defined, and the idea may be dismissed depending on the feedback.
    Everyone is welcome to participate in the discussion and join as a potential mentor.

  %table.pi_table.grid-all
    %thead
      %tr.pi_table_header
        %th Project
        %th Category
    %tbody
      - ideas.each do |item|
        - if item.status == "discussion"
          %tr
            %td
              %a{:href => item.links.emailThread}
                %strong
                  = item.title
              %br
                = succeed '.' do
                  = item.goal
            %td.pi_table_category
              - if item.category
                = item.category
              - else
                Undefined
