---
layout: documentation
title: "Pipeline Steps Reference"
---

- steps_dir = File.expand_path(File.dirname(__FILE__))
%p
  The following plugins offer Pipeline-compatible steps. Each plugin link offers
  more information about the parameters for each step.

%p
  Read more about how to
  integrate steps into your Pipeline in the
  %a{:href => "/doc/book/pipeline/syntax/#declarative-steps"} Steps
  section of the
  %a{:href => "/doc/book/pipeline/syntax"} Pipeline Syntax
  page.

%div
  %ul
    - sections_from(steps_dir).sort_by { |it| it[0].downcase }.each do |section, file, url, children|
      %li
        %a{:href => url}
          = section
        %ul
          - children.each do |section, file, sect_url, sect_children|
            %li
              %a{:href => "#{url}##{sect_url}"}
                = section

%hr/

.container
= partial ('_feedback-footer.html')
